/*
 * Copyright 1999/2000/2001 by Gero Kohnert
 *
 * this stylesheet was contributed and designed by the
 * nice guys of Visual Inventor <designservices@visual-inventor.com>
 *
 * CVS Info: $Id: visual.css,v 1.18 2003/03/10 18:54:13 gokohnert Exp $
 * $Author: gokohnert $
 *
 */

a:hover{
	 font-weight: bold;
	}

.tickerlink:visited {
        color: #8e7c80;
}


A {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


.nodeco {
	text-decoration: none;
}


A:link {
	color: #000066;	/* 4682b4 unvisited link */
}

A:visited {
	color: #000066;	/* 4682b4visited links */
}

A:active {
	color: #000066;	/* active links */
}


H1 {
	border: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #0099FF;
}


div.message {
	margin-top: 20px;
	text-align: center;
}

.warn {
	font-weight: bold;
	color: red;
}

/* preformatted text */
.pre {
	background: white;
	color: black;
}

/* text found by search */
.found {
	color: #E00000;
}

.dinfo {
	font-weight: normal;
	font-size: 10px;
	color: black;
}

.desc {
	font-weight: bold;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, Sans-Serif;
}

.pagetitle {
	color: black;
	background: #000000;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, Sans-Serif;
}

.navigate {
	font-size: 11px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, Sans-Serif;
	background: #333333;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 15px;
}

.state0 {
	background: #F0F000;
}

.text0 {
	color: #C0C000;
	font-size: 8px;
}

.state1 {
	background: #00BB00;
}

.text1 {
	color: #00BB00;
	font-size: 8px;
}

.state2 {
	background: #FF0000;
}

.text2 {
	color: #FF0000;
	font-size: 8px;
}

.headline {
	background: #000000;
}

/* line color 1 in overviews */
.line1 {
	background: #EAEAEA;
}

/* line color 2 in overviews */
.line2 {
	background: #DADADA;
}

/* not started task */
.task0 {
	background: #FFFFEE;
	color: black;
	font-size: small;
}

/* ongoing task */
.task1 {
	background: #EEFFEE;
	color: black;
	font-size: small;
}

/* finished task */
.task2 {
	background: #DDFFDD;
	color: black;
	font-size: small;
}

/* overdue task */
.task3 {
	background: #FFDDDD;
	color: black;
	font-size: small;
}

/* task done */
.taskdone {
	background: green;
	color: black;
	font-size: small;
}

/* task to do */
.tasktodo {
	background: #E00000;
	color: black;
	font-size: small;
}

/* task too much time */
.taskmuch {
	background: red;
	color: black;
	font-size: small;
}

/* office */
.apploc0 {
	color: black;
}

/* out */
.apploc1 {
	color: black;
}

/* vacation */
.apploc2 {
	color: green;
}

/* sick */
.apploc3 {
	color: red;
}
/* Postponed */
.apploc4 {
        font-family: tahoma, verdana, arial, sans-serif;
        color: black;
        font-size: 11px;
}

/* option */
.apploc5 {
        font-family: tahoma, verdana, arial, sans-serif;
        color: black;
        font-size: 11px;
}
/* private */
.apploc6 {
        font-family: tahoma, verdana, arial, sans-serif;
        color: black;
        font-size: 11px;
}

.holiday {
	background: #FFD0D0;
	vertical-align: top;
}

.freeday {
	background: #FFE0E0;
	vertical-align: top;
}

.appday {
	background: #E0E0E0;
	vertical-align: top;
}

.today {
	background: #E0F0E0;
	vertical-align: top;
}

.week {
	background: #BBCCDD;
	font-weight: bold;
	width: 5%;
	vertical-align: top;
}

.app {
	background: white;
	color: black;
	font-size: 10px;
}
.app0 {
        background: #e8ece8 ;
        color: black;
        font-size: 10px;
}
/* out */
.app1 {
	background: #f8f8d8 ;
        color: black;
        font-size: 10px;
}
/* vacation */
.app2 {
	background: #e8dcd8 ;
        color: black;
        font-size: 10px;
}
/* sick */
.app3 {
	background: #d8ecd8 ;
        color: black;
        font-size: 10px;
}
/* Postponed */
.app4 {
	background: #d8dce8 ;
        color: black;
        font-size: 10px;
}
/* Option */
.app5 {
        background: #e8ece8 ;
        color: black;
        font-size: 10px;
}
/* Private */
.app6 {
	background: #e8ece8 ;
        color: black;
        font-size: 10px;
}

.privapp {
	background: #FFEEEE;
	color: black;
	font-size: 10px;
}

ADDRESS {
	background: yellow;
	font-size: x-small;
}

TABLE {
	margin: 0px;
}

TABLE.single {
	background: #EEEEEE;
}

TABLE.inner {
	background: #EEEEEE;
}

TABLE.outer {
	background: #101010;
	margin: 0px;
	padding: 1px;
}

PRE {
	font-size: 11px;
	font-family: Arial, Helvetica, Geneva, Sans-Serif;
}

BODY {
	/* background: #EEEEEE; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

TD {
	font-size: 11px;
	font-family: Arial, Helvetica, Geneva, Sans-Serif;
}

TH {
	font-size: 12px;
	background: white;
	color: black;
	font-family: Arial, Helvetica, Geneva, Sans-Serif;
}

INPUT {
	font-family: Arial, Helvetica, Geneva, Sans-Serif;
	font-size: 11px;
        border-style: none;
	color: black;
}

SELECT {
	font-family: Arial, Helvetica, Geneva, Sans-Serif;
	font-size: 11px;
    border-style: none;
	color: black;
}

SPAN.warn {
	font-weight: bold;
	color: red;
}

IMG.menu {
	border: 0;
}

IMG.list {
	border: 0;
}

/* EOF */
.bars {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CCCCCC;
}

