/* Start header styles */
header {
    overflow:hidden;
    width:100%;
    height:34px;
    background: url('/img/bg_header2.png');
    background-repeat:repeat-x;
    background-color:#000000;
    border-bottom:1px solid #4d4d4d;
}
hgroup{
    margin: 0 auto;
    text-align: left;
}
#logo {
    float:left;
    width:148px;
    height:25px;
    margin:5px 0 0 15px;
}

.logo{
    width:148px;
    height:25px;
    background: url('/img/logo_148x25.png');
    background-repeat:no-repeat;
}
#search{
    float:right;
    width:35px;
    height:34px;
}
.search_button{
    width:35px;
    height:34px;
    background: url('/img/btn_header_search.png');
    background-repeat:no-repeat;
}
#menu{
    float:right;
    width:35px;
    height:34px;
}
.menu_button{
    width:35px;
    height:34px;
    background: url('/img/btn_header_menu.png');
    background-repeat:no-repeat;
}
#top-banner {
    display:block;
    margin:3px 0 3px 0;
    text-align:center;
    z-index:1;
}
/* End header styles */


/* Start navigation */
nav {
    display:none;
    position:absolute;
    right:0;
    float:right;
    width:60%;
    height:410px;
    background-color:#4d4d4d;
    z-index:2;
}

nav  a{
    text-decoration:none;
}
nav  a:link, nav  a:visited {
    color:#fff;
    display:block;
    font:normal 12px arial, helvetica, tahoma, verdana, sans-serif;
    font-weight:bold;
    padding:9px 7px;
}

nav  li {
    display:block;
    padding-left:15px;
    border-bottom:1px solid #666666;
}
nav  li:hover {
    background-color:#333333;
}
.nav_page{
    background-color:#c92d2d;
}

/* End navigation */

/* Start Search bar */
.header-search-form-container{
    display:none;
}
.mobile-search-form-container{
    overflow:hidden;
    display:none;
    position:absolute;
    width:100%;
    height:37px;
    background-color:#000000;
    z-index:2;
}
#search-term-input{
    display:block;
    float:left;
    margin:0 5px 0 15px;
    padding-left:10px;
    width:70%;
    height:18px;
    border:0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.mobile-search-form-container .lookitup{
    display:block;
    float:left;
    margin-top:10px;
    width:69px;
    height:20px;
    background-image:url('/img/button_search_mobile.png');
    background-repeat:no-repeat;
    border:0;
}
/* End Search bar */

/** start homepage Term of the day **/
#term_of_the_day{
    background-color:#16a6b6;
}
#term_of_the_day .totd-title{
    display:block;
    padding:5px 0 10px;
}
#term_of_the_day .totd-title .totd-title-text{
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 16px;
    line-height:24px;
    margin-top:5px;
    margin-left:15px;
    color:#ffffff;
}
#term_of_the_day .totd-title-description span{
    margin-left:15px;
    font-size:12px;
    line-height:26px;
    color:#ffffff;
}

#term_of_the_day .totd-content{
    padding:0 15px;
    color:#ffffff;
    line-height:20px;

}
#term_of_the_day .totd-content .term {
    display:block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size:26px;
    line-height:30px;
    margin-bottom:11px;
    color:#ffffff;

}

#term_of_the_day .totd-date-container{
    margin:0 15px 15px 0;
    padding:10px;
    background-color:#004b5c;
    font-family:arial;
    font-size:14px;
    line-height:24px;
    font-weight:bold;
    color:#ffffff;
    float:left;
    text-align:center;
}
#term_of_the_day .totd-date-container .totd-month{
    display:block;
    margin-bottom:20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size:28px;
}
#term_of_the_day .totd-date-container .totd-date{
    display:block;
    margin-bottom:20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size:46px;
}
#term_of_the_day .totd-date-container .totd-comma{
    display:none;
}

#term_of_the_day .totd-date-container .totd-year{
    display:none;
}
#term_of_the_day .totd-date-container .totd-day{
    display:block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size:14px;
}


.totd-content a{
    color:#ffffff;

}
.totd-content .more {
    float:right;
    margin:12px 0px 0px 0px;
    text-align:right;
    font-weight:bold;
    font-style:italic;
    color:#ffffff;
}
/* end homepage Term of the day */

/* start Previous Terms-of-the-Day */
#previous_terms-of-the-day{
    display:none;
    
}
/* end Previous Terms-of-the-Day */

/* start bullet list single column listing widget styles */
.bullet_list{
    overflow:hidden;
    background-color:#ffffff;
    border-top:4px solid #cccccc;
}

.bullet_list .bullet-listing-title{
    background-color:#ed1f23;
}
.bullet_list .bullet-listing-title span{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height:42px;
    margin-top:5px;
    margin-left:15px;
    color:#ffffff;
}
.bullet_list .bullet-listing-title span a{

    color:#ffffff;
}
.bullet_list .listing-description span{
    display:block;
    margin-top:10px;
    margin-left:20px;
    font-size:12px;
    line-height:26px;
    color:#666666;
}
.bullet_list .listing-column{
    width:100%;
}
.bullet_list .listing-unordered-list{
    width:50%;
    float:left;

}
.bullet_list .listing-unordered-list li{
    margin:7px 0px 0px 25px;
    padding-bottom:5px;
    border-bottom:1px solid #cccccc;
    list-style-type: disc;
}

.bullet_list .listing-unordered-list li a{
    color:#ff6969;
    font-weight:bold;
    font-size:14px;
}
/* end bullet list single column listing widget styles */

/* Start DFP IMU styles */
.imu{
    display:block;
    margin:3px 0 3px 0;
    text-align:center;
}
/* End DFP IMU styles */

/** start single column listing widget styles  **/
#homepage_did_you_know{
    overflow:hidden;
    background-color:#ffffff;
    border-top:4px solid #cccccc;
}

#homepage_did_you_know .single-column-listing-widget-title{
    background-color:#ed1f23;
}
#homepage_did_you_know .single-column-listing-widget-title span{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height:42px;
    margin-top:5px;
    margin-left:15px;
    color:#ffffff;
}

#homepage_did_you_know .single-column-listing-widget-content{
    padding:20px 15px 0px 15px;
}
#homepage_did_you_know .single-column-listing-widget-content .term{
    font:bold 14px arial, serif;
    color:#666666;
}
#homepage_did_you_know .single-column-listing-widget-content p{
    margin:8px 0 5px 0;
    font:14px Arial, sans-serif, Helvetica;
    color:#666666;
    line-height:18px;
}
#homepage_did_you_know .single-column-listing-widget-content .more{
    display:block;
    text-align:right;
    font-weight:bold;
    font-style:italic;
    padding-bottom:10px;
    margin-bottom:10px;
    color:#ff4141;
}




#homepage_quick_reference{
    overflow:hidden;
    background-color:#ffffff;
    border-top:4px solid #cccccc;
}

#homepage_quick_reference .single-column-listing-widget-title{
    background-color:#ed1f23;
}
#homepage_quick_reference .single-column-listing-widget-title span{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height:42px;
    margin-top:5px;
    margin-left:15px;
    color:#ffffff;
}

#homepage_quick_reference .single-column-listing-widget-content{
    padding:20px 15px 0px 15px;
}
#homepage_quick_reference .single-column-listing-widget-content .term{
    font:bold 14px arial, serif;
    color:#666666;
}
#homepage_quick_reference .single-column-listing-widget-content p{
    margin:8px 0 5px 0;
    font:14px Arial, sans-serif, Helvetica;
    color:#666666;
    line-height:18px;
}
#homepage_quick_reference .single-column-listing-widget-content .more{
    display:block;
    text-align:right;
    font-weight:bold;
    font-style:italic;
    padding-bottom:10px;
    margin-bottom:10px;
    color:#ff4141;
}

/** end single column listing widget styles  **/

/* start two column listing widget styles  */
.listing_two_column{
    float:left;
    overflow:hidden;
    width:330px;
    height:226px;
    background-color:#ffffff;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
}
.listing_two_column .header-box{
    margin:0;
    padding:0;
}
.listing-title{
    border-bottom:6px solid #c92c2c;
}
.listing-title span{
    margin-left:20px;
    font-size:24px;
    line-height:42px;
    color:#000000;
}
.listing-description span{
    display:block;
    margin-top:10px;
    margin-left:20px;
    font-size:12px;
    line-height:26px;
    color:#666666;
}
.listing-column{
    float:left;
    width:165px;
}
.listing-unordered-list li{
    margin:7px 0px 0px 20px;
}

#in_the_news{
    margin-top:15px;

}
/** end two column listing widget styles  **/

/* Start subpage 2 column layout */

.right_column, .left_column{
    display:block;
}

/* End subpage 2 column layout */

/* Start article page */
#article_content_container{
    margin-top:0;
}
#article_content{
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
    line-height:24px;
    color:#666666;
}
#article_main_column{

}

#article_content h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height:34px;
    color: #000;
    margin:15px 0 5px 0;
}

#article_content  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
    

.article_social{
    width:100%;
    border-bottom:1px solid #cccccc;
    height:28px;
    margin-bottom:5px;

}
.article_social ul {
    list-style-type: none;
}
.article_social ul li{
    float:left;
    display:block;
    width:auto;
    list-style-type: none;
}
.article_social ul #fbsocial{
    margin-right:20px;
}
.byline{

    display:block;
    margin-bottom:10px;
    line-height:13px;
}
#article_main_column  .article_related_items div{
    float:left;
    display:block;
    width:50%;
    margin-top:30px;
}



#article_main_column .article_related_items #related_terms{

    color:#000000;
    line-height:13px;
    margin-bottom:20px;

}
#article_main_column .article_related_items #related_terms li{
    margin-bottom:10px;
}

#article_main_column .article_related_items h3{

    color:#000000;
    font:bold 16px arial, helvetica, tahoma, verdana, sans-serif;
    line-height:26px;

}
#article_main_column .article_related_items #related_terms li a{
    color:#ff3333;
}
#article_main_column .related_links_container h3{

    color:#000000;
    font:bold 16px arial, helvetica, tahoma, verdana, sans-serif;
    line-height:26px;

}
#article_main_column .related_links_container #related_links{

    color:#000000;
    line-height:22px;
    list-style-type: disc;
    margin-left:20px;

}
#article_main_column .related_links_container #related_links li a{
    color:#ff3333;
}



#article_main_column .article_pagination{
    border-top:1px solid #cccccc;
    border-bottom:2px solid #cccccc;
}
#article_main_column .previous_link{
    float:left;
    width:50%;
    border-right:1px solid #cccccc;
    background-image:url('/img/left_pagination_arrow.png');
    background-repeat:no-repeat;
    background-position:0px 20px;

}
#article_main_column .previous_link a{
    display:block;
    color:#696969;
    font-family: 'Oswald', sans-serif;
    margin:3px 0 3px 0;
    padding:5px 0 5px 20px;
}
#article_main_column .next_link{
    float:left;
    width:49%;
    text-align:right;
    background-image:url('/img/right_pagination_arrow.png');
    background-repeat:no-repeat;
    background-position:99% 20px;
}
#article_main_column .next_link a{
    display:block;
    color:#696969;
    font-family: 'Oswald', sans-serif;
    margin:3px 0 3px 0;
    padding:5px 20px 5px 0;
}
#article_main_column .see_also{
    margin-bottom:15px;
}

#article_main_column .see_also h3{

    color:#000000;
    font:bold 16px arial, helvetica, tahoma, verdana, sans-serif;
    line-height:26px;

}
#article_main_column .see_also ul{
    list-style-type: disc;
    padding-left:20px;

}
#article_main_column .see_also ul li{
    line-height:13px;
    margin-bottom:10px;
}
#article_main_column .see_also ul li a{
    color:#ff3333;
}
#article_main_column .pagination ul{
    width:auto;
}




#article_content  #right_rail_did_you_know{
    display:block;

}

/* End article page */

/* Start Category Index Listing page */
#category_index_listing .article-listing-widget-title .article-listing-widget-title-text{
    display:block;
    color:#000000;
    font-family: 'Oswald', sans-serif;
    font-size:32px;
    margin-bottom:30px;
}
#category_index_listing .article-listing-widget-content li{

    border-bottom:1px solid #cccccc;
    padding-bottom:5px;
    margin-bottom:15px;

}
#category_index_listing .article-listing-widget-content li h3 a{

    color:#ed1f23;
}

#category_index_listing .article-listing-widget-content li .more{

    font-weight:bold;
    color:#ed1f23;
}
/* End Category Index Listing page */

/* Start Did You Know page */
.category_page_intro{
    font-style:italic;
    border-bottom:2px solid #cccccc;
    margin-bottom:15px;
}
#categorypage_did_you_know
{
    margin-bottom:20px;
}
#categorypage_did_you_know .article-listing-widget-title .article-listing-widget-title-text{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#000000;
}
#did_you_know_internet .article-listing-widget-title{
    background-color:#333333;
}

#did_you_know_internet .article-listing-widget-title .article-listing-widget-title-text{
    display:block;
    margin:5px;
    padding:5px 0px;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-size:16px;
}
#did_you_know_internet .article-listing-widget-title .article-listing-widget-title-text a{

    color:#ffffff;
}
#did_you_know_computer_science .article-listing-widget-title{
    background-color:#333333;
}

#did_you_know_computer_science .article-listing-widget-title .article-listing-widget-title-text{
    display:block;
    margin:5px;
    padding:5px 0px;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-size:16px;
}
#did_you_know_computer_science .article-listing-widget-title .article-listing-widget-title-text a{

    color:#ffffff;
}
#did_you_know_hardware_software .article-listing-widget-title{
    background-color:#333333;
}

#did_you_know_hardware_software .article-listing-widget-title .article-listing-widget-title-text{
    display:block;
    margin:5px;
    padding:5px 0px;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-size:16px;
}
#did_you_know_hardware_software .article-listing-widget-title .article-listing-widget-title-text a{

    color:#ffffff;
}
.dyk_more_link{
    display:block;
    text-align:right;
    font-style:italic;
    font-weight:bold;
    color:#ed1f23;

}
/* End Did You Know page */

/* Start Quick Reference page */

#categorypage_quick_reference
{
    margin-bottom:20px;
}
#categorypage_quick_reference .article-listing-widget-title .article-listing-widget-title-text{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#000000;
}
#categorypage_quick_reference  ul
{
    list-style:none;
}


#categorypage_quick_reference  ul li h3 a
{
    color:#ed1f23;
    
}
#categorypage_quick_reference  ul li a
{
    color:#ed1f23;
    
}
#categorypage_quick_reference  ul li p
{
    padding-bottom:10px;
}
#quick_reference_index ul li{

    margin-right:10px;
    margin-bottom:20px;
    line-height:14px;
}
#quick_reference_index ul li h3 a{
    color:#ed1f23;
    font-size:12px;
    line-height:15px;
}
#quick_reference_index ul li a{
    color:#ed1f23;
}
/* End Quick Reference page */

/* Start pagination */
.pagination {
    text-align:right;
    font-weight:bold;
    height:25px;
    border-bottom:2px solid #cccccc;
    margin-bottom:20px;
}
.pagination  ul{
    width:320px;
    float:right;

}
.pagination  ul li{
    float:left;
    display:block;
}

.pagination  ul .active{
    float:left;
    display:block;
    margin-left:10px;
    color:#000000;
}

.pagination  ul a{
    float:left;
    display:block;
    margin-left:10px;
    color:#999999;
}

.pagination_bottom{

    clear:both;
    text-align:right;
    border-bottom:2px solid #cccccc;
    padding-bottom:15px;
    margin-bottom:20px;
    color:#000000;
}
.pagination_bottom a{
    color:#ed1f23;
    font-weight:bold;
}
.pagination_bottom .more_quick_reference{
    color:#ed1f23;
    font-weight:bold;
}
/* End pagination */
/* Start all category index page */
#all_categories_content_container{
    margin:0 auto;
    background-color:#ffffff;
    width:620px;
}
#all_categories_content{
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}

#all_categories_main_column{
    line-height:18px;
    color:#666666;
}
#all_categories_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom:10px;
}

#all_categories_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}


#all_categories_main_column .all_cat_column .bullet_list{
    border:0;
    height:auto;
    margin-bottom:20px;
}

#all_categories_main_column .all_cat_column .bullet_list .bullet-listing-title{
    border-bottom:1px solid #808080;
    background-color:#ffffff;
    margin-bottom:10px;
}

#all_categories_main_column .all_cat_column .bullet_list .bullet-listing-title span{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #000;
    margin-left:0;
}
#all_categories_main_column .all_cat_column .bullet_list .bullet-listing-title span a{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #000;
    margin-left:0;
}
#all_categories_main_column .all_cat_column .bullet_list ul{
    width:280px;
    float:left;
}
#all_categories_main_column .all_cat_column .bullet_list #listing-column_1{
    margin-right:9px;
}
#all_categories_main_column .all_cat_column .bullet_list  ul li{
    list-style-type: none;
    border:0;
    padding:0;
    margin:0;
    
}
#all_categories_main_column .all_cat_column .bullet_list  ul li a{
    color:#ed1f23;
    line-height:14px;
    padding:0;
    margin:0;
}
/* End all category index page */

/* Start all category page */
#category_drilldown_content_container{
    margin:0 auto;
    background-color:#ffffff;
    width:620px;
}
#category_drilldown_content{
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}

#category_drilldown_main_column{
    line-height:18px;
    color:#666666;
}
#category_drilldown_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin:10px 0px 5px 0px;
}

#category_drilldown_main_column  h2{
    margin:10px 0 10px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
    border-bottom:1px solid #808080;
}
#category_drilldown_main_column  .bullet_list{
    border:0;
    height:auto;
    margin-bottom:20px;
}

#category_drilldown_main_column  .bullet_list .bullet-listing-title{
    border-bottom:1px solid #808080;
    background-color:#ffffff;
    margin-bottom:10px;
}

#category_drilldown_main_column  .bullet_list .bullet-listing-title span{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #000;
    margin-left:0;
}
#category_drilldown_main_column  .bullet_list ul{
    width:280px;
    float:left;
}
#category_drilldown_main_column .bullet_list #listing-column_1{
    margin-right:9px;
}
#category_drilldown_main_column  .bullet_list  ul li{
    list-style-type: none;
    border:0;
    padding:0;
    margin:0;
    
}
#category_drilldown_main_column  .bullet_list  ul li a{
    color:#ed1f23;
    line-height:14px;
    padding:0;
    margin:0;
}


/* End all category page */

/* Start Browse Term page */
#term_content_container{
    margin:0 auto;
    background-color:#ffffff;
    width:620px;
}
#term_content{
    background-color:#ffffff;
    overflow:hidden;
}

#term_main_column{
    line-height:18px;
    color:#666666;
}
#term_main_column .page_intro p{

    font-style:italic;
    margin:0 20px 20px 20px;

}
#term_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin:10px 0 0 20px;
}

#term_main_column  h2{
    margin:10px 0 10px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
    border-bottom:1px solid #808080;
}
#term_main_column  .bullet_list{
    border:0;
    height:auto;
    margin-bottom:20px;
}

#term_main_column  .bullet_list .bullet-listing-title{
    background-color:#ed1f23;
    margin-bottom:10px;
}

#term_main_column  .bullet_list .bullet-listing-title span{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-left:20px;
}

#term_main_column .bullet_list #listing-column_1{
    margin-right:9px;
}
#term_main_column  .bullet_list  .listing-column ul li{
    float:left;
    width:260px;
    list-style-type: disc;
    padding:0;
    margin:0 10px 0 20px;
    
}
#term_main_column  .bullet_list  .listing-column ul li a{
    display:block;
    color:#ed1f23;
    line-height:14px;
    padding:0;
    margin:5px 0 5px 0;
}
#term_main_column #recent_terms .bullet-listing-title span a{

    color:#ffffff;

}
#term_main_column #recent_terms .listing-column #bullet-listing-col2 li:last-child
{
    text-align:right;
    list-style: none;
    border:0;
    
}
#term_main_column #previous_terms_of_the_day {

    margin-bottom:20px;

}
#term_main_column #previous_terms_of_the_day .previous-totd-title{
    padding:15px 0 5px 0;
    background-color:#ed1f23;
    margin-bottom:10px;
}

#term_main_column #previous_terms_of_the_day .previous-totd-title span{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-left:20px;
}
#term_main_column #previous_terms_of_the_day .previous-totd-title span a{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}
#term_main_column #previous_terms_of_the_day .previous-totd-content{
    margin-left:20px;
    line-height:24px;
    color:#000000;
    font-size:14px;

}
#term_main_column #previous_terms_of_the_day .previous-totd-content a{
    color:#ed1f23;
}
#term_main_column #previous_terms_of_the_day .previous-totd-content .more{
    text-align:right;
    font-weight:bold;
    float:right;
}
#term_right_column{
    margin:0 20px 0 20px;
}


/* End Browse Term page */


/* Start Recent Term page */
#recent_terms_page_content_container{
    margin:0 auto;
    background-color:#ffffff;
    width:620px;
}
#recent_terms_page_content{
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}

#recent_terms_page_main_column{
    line-height:18px;
    color:#666666;
}
#recent_terms_page_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom:10px;
}

#recent_terms_page_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}


#recent_terms_page_main_column .all_cat_column .bullet_list{
    border:0;
    height:auto;
    margin-bottom:20px;
}

#recent_terms_page_main_column .all_cat_column .bullet_list .bullet-listing-title{
    border-bottom:1px solid #808080;
    background-color:#ffffff;
    margin-bottom:10px;
}

#recent_terms_page_main_column .all_cat_column .bullet_list .bullet-listing-title span{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #000;
    margin-left:0;
}
#recent_terms_page_main_column .all_cat_column .bullet_list ul{
    width:280px;
    float:left;
}
#recent_terms_page_main_column .all_cat_column .bullet_list #listing-column_1{
    margin-right:9px;
}
#recent_terms_page_main_column .all_cat_column .bullet_list  ul li{
    list-style-type: none;
    border:0;
    padding:0;
    margin:0;
    
}
#recent_terms_page_main_column .all_cat_column .bullet_list  ul li a{
    color:#ed1f23;
    line-height:14px;
    padding:0;
    margin:0;
}
/* End Recent Term page */



/* Start Previous Terms page */
#previous_terms_page_content_container{
    margin:0 auto;
    background-color:#ffffff;
    width:620px;
}
#previous_terms_page_content{
    background-color:#ffffff;
    overflow:hidden;
}

#previous_terms_page_main_column{
    line-height:18px;
    color:#666666;
}
#previous_terms_page_main_column .page_intro p{

    font-style:italic;
    margin:0 20px 20px 20px;

}
#previous_terms_page_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin:10px 0 0 20px;
}

#previous_terms_page_main_column  h2{
    margin:10px 0 10px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
    border-bottom:1px solid #808080;
}
#previous_terms_page_main_column  .bullet_list{
    border:0;
    height:auto;
    margin-bottom:20px;
}

#previous_terms_page_main_column  .bullet_list .bullet-listing-title{
    background-color:#ed1f23;
    margin-bottom:10px;
}

#previous_terms_page_main_column  .bullet_list .bullet-listing-title span{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-left:20px;
}

#previous_terms_page_main_column .bullet_list #listing-column_1{
    margin-right:9px;
}
#previous_terms_page_main_column  .bullet_list  .listing-column ul li{
    float:left;
    width:260px;
    list-style-type: disc;
    padding:0;
    margin:0 10px 0 20px;
    
}
#previous_terms_page_main_column  .bullet_list  .listing-column ul li a{
    display:block;
    color:#ed1f23;
    line-height:14px;
    padding:0;
    margin:5px 0 5px 0;
}
#previous_terms_page_main_column #recent_terms .listing-column .listing-unordered-list li:last-child
{
    text-align:right;
    list-style: none;
    border:0;
    
}
#previous_terms_page_main_column #previous_terms_of_the_day {

    margin-bottom:20px;

}
#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-title{
    padding:15px 0 5px 0;
    margin-bottom:10px;
}

#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-title span{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    color: #000000;
    margin-left:20px;
}
#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-content{
    margin-left:20px;
    line-height:24px;
    color:#000000;
    font-size:14px;

}
#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-content a{
    color:#ed1f23;
}
#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-content .more{
    text-align:right;
    font-weight:bold;
    float:right;
}
/* End  Previous Terms page */


/* Start Resources page */
#resources_content_container{
    margin-top:0;
}
#resources_content{
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
    line-height:24px;
    color:#666666;
}
#resources_main_column{

}

#resources_content h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom:10px;
}

#resources_content  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#resources_main_column h3{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin-bottom:10px;
}  
#resources_content p{
    font-size:14px;
}
#resources_main_column .intro{
    font-size:12px;
    font-style:italic;
}
#resources_main_column .subscribe{
    margin-top:15px;
    background-color:#37c4d3;
    padding:13px;
}
#resources_main_column .subscribe img{
    vertical-align:top;
}
#resources_main_column .subscribe img:last-child{
    display:none;
}
#resources_main_column .subscribe span{
    margin:0 10px 0 10px;
    display:inline-block;
    width:410px;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:18px;
    line-height:24px;
}

#resources_main_column .newsletter-widget{
    display:block;
    width:auto;
    margin:0;
    padding-left:15px;
    background-color:#37c4d3;

}
#resources_main_column .newsletter-widget #navnewemailbox_content{
    float:left;
}
#resources_main_column .newsletter-widget #navnewemailbox_content .email_input{
    border:0;
    background-image:url('/img/newsletter_subscription_input2.png');
    background-repeat:no-repeat;
    width:256px;
    height:25px;
    margin-bottom:10px;
    padding-left:5px;

}
#resources_main_column .newsletter-widget #navnewstextid{
    float:left;
    margin: -5px 0 0 10px;
}
#resources_main_column .facebook{
    margin-top:25px;
}
#resources_main_column .facebook h3{
    display:inline-block;
    font-size:26px;
}
#resources_main_column .facebook #fb_icon{
    margin-left:150px;
}
#resources_main_column .facebook .social_icon{
    margin-left:5px;
    vertical-align:middle;
}
#resources_main_column .facebook .facebook_right{
    display:none;
}
#resources_main_column .facebook p{
    line-height:30px;
    margin-right:10px;
}
#resources_main_column .facebook .facebook_left{
    margin-top:20px;
    padding-top:20px;
    border-top:1px solid #cccccc;
}
#resources_main_column .facebook .facebook_left img{
    display:block;
}

#resources_main_column .share_section {
    margin-top:30px;
    padding-top:20px;
    border-top:1px solid #cccccc;

}
#resources_main_column .share_section  .share_gplus{
    margin-top:30px;
    padding-top:20px;
    border-top:1px solid #cccccc;
}

#resources_main_column .section_blog_search {
    margin-top:30px;
    padding-top:20px;
    border-top:1px solid #cccccc;

}
#resources_main_column .section_blog_search  div{
    float:left;
}
#resources_main_column .section_blog_search .blog{
    margin-right:10px;
    margin-bottom:20px;
}
#resources_main_column .section_blog_search .search_code{
    width:360px;
    overflow:hidden;
}
#resources_main_column .section_blog_search .search_code .search_sample{
    margin-bottom:10px;
}
#resources_main_column .section_blog_search .search_code #txtSearch {
    width:354px;
	font-family:arial;
	font-size:11px;
	color:#666666;
}

/* End Resources page */









/* Start about us page */
#about_us_content_container{
    margin-top:0;
}
#about_us_content{
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
    line-height:24px;
    color:#666666;
}
#about_us_main_column{

}

#about_us_content h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom:10px;
}

#about_us_content  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#about_us_main_column h3{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin-bottom:10px;
}  
#about_us_content p{
    font-size:14px;
}
/* End about us page */


/* Start blog page */
#blog_content_container{
    margin-top:0;
}
#blog_content{
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
    line-height:24px;
    color:#666666;
}
#blog_main_column p{
    font-size:14px;
}

#blog_content h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom:10px;
}

#blog_content  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#blog_main_column .social_container{
    background-color:#f1f1f1;
    width:580px;
    height:56px;
}
#blog_main_column .social_container .follow{
    float:left;
    width:180px;
    height:56px;
    background-color:#37c4d3;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size:19px;
    line-height:56px;
    color:#ffffff;
    padding-left:14px;
    
}
#blog_main_column .social_container .social_icons{
    float:left;
    margin:6px 0 0 0;
}
#blog_main_column .social_container .social_icons img{
    margin-left:8px;
}
#blog_main_column .blog_list_container{

}
#blog_main_column .blog_list_container .blog_post{
    margin-top:10px;
    padding-top:15px;
    border-top:2px solid #cccccc;
}
#blog_main_column .blog_list_container .blog_post .comments{
    border-bottom:1px solid #cccccc;
}
#blog_main_column .blog_list_container .blog_post h3 a{
    color:#000000;
    font-size:20px;
}
#blog_main_column .blog_list_container .blog_post .blog_thumbnail{
    display:none;
}
#blog_main_column .blog_list_container .blog_post .post_text a{

    color:#ed1f23;
}
#blog_main_column .blog_list_container .blog_post .read_more{
    float:right;
    font-weight:bold;
    color:#ed1f23;
}
/* End blog page */

/* Start blog article page */
#blog_article_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#blog_article_content{
    padding:20px;
    background-color:#ffffff;
    overflow:hidden;
}

#blog_article_main_column{
    color:#666666;
}
#blog_article_main_column p{
    font-size:12px;
    line-height:20px;

}
#blog_article_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height:30px;
    color: #000;
    margin:15px 0 5px 0;
}

#blog_article_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#blog_article_main_column .article_social{

    border-bottom:1px solid #cccccc;
    height:28px;
    margin-bottom:5px;
}
#blog_article_main_column .byline{

    display:block;
    margin-bottom:10px;
}

#blog_article_main_column .social_container{
    background-color:#f1f1f1;
    width:611px;
    height:56px;
}
#blog_article_main_column .social_container .follow{
    float:left;
    width:180px;
    height:56px;
    background-color:#37c4d3;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size:19px;
    line-height:56px;
    color:#ffffff;
    padding-left:14px;
    
}
#blog_article_main_column .social_container .social_icons{
    float:left;
    margin:6px 0 0 180px;
}
#blog_article_main_column .social_container .social_icons img{
    margin-left:15px;
}

#blog_article_main_column .blog_list_container{

}
#blog_article_main_column .blog_list_container .blog_post{
    margin-top:10px;
    padding-top:15px;
    border-top:2px solid #cccccc;
}
#blog_article_main_column .blog_list_container .blog_post .comments{
    border-bottom:1px solid #cccccc;
}
#blog_article_main_column .blog_list_container .blog_post h3 a{
    color:#000000;
    font-size:24px;
}
#blog_article_main_column .blog_list_container .blog_post .blog_thumbnail{
    display:block;
    float:left;
    margin-top:10px;
    border:1px solid #000000;
    margin-right:10px;
}
#blog_article_main_column .blog_list_container .blog_post .post_text a{

    color:#ed1f23;
}
#blog_article_main_column .blog_list_container .blog_post .read_more{
    float:right;
    font-weight:bold;
    color:#ed1f23;
}





#blog_article_main_column #comment_wrapper {
    width:auto;
    margin-top:15px;
    padding:10px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-color:#f6f6f6;
}
#blog_article_main_column #comment_wrapper  h3{
    color:#ed1f23;

}


.pgnumber_holder {
    background: url("/images/pageing_bg.jpg") repeat-x scroll center top
        transparent;	
	border: 1px solid #CCCCCC;
	float: left;
	font-size: 10px;
	font-weight: bold;
	padding: 0 5px;
}

.pgnumber_holder a {
	border-color: -moz-use-text-color #F7F7F7;
	border-left: 1px solid #F7F7F7;
	border-right: 1px solid #F7F7F7;
	border-style: none solid;
	border-width: medium 1px;
	color: #008CB4;
	float: left;
	font-size: 10px;
	font-weight: bold;
	padding: 1px 7px;
	text-decoration: none;
}

#comment_wrapper a:link,#comment_wrapper a:visited {
	color: #333333;
	font-size: 8pt;
}

#comment_wrapper a:active,#comment_wrapper a:hover {
	color: #333333;
	font-size: 8pt;
}

#commentform {
	width: 80%;
}

.comment {
	background-color: #EFEFEF;
	margin-top: 15px;
	overflow: hidden;
	padding: 10px;
    border-left:6px solid #ed1f2a;
}

.even {
	background-color: #ffffff;
    border-left:6px solid #8e0008;
}

div.userinfo {
	color: #333333;
	font-family: arial, helvetica, sans-serif;
	font-size: 9pt;
}

.userinfo a:link,.userinfo a:visited {
	color: #333333;
	font-size: 9pt;
}

.userinfo a:active,.userinfo a:hover {
	color: #333333;
	font-size: 9pt;
}
.commentChild{
	margin-left:25px;
}
span.username {
	color: #333333;
	font-weight: bold;
}

input.error {
	border: 1px dotted red;
}

#comment_wrapper .error {
	margin: 0;
	width: auto;
	color: red;
}

#comment_wrapper .error ul {
	margin-left: 10px;
}

#comment_wrapper .error ul li{
	list-style-type: none;
}

#message_counter {
	margin: 0;
	font-size: 8pt;
}

#comment_wrapper .success {
	color: green;
	display: none;
}

#comment_wrapper .success img {
	margin-left: 7px;
}

#comment_wrapper .success span {
	bottom: 1px;
	margin-left: 3px;
	position: relative;
}

#comment_wrapper .fail {
	color: red;
	display: none;
}

#comment_wrapper .fail img {
	margin-left: 7px;
}

#comment_wrapper .fail span {
	bottom: 1px;
	margin-left: 3px;
	position: relative;
}

#comment_pagination_top #top_loading{
	vertical-align: middle;
	margin-top: 3px;
	margin-left: 6px;
	text-align: center;
	display: none;
}
#comment_pagination_bottom #bottom_loading{
	vertical-align: middle;
	margin-top: 3px;
	margin-left: 6px;
	text-align: center;
	display: none;
}
#recaptcha_widget_div{
    width:310px !important;
    padding:0px !important;
    margin:0px;
    float:left;
    border:1px !important;
}

#recaptcha_area table{
    padding:0px;
    margin:0px;
}
.recaptcha_input_area_text span{
    display:inline;
    line-height:8pt;
}
#recaptcha_privacy{
    display:block;
    margin-top:6px;
}
.error{
    display:block;
}
/* End blog article page */

/* Start search result page */
#search_results_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#search_results_content{
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#search_results_main_column{
    color:#666666;
}

#search_results_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #000000;
    margin-bottom:10px;
}

#search_results_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 30px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#search_results_main_column h3{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin-bottom:10px;
}

#search_results_main_column .pagination_container{
    margin-bottom:15px;
}

#search_results_main_column .pagination_container .pagination{
    background-color:#000000;
    border:0;
    text-align:center;
    margin:0;
    height:auto;
    padding: 7px 0 7px 0;
}
#search_results_main_column .pagination_container .pagination ul{
    display:table;
    float:none;
    margin:auto;
    width:auto;
}

#search_results_main_column .pagination_container .pagination ul a{
    color:#ffffff;

}
#search_results_main_column .pagination_container .pagination ul .active{
    color:#e02418;

}
#search_results_main_column .result_container{
    margin-bottom:8px;
    padding-bottom:5px;
    border-bottom:1px solid #cccccc;

}
#search_results_main_column .result_container .term_result{
    color:#e02418;
    font-weight:bold;
    font-size:14px;
}
#search_results_main_column .result_container a{
    color:#e02418;
    -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


#search_results_main_column p{
    font-size:12px;
    line-height:16px;
    padding:1px 0 1px 0;
}


/* End search result page */
/* Start 404 page */
#error_page_content_container{
    background-color:#005b7f;
    background-image:url('/img/404_bg.png');
    background-repeat:no-repeat;
    background-position:100px 5px;
    height:700px;
    width:600px;
    margin:0 auto 0 auto;
}
#error_page_content_container h1{
    margin:0 0 0 180px;
    padding-top:100px;
    font-family:Georgia, Times, serif;
    font-size:160px;
    font-weight:bold;
    color:#c02835;
    text-shadow: 4px 4px 2px #003e56;
}
#error_page_content_container h2{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:60px;
    font-weight:normal;
    color:#ffffff;
}
#error_page_content_container p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    line-height:30px;
    font-weight:normal;
    color:#ffffff;
    margin-bottom:40px;
}
#error_page_content_container p a{
    color:#ffffff;
}
#error_page_content_container .footer_container{
    background-color:#ffffff;

}
/* End 404 page */


/* Start footer styles */

.footer_container{
    margin:auto;
    background-color:#ffffff;
    padding:20px 0 50px 0;
}

/* End footer styles */


/*Start QMP Widget */
#olal-container{
    margin:10px 0 10px 0;
    background-color:#f1f1f1;
    padding:5px;
}
#olal-container .assetNew .assetNew-icon{
    float:left;
    width:32px;
    
}
#olal-container .assetNew .assetNew-title{

    margin-left:45px;
    width:auto;
    color:#000;
    font-weight:bold;
    line-height:15px;
    
}
#olal-container .assetNew .assetNew-download{
    margin-left:45px;

}

.business-listing-title-container{
    display:none;
}

#business-listing-container{
    display:none;
}
#whitePaperIFrame{
    display:none;
}
/*Start QMP Widget */

/*Start right rail styles */
#right_rail_did_you_know .header-box{
    margin:0;
    padding:0;
}
#right_rail_did_you_know .single-column-listing-widget-title{
    margin:15px 0 0 0;
}
#right_rail_did_you_know .single-column-listing-widget-title span{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#000000;
}

#right_rail_did_you_know .single-column-listing-widget-content{
    padding:15px 0 0 0;
}
#right_rail_did_you_know .single-column-listing-widget-content .term{
    font:bold 14px arial, serif;
    color:#707070;
}
#right_rail_did_you_know .single-column-listing-widget-content p{
    margin:0 0 5px 0;
    font:11px Verdana, Helvetica, Arial, sans-serif;
    color:#666666;
    line-height:15px;
}
#right_rail_did_you_know .single-column-listing-widget-content .more{
    display:block;
    text-align:right;
    font-weight:bold;
    font-style:italic;
    padding-bottom:10px;
    border-bottom:1px solid #cccccc;
    margin-bottom:10px;
    color:#ed1f23;
}
#right_rail_did_you_know .single-column-listing-widget-content .more:last-child{
    border:0;
}

#right_rail_quick_reference .header-box{
    margin:0;
    padding:0;
}
#right_rail_quick_reference .single-column-listing-widget-title{
    margin:15px 0 0 0;
}
#right_rail_quick_reference .single-column-listing-widget-title span{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#000000;
}

#right_rail_quick_reference .single-column-listing-widget-content{
    padding:15px 0 0 0;
}
#right_rail_quick_reference .single-column-listing-widget-content .term{
    font:bold 14px arial, serif;
    color:#707070;
}
#right_rail_quick_reference .single-column-listing-widget-content p{
    margin:0 0 5px 0;
    font:11px Verdana, Helvetica, Arial, sans-serif;
    color:#666666;
    line-height:15px;
}
#right_rail_quick_reference .single-column-listing-widget-content .more{
    display:block;
    text-align:right;
    font-weight:bold;
    font-style:italic;
    padding-bottom:10px;
    border-bottom:1px solid #cccccc;
    margin-bottom:10px;
    color:#ed1f23;
}
#right_rail_quick_reference .single-column-listing-widget-content .more:last-child{
    border:0;
}


.recommend h2 {
    display:block;
    font-family: 'Oswald', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 24px;
    color: #000;
    height:39px;
    margin:15px 0 10px 0 !important;
    text-transform:uppercase;
}

.recommend a {
    color:#000000;
}
.recommend li h3 a {
    color:#ff3333;
    font-size:14px !important;
    padding-right:4px;
}
.recommend li {

    padding:0 0 15px 0;
}
.recommend li a{
    color:#666666;
    font-size:12px;
    line-height:14px !important;
}




/*End right rail styles */












#content_container
{
    text-align: left;
}

#footer_container, .push {
    height: 67px;
}


.block {
    display: block;
}
.container {
    text-align: center;
}


#bottom-banner {
    display:block;
    margin:3px 0 3px 0;
    text-align:center;
}



.body_content {
    text-align: left;
}


#main_content a:hover {
    text-decoration: underline;
}
.copyright {
    display: block;
    color: #666;
    font-size: 16px;
    padding: 20px;
}
/* Elements hidden from mobile phones */
.subscribe_webopedia_weekly{
    display:none;
}
.social_follow_us{
    display:none;

}

