.content_container{
    text-align: left;
    width:750px;
    margin:20px auto;
    overflow:hidden;
}


/* Start header styles */
header {
    height:69px;
    background: url('/img/bg_header2.png');
    background-repeat:repeat-x;
    background-color:#000000;
}
hgroup{
    width:742px;
    height:69px;
    margin: 0 auto;
    text-align: left;
    background: url('/img/bg_header2.png');
    background-repeat:repeat-x;
    background-color:#000000;
}
#logo {
    background: transparent url('/img/logo_203x38.png') no-repeat;
    float:left;
    height:38px;
    margin:15px 0 0 10px;
    width:203px;
}
#logo a {
    display:block;
    height:38px;
    width:203px;
}
#menu{
    display:none;
}
#search{
    display:none;
}
.mobile-search-form-container{
    display:none !important;
}
.header-search-form-container{
    float:left;
    margin:10px 0 0 20px;
    width:500px;
    overflow:hidden;
}

#main-search {
    margin:auto;
    color:#ffffff;

}
#cse-search-box {
    margin:0;
    padding:0;
}

#main-search a {
    color:#ffffff;
    font-weight:bold;

}
.header-search-form-container img {
    float:right;
    display:block;
    margin:15px 4px;
}
.form-bg {
    float:left;
	overflow:hidden;
    width:360px;
}
.form-bg button, .form-bg input {
    display:inline;
    float:left;
}

.term-search {
    border:2px solid #cccccc;
    color:#666;
    font-family:Georgia, Times, serif;
    font-size:18px;
    padding:3px 0 5px 7px;
    width:290px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    margin-right:5px;
}
.lookitup {
    background:transparent url('/img/button_search_tablet.png') no-repeat;
    height:30px;
    width:47px;
    cursor:pointer;
    border:0;
    margin-top:13px;
}

#top-banner {
    background: transparent url('/img/bg_top_banner.png');
    text-align:center;
    padding:4px 0 2px 0;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
    min-width:742px;
}
/* End header styles */

/* Start top navigation styles */
nav {
    background-color:#000000;
    min-width:742px;
}
nav ul{
    margin:auto;
    width:730px;
    overflow:hidden;
}

nav  a{
    text-decoration:none;
}
nav  a:link, nav  a:visited {
    color:#fff;
    display:block;
    font:normal 12px arial, helvetica, tahoma, verdana, sans-serif;
    padding:9px 10px;
}

nav  li {
    display:inline;
    float:left;
}
nav  li:hover {
    background-color:#333333;
    text-decoration:none;
}
.nav_page{
    background-color:#c92d2d;
}
.mobile_menu{
    display:none;
}
/* End top navigation styles */

/** start homepage Term of the day **/
#totd_container{
    float:left;
    margin:0 5px 10px 5px;
    width:363px;
    height:485px;
    overflow:hidden;
}
#term_of_the_day{
    background-color:#16a6b6;
    height:225px;
    overflow:hidden;
    
}
#term_of_the_day .totd-title{
    display:block;
    height:20px;
    padding:10px 0 15px 0;
}
#term_of_the_day .totd-title .totd-title-text{
    display:block;
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 16px;
    line-height:26px;
    margin-left:15px;
    color:#ffffff;
}
#term_of_the_day .totd-title-description span{
    margin-left:15px;
    font-size:12px;
    line-height:26px;
    color:#ffffff;
}

#term_of_the_day .totd-content{
    padding:0 15px;
    color:#ffffff;
    line-height:20px;

}
#term_of_the_day .totd-content .term {
    display:block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size:26px;
    line-height:30px;
    margin-bottom:15px;
    color:#ffffff;
}

#term_of_the_day .totd-date-container{
    margin:0 15px 15px 0;
    padding:10px;
    background-color:#004b5c;
    font-family:arial;
    font-size:14px;
    line-height:24px;
    font-weight:bold;
    color:#ffffff;
    float:left;
    text-align:center;
}
#term_of_the_day .totd-date-container .totd-month{
    display:block;
    margin-bottom:20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size:28px;
}
#term_of_the_day .totd-date-container .totd-date{
    display:block;
    margin-bottom:20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size:46px;
}
#term_of_the_day .totd-date-container .totd-comma{
    display:none;
}

#term_of_the_day .totd-date-container .totd-year{
    display:none;
}
#term_of_the_day .totd-date-container .totd-day{
    display:block;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size:14px;
}

.totd-content a{
    color:#ffffff;
}
.totd-content .more {
    float:right;
    margin:12px 0px 0px 0px;
    text-align:right;
    font-weight:bold;
    font-style:italic;
    color:#ffffff;
}
/* end homepage Term of the day */

/** start Previous Terms-of-the-Day **/
#previous_terms-of-the-day{
    height:275px;
    overflow:hidden;
    background-color:#333333;
}
.previous-totd-title{
    padding-top:20px;
}
.previous-totd-title .previous-totd-title-text{
    display:block;
    margin:0 0 0 20px;
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height:26px;
    color:#ffffff;
}
.previous-totd-title-description span{
    display:block;
    margin-left:20px;
    font-size:12px;
    line-height:26px;
    color:#ffffff;
}
.previous-totd-content{
    padding:5px 10px 0px 20px;
    color:#ffffff;
    line-height:25px;

}
.previous-totd-content .term {
    font:bold 12px arial, serif;
    color:#36a6b3;
    margin-left:30px;
}
.previous-totd-content a{
    color:#ffffff;
}
.previous-totd-content .more {
    float:right;
    margin:10px 0px 10px 0px;
    text-align:right;
    font-weight:bold;
    font-style:italic;
    color:#ffffff;
}
/** start Previous Terms-of-the-Day **/

/* start bullet list single column listing widget styles */
.bullet_list{
    float:left;
    margin:0 5px 20px 5px;
    width:363px;
    overflow:hidden;
    background-color:#ffffff;
    padding-bottom:20px;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
}

.bullet_list .bullet-listing-title{
    background-color:#ffffff;
}
.bullet_list .bullet-listing-title span{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height:42px;
    margin-top:5px;
    margin-left:10px;
    color:#000000;
}
.bullet_list .bullet-listing-title span a{
    color:#000000;
}
.bullet_list .listing-description span{
    display:block;
    margin-top:10px;
    margin-left:10px;
    font-size:12px;
    line-height:26px;
    color:#666666;
}
.bullet_list .listing-column{
    width:100%;
}
.bullet_list .listing-unordered-list{
    width:50%;
    float:left;
}
.bullet_list .listing-unordered-list li{
    margin:0 0 0 25px;
    padding:8px 0 8px 0;
    border-bottom:1px solid #cccccc;
    list-style-type: disc;
    width:155px;
}

.bullet_list .listing-unordered-list li a{
    color:#ff3333;
    font-weight:bold;
    font-size:12px;
}
#in_the_news{
    margin:0 5px 20px 5px;
    height:200px;
    overflow:hidden;
}
#in_the_news .listing-unordered-list li{
    margin-left:11px;
    padding:3px 0 3px 0;
    border-bottom:0;
    list-style-type: none;
    width:170px;
}
#in_the_news .listing-unordered-list li a{
    font-size:11px;
}
/* end bullet list single column listing widget styles */

/* Start DFP IMU styles */
.imu{
    width:300px;
    height:250px;
    overflow:hidden;
    margin:0 auto 20px auto;
}
#homepage_main_column  .imu{
    float:left;
    width:300px;
    height:250px;
    overflow:hidden;
    margin:0 auto 20px 40px;
}
/* End DFP IMU styles */

/** start single column listing widget styles  **/
#homepage_did_you_know{
    float:left;
    width:363px;
    height:421px;
    overflow:hidden;
    background-color:#ffffff;
    margin:0 5px 20px 5px;
    border-bottom:2px solid #cccccc;
}

#homepage_did_you_know .header-box{
    margin:0;
    padding:0;
}
#homepage_did_you_know .single-column-listing-widget-title{
    background-color:#ed1f23;
}
#homepage_did_you_know .single-column-listing-widget-title span{
    margin-left:20px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height:42px;
    color:#ffffff;
}

#homepage_did_you_know .single-column-listing-widget-content{
    padding:20px 20px 0px 20px;
}
#homepage_did_you_know .single-column-listing-widget-content .term{
    font:bold 14px arial, serif;
    color:#707070;
}
#homepage_did_you_know .single-column-listing-widget-content p{
    margin:2px 0 10px 0;
    font:11px Verdana, Helvetica, Arial, sans-serif;
    color:#666666;
    line-height:15px;
    border-bottom:1px solid #cccccc;
}
#homepage_did_you_know .single-column-listing-widget-content .more{
    color:#ed1f23;
}
#homepage_did_you_know .single-column-listing-widget-content p:last-child{
    border:0;
}


#homepage_quick_reference{
    float:left;
    width:363px;
    height:421px;
    overflow:hidden;
    background-color:#ffffff;
    margin:0 5px 20px 5px;
    border-bottom:2px solid #cccccc;
}

#homepage_quick_reference .header-box{
    margin:0;
    padding:0;
}
#homepage_quick_reference .single-column-listing-widget-title{
    background-color:#ed1f23;
}
#homepage_quick_reference .single-column-listing-widget-title span{
    margin-left:20px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height:42px;
    color:#ffffff;
}

#homepage_quick_reference .single-column-listing-widget-content{
    padding:20px 20px 0px 20px;
}
#homepage_quick_reference .single-column-listing-widget-content .term{
    font:bold 14px arial, serif;
    color:#707070;
}
#homepage_quick_reference .single-column-listing-widget-content p{
    margin:2px 0 10px 0;
    font:11px Verdana, Helvetica, Arial, sans-serif;
    color:#666666;
    line-height:15px;
    border-bottom:1px solid #cccccc;
}
#homepage_quick_reference .single-column-listing-widget-content .more{
    color:#ed1f23;
}
#homepage_quick_reference .single-column-listing-widget-content p:last-child{
    border:0;
}


#quick_reference{

    margin:0 5px 20px 5px;
}
/* end single column listing widget styles  */

/* Start Webopedia Weekly widget styles */
#homepage_main_column .subscribe_webopedia_weekly{
    float:left;
    margin:0 5px 20px 5px;
    width:333px;
    height:190px;
    overflow:hidden;
    background-color:#ffffff;
    padding:15px 10px 15px 20px;
    line-height:20px;
    color:#707070;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
}
#homepage_main_column .subscribe_webopedia_weekly h2{
    background-image:url('/img/icon_mail.png');
    background-repeat:no-repeat;
    height:27px;
    padding:0 0 10px 50px;
    font-family: 'Oswald', sans-serif;
    font-weight:400;
    font-size: 22px;
    line-height:34px;
    color:#000000;
}
#homepage_main_column .subscribe_webopedia_weekly p{
    margin-bottom:15px;
}
#homepage_main_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewemailbox_content{
    float:left;
    width:204px;
    height:27px;
    margin-right:5px;
}
#homepage_main_column .subscribe_webopedia_weekly #navnewsletteremailID{
    width:200px;
    height:27px;
    padding-left:4px;
    background-image:url('/img/newsletter_subscription_input.png');
    background-repeat:no-repeat;
    border:0;
}

.right_column .subscribe_webopedia_weekly, .left_column .subscribe_webopedia_weekly{
    float:left;
    margin:0 0 0 0;
    width:270px;
    height:182px;
    overflow:hidden;
    background-color:#ffffff;
    padding:15px 10px 0 20px;
    line-height:20px;
    color:#707070;
    border-top:2px solid #cccccc;
    border-bottom:0;
}
.right_column .subscribe_webopedia_weekly h2, .left_column .subscribe_webopedia_weekly h2{
    background-image:url('/img/icon_mail.png');
    background-repeat:no-repeat;
    height:27px;
    padding:0 0 10px 50px;
    font-family: 'Oswald', sans-serif;
    font-weight:400;
    font-size: 22px;
    line-height:34px;
    color:#000000;
}

.right_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewemailbox_content, .left_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewemailbox_content{
    width:100%;
}

.right_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewemailbox_content #navnewsletteremailID, .left_column .subscribe_webopedia_weekly  #navnewslettermailboxID #navnewemailbox_content #navnewsletteremailID{
    width:257px;
    height:27px;
    padding-left:4px;
    background-image:url('/img/newsletter_subscription_input2.png');
    background-repeat:no-repeat;
    border:0;
}

.right_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewstextid, .left_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewstextid{
    float:none;
    text-align:center;
}
.right_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewstextid img, .left_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewstextid img{
    margin-top:10px;
}
/* End Webopedia Weekly widget styles */

/* Start Follow Us widget styles */
.social_follow_us{
    float:left;
    margin:0 5px 20px 5px;
    width:333px;
    height:152px;
    background-color:#ffffff;
    padding:15px 10px 15px 20px;
    line-height:20px;
    color:#707070;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
}
.social_follow_us h2{
    height:27px;
    padding:0 0 10px 0;
    font-family: 'Oswald', sans-serif;
    font-weight:400;
    font-size: 22px;
    line-height:34px;
    color:#000000;
}
.social_follow_us ul{
    margin-top:10px;
}
.social_follow_us ul li{
    float:left;
    width:36px;
    height:35px;
    margin-right:47px;
}
.social_follow_us ul .fb a{
    display:block;
    width:36px;
    height:35px;
    background-image:url('/img/icon_facebook.png');
    text-indent: -9999px;
}
.social_follow_us ul .twitter a{
    display:block;
    width:36px;
    height:35px;
    background-image:url('/img/icon_twitter.png');
    text-indent: -9999px;
}
.social_follow_us ul .gplus a{
    display:block;
    width:36px;
    height:35px;
    background-image:url('/img/gPlus.png');
    text-indent: -9999px;
}
.social_follow_us ul .rss a{
    display:block;
    width:36px;
    height:35px;
    background-image:url('/img/icon_rss.png');
    text-indent: -9999px;
}
/* End Follow Us widget styles */
/* Start subpage 2 column layout */

.right_column{
    float:left;
    width: 300px;
}
.left_column{
    float:left;
    width: 300px;
    margin-right:10px;
}

/* End subpage 2 column layout */

/* Start article page */
#article_content_container{
    margin-top:0;
}
#article_content{
    width:700px;
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#article_main_column{
    float:left;
    width:390px;
    margin-right:10px;
}
#article_content{
    line-height:24px;
    color:#666666;
}
#article_content h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height:34px;
    color: #000;
    margin:15px 0 5px 0;
}

#article_content  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
    

.article_social{
    width:100%;
    border-bottom:1px solid #cccccc;
    height:28px;
    margin-bottom:5px;

}
.article_social ul {
    list-style-type: none;
}
.article_social ul li{
    float:left;
    display:block;
    width:auto;
    list-style-type: none;
}
.article_social ul #fbsocial{
    margin-right:20px;
}
.byline{

    display:block;
    margin-bottom:10px;
    line-height:13px;
}
.right_column .recommend, .left_column .recommend{
    float:left;
    margin-top:20px;
    border-top:2px solid #cccccc;
    background-image:url('/img/icon_we_recommend.png');
    background-repeat:no-repeat;
    background-position:10px 10px;
}

#article_main_column .article_related_items{
    width:150px;
    margin-left:15px;
    padding:0 15px;
    float:right;
    border-left:1px solid #cccccc
}
#article_main_column .article_related_items #related_terms{

    color:#000000;
    line-height:13px;
    margin-bottom:20px;

}
#article_main_column .article_related_items #related_terms li{
    margin-bottom:10px;

}
#article_main_column .article_related_items h3{

    color:#000000;
    font:bold 16px arial, helvetica, tahoma, verdana, sans-serif;
    line-height:26px;

}
#article_main_column .article_related_items #related_terms li a{
    color:#ff3333;
}

#article_main_column .related_links_container h3{

    color:#000000;
    font:bold 16px arial, helvetica, tahoma, verdana, sans-serif;
    line-height:26px;

}

#article_main_column .related_links_container #related_links{

    color:#000000;
    line-height:22px;
    list-style-type: disc;
    margin-left:20px;

}
#article_main_column .related_links_container #related_links li a{
    color:#ff3333;
}



#article_main_column .article_pagination{

    border-top:1px solid #cccccc;
    border-bottom:2px solid #cccccc;
}
#article_main_column .previous_link{
    float:left;
    width:175px;
    border-right:1px solid #cccccc;
    font-family: 'Oswald', sans-serif;
    margin:3px 15px 3px 0;
    padding:5px 0 5px 20px;
    background-image:url('/img/left_pagination_arrow.png');
    background-repeat:no-repeat;
    background-position:0px 10px;

}
#article_main_column .previous_link a{
    color:#696969;
    font:normal 12px arial, helvetica, tahoma, verdana, sans-serif;
}
#article_main_column .next_link{
    float:left;
    width:159px;
    text-align:right;
    font-family: 'Oswald', sans-serif;
    margin:3px 0 3px 0;
    padding:5px 20px 5px 0;
    background-image:url('/img/right_pagination_arrow.png');
    background-repeat:no-repeat;
    background-position:165px 10px;

}
#article_main_column .next_link a{
    color:#696969;
    font:normal 12px arial, helvetica, tahoma, verdana, sans-serif;
}
#article_main_column .see_also{
    margin-bottom:15px;
}

#article_main_column .see_also h3{

    color:#000000;
    font:bold 16px arial, helvetica, tahoma, verdana, sans-serif;
    line-height:26px;

}
#article_main_column .see_also ul{
    list-style-type: disc;
    padding-left:20px;

}
#article_main_column .see_also ul li{
    margin-bottom:10px;
    line-height:13px;
}
#article_main_column .see_also ul li a{
    color:#ff3333;
}
#article_main_column .pagination ul{
    width:auto;
}

.recommend h2 {
    display:block;
    font-family: 'Oswald', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 26px;
    color: #000;
    height:39px;
    margin:15px 0 10px 60px !important;
    text-transform:uppercase;
}
.recommend h3 {
    color:#ff3333;
}
.recommend a {
    color:#000000;
}
.recommend li h3 a {
    color:#ff3333;
    font-size:14px !important;
    padding-right:4px;
}
.recommend li {

    padding:0 0 15px 15px;
}
.recommend li a{
    color:#666666;
    font-size:12px;
    line-height:13px !important;
}

#right_rail_did_you_know{
    float:left;
    background-image:url('/img/icon_did_you_know.png');
    background-repeat:no-repeat;
    background-position:10px 10px;
    background-color:#f1f1f1;
    margin:0 0 20px 0;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
}

#right_rail_did_you_know .header-box{
    margin:0;
    padding:0;
}
#right_rail_did_you_know .single-column-listing-widget-title{
    margin:15px 0 0 60px;
}
#right_rail_did_you_know .single-column-listing-widget-title span{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#000000;
}

#right_rail_did_you_know .single-column-listing-widget-content{
    padding:15px 20px 0px 20px;
}
#right_rail_did_you_know .single-column-listing-widget-content .term{
    font:bold 14px arial, serif;
    color:#707070;
}
#right_rail_did_you_know .single-column-listing-widget-content p{
    margin:0 0 5px 0;
    font:11px Verdana, Helvetica, Arial, sans-serif;
    color:#666666;
    line-height:15px;
}
#right_rail_did_you_know .single-column-listing-widget-content .more{
    display:block;
    text-align:right;
    font-weight:bold;
    font-style:italic;
    padding-bottom:10px;
    border-bottom:1px solid #cccccc;
    margin-bottom:10px;
    color:#ed1f23;
}
#right_rail_did_you_know .single-column-listing-widget-content .more:last-child{
    border:0;
}

#article_main_column  #right_rail_quick_reference{
    float:left;
    background-image:url('/img/icon_quick_reference.png');
    background-repeat:no-repeat;
    background-position:10px 10px;
    background-color:#f1f1f1;
    margin:0 0 20px 0;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
}

#article_right_column #right_rail_quick_reference{
    float:left;
    background-image:url('/img/icon_quick_reference.png');
    background-repeat:no-repeat;
    background-position:10px 10px;
    background-color:#f1f1f1;
    margin:0 0 20px 0;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
}

#right_rail_quick_reference .header-box{
    margin:0;
    padding:0;
}
#right_rail_quick_reference .single-column-listing-widget-title{
    margin:15px 0 0 60px;
}
#right_rail_quick_reference .single-column-listing-widget-title span{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#000000;
}

#right_rail_quick_reference .single-column-listing-widget-content{
    padding:15px 20px 0px 20px;
}
#right_rail_quick_reference .single-column-listing-widget-content .term{
    font:bold 14px arial, serif;
    color:#707070;
}
#right_rail_quick_reference .single-column-listing-widget-content p{
    margin:0 0 5px 0;
    font:11px Verdana, Helvetica, Arial, sans-serif;
    color:#666666;
    line-height:15px;
}
#right_rail_quick_reference .single-column-listing-widget-content .more{
    display:block;
    text-align:right;
    font-weight:bold;
    font-style:italic;
    padding-bottom:10px;
    border-bottom:1px solid #cccccc;
    margin-bottom:10px;
    color:#ed1f23;
}
#right_rail_quick_reference .single-column-listing-widget-content .more:last-child{
    border:0;
}
/* End article page */

/* Start Category Index Listing page */
#category_index_listing .article-listing-widget-title .article-listing-widget-title-text{
    display:block;
    color:#000000;
    font-family: 'Oswald', sans-serif;
    font-size:32px;
    margin-bottom:30px;
}
#category_index_listing .article-listing-widget-content li{

    border-bottom:1px solid #cccccc;
    padding-bottom:5px;
    margin-bottom:15px;

}
#category_index_listing .article-listing-widget-content li h3 a{

    color:#ed1f23;
}

#category_index_listing .article-listing-widget-content li .more{

    font-weight:bold;
    color:#ed1f23;
}
/* End Category Index Listing page */

/* Start Did You Know page */
.category_page_intro{
    font-style:italic;
    border-bottom:2px solid #cccccc;
    margin-bottom:15px;
}
#categorypage_did_you_know
{
    margin-bottom:20px;
}
#categorypage_did_you_know .article-listing-widget-title .article-listing-widget-title-text{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#000000;
}
#categorypage_did_you_know  ul
{
    list-style:none;
}

#categorypage_did_you_know  ul li
{
    background-image:url('/img/icon_did_you_know_large.png');
    background-repeat:no-repeat;
    background-color:#f1f1f1;
    padding:5px 10px 5px 80px;
}
#categorypage_did_you_know  ul li h3 a
{
    color:#ed1f23;
    
}
#categorypage_did_you_know  ul li a
{
    color:#ed1f23;
    
}
#categorypage_did_you_know  ul li p
{
    padding-bottom:10px;
    border-bottom:1px solid #cccccc;
}

#did_you_know_internet .article-listing-widget-title{
    background-color:#333333;
}

#did_you_know_internet .article-listing-widget-title .article-listing-widget-title-text{
    display:block;
    margin:5px;
    padding:5px 0px;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
}
#did_you_know_internet .article-listing-widget-title .article-listing-widget-title-text a{

    color:#ffffff;
}
#did_you_know_computer_science .article-listing-widget-title{
    background-color:#333333;
}

#did_you_know_computer_science .article-listing-widget-title .article-listing-widget-title-text{
    display:block;
    margin:5px;
    padding:5px 0px;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
}
#did_you_know_computer_science .article-listing-widget-title .article-listing-widget-title-text a{

    color:#ffffff;
}
#did_you_know_hardware_software .article-listing-widget-title{
    background-color:#333333;
}

#did_you_know_hardware_software .article-listing-widget-title .article-listing-widget-title-text{
    display:block;
    margin:5px;
    padding:5px 0px;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
}
#did_you_know_hardware_software .article-listing-widget-title .article-listing-widget-title-text a{

    color:#ffffff;
}
.dyk_more_link{
    display:block;
    text-align:right;
    font-style:italic;
    font-weight:bold;
    color:#ed1f23;

}
/* End Did You Know page */
/* Start Quick Reference page */

#categorypage_quick_reference
{
    margin-bottom:20px;
}
#categorypage_quick_reference .article-listing-widget-title .article-listing-widget-title-text{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#000000;
}
#categorypage_quick_reference  ul
{
    list-style:none;
}

#categorypage_quick_reference  ul li
{
    background-image:url('/img/icon_quick_reference_large.png');
    background-repeat:no-repeat;
    background-color:#f1f1f1;
    padding:5px 10px 5px 80px;
}
#categorypage_quick_reference  ul li h3 a
{
    color:#ed1f23;
    
}
#categorypage_quick_reference  ul li a
{
    color:#ed1f23;
    
}
#categorypage_quick_reference  ul li p
{
    padding-bottom:10px;
    border-bottom:1px solid #cccccc;
}
#quick_reference_index ul li{

    margin-right:10px;
    margin-bottom:20px;
    line-height:14px;
}
#quick_reference_index ul li h3 a{
    color:#ed1f23;
    font-size:12px;
    line-height:15px;
}
#quick_reference_index ul li a{
    color:#ed1f23;
}
/* End Quick Reference page */
/* Start pagination */
.pagination {
    text-align:right;
    font-weight:bold;
    height:25px;
    border-bottom:2px solid #cccccc;
    margin-bottom:20px;
}
.pagination  ul{
    width:320px;
    float:right;

}
.pagination  ul li{
    float:left;
    display:block;
}

.pagination  ul .active{
    float:left;
    display:block;
    margin-left:10px;
    color:#000000;
}

.pagination  ul a{
    float:left;
    display:block;
    margin-left:10px;
    color:#999999;
}

.pagination_bottom{

    clear:both;
    text-align:right;
    border-bottom:2px solid #cccccc;
    padding-bottom:15px;
    margin-bottom:20px;
    color:#000000;
}
.pagination_bottom a{
    color:#ed1f23;
    font-weight:bold;
}
.pagination_bottom .more_quick_reference{
    color:#ed1f23;
    font-weight:bold;
}
/* End pagination */

/* Start all category index page */
#all_categories_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#all_categories_content{
    width:700px;
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#all_categories_main_column{
    float:left;
    width:390px;
    margin-right:10px;
}
#all_categories_main_column{
    line-height:14px;
    color:#666666;
}
#all_categories_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom:10px;
}

#all_categories_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}


#all_categories_main_column .all_cat_column .bullet_list{
    border:0;
    height:auto;
}

#all_categories_main_column .all_cat_column .bullet_list .bullet-listing-title{
    border-bottom:1px solid #808080;
    margin-bottom:10px;
}

#all_categories_main_column .all_cat_column .bullet_list .bullet-listing-title span{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #000;
    margin-left:0;
}
#all_categories_main_column .all_cat_column .bullet_list ul{
    width:175px;
    float:left;
}
#all_categories_main_column .all_cat_column .bullet_list #listing-column_1{
    margin-right:9px;
}
#all_categories_main_column .all_cat_column .bullet_list  ul li{
    list-style-type: none;
    border:0;
    padding:0;
    margin:0 0 8px 0;
    
}
#all_categories_main_column .all_cat_column .bullet_list  ul li a{
    color:#ed1f23;
    line-height:14px;
    padding:0;
    margin:0;
}
/* End all category index page */


/* Start all category page */
#category_drilldown_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#category_drilldown_content{
    width:700px;
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#category_drilldown_main_column{
    float:left;
    width:390px;
    margin-right:10px;
}
#category_drilldown_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin:20px 0 10px 0;
}

#category_drilldown_main_column  h2{
    margin:10px 0 10px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
    border-bottom:1px solid #808080;
}


#category_drilldown_main_column  .bullet_list{
    border:0;
    width:100%;
    height:auto;
}

#category_drilldown_main_column  .bullet_list .bullet-listing-title{
    border-bottom:1px solid #808080;
    margin-bottom:10px;
}

#category_drilldown_main_column  .bullet_list .bullet-listing-title span{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #000;
    margin-left:0;
}
#category_drilldown_main_column  .bullet_list ul{
    width:190px;
    float:left;
}
#category_drilldown_main_column  .bullet_list #listing-column_1{
    margin-right:9px;
}
#category_drilldown_main_column  .bullet_list  ul li{
    list-style-type: none;
    border:0;
    padding:0;
    margin:0 0 8px 0;
    
}
#category_drilldown_main_column  .bullet_list  ul li a{
    color:#ed1f23;
    line-height:14px;
    padding:0;
    margin:0;
}
/* End all category page */

/* Start Browse Term page */
#term_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#term_content{
    width:700px;
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#term_main_column{
    float:left;
    width:390px;
    margin-right:10px;
}
#term_main_column .page_intro p{

    font-style:italic;

}
#term_main_column p{
    line-height:24px;
}
#term_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom:10px;
}

#term_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#term_main_column .bullet_list{

    height:auto;
    margin:0 0 20px 0;
    width:390px;
}

#term_main_column #recent_terms .listing-column .listing-unordered-list li{
    width:85%;
}
#term_main_column #recent_terms .bullet-listing-title span a{

    color:#000000;

}

#term_main_column #recent_terms .listing-column #bullet-listing-col2 li:last-child
{
    text-align:right;
    list-style: none;
    border:0;
   
}

#term_main_column #previous_terms_of_the_day .previous-totd-title{
    margin-top:5px;
    padding-top:10px;
    border-top:2px solid #cccccc;
}
#term_main_column #previous_terms_of_the_day .previous-totd-title .previous-totd-title-text{
    display:block;
    margin:0;
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height:26px;
    color:#000000;
}
#term_main_column #previous_terms_of_the_day .previous-totd-title .previous-totd-title-text a{
    display:block;
    margin:0;
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height:26px;
    color:#000000;
}
#term_main_column #previous_terms_of_the_day .previous-totd-title-description span{
    display:block;
    margin-left:20px;
    font-size:12px;
    line-height:26px;
    color:#000000;
}
#term_main_column #previous_terms_of_the_day .previous-totd-content{
    padding:5px 0 0 0;
    color:#000000;
    line-height:25px;
    width:auto;
}

#term_main_column #previous_terms_of_the_day .previous-totd-content .term {
    font:normal 12px arial, serif;
    color:#ed1f23;
    margin-left:15px;
}
#term_main_column #previous_terms_of_the_day .previous-totd-content a{
    color:#ed1f23;

}
#term_main_column #previous_terms_of_the_day .previous-totd-content .more {
    float:right;
    margin:10px 0px 10px 0px;
    text-align:right;
    font-weight:bold;
    color:#ed1f23;
}
/* End Browse Term page */

/* Start Recent Term page */
#recent_terms_page_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#recent_terms_page_content{
    width:700px;
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#recent_terms_page_main_column{
    float:left;
    width:390px;
    margin-right:10px;
}
#recent_terms_page_main_column{
    line-height:14px;
    color:#666666;
}
#recent_terms_page_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom:10px;
}

#recent_terms_page_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#recent_terms_page_main_column #all_cat_column_1{
    width:290px;
    margin-right:25px;
    float:left;
}    

#recent_terms_page_main_column #all_cat_column_2{
    width:290px;
    float:left;
} 

#recent_terms_page_main_column .all_cat_column .bullet_list{
    border:0;
    height:auto;
}

#recent_terms_page_main_column .all_cat_column .bullet_list .bullet-listing-title{
    border-bottom:1px solid #808080;
    margin-bottom:10px;
}

#recent_terms_page_main_column .all_cat_column .bullet_list .bullet-listing-title span{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #000;
    margin-left:0;
}
#recent_terms_page_main_column .all_cat_column .bullet_list ul{
    width:290px;
    float:left;
}
#recent_terms_page_main_column .all_cat_column .bullet_list #listing-column_1{
    margin-right:9px;
}
#recent_terms_page_main_column .all_cat_column .bullet_list  ul li{
    list-style-type: none;
    border:0;
    padding:0;
    margin:0 0 8px 0;
    
}
#recent_terms_page_main_column .all_cat_column .bullet_list  ul li a{
    color:#ed1f23;
    line-height:14px;
    padding:0;
    margin:0;
}
/* End Recent Term page */


/* Start Previous Terms page */
#previous_terms_page_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#previous_terms_page_content{
     width:700px;
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#previous_terms_page_main_column{
    float:left;
    width:390px;
    margin-right:10px;
}
#previous_terms_page_main_column .page_intro p{

    font-style:italic;

}
#previous_terms_page_main_column p{
    line-height:24px;
}
#previous_terms_page_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom:10px;
}

#previous_terms_page_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#previous_terms_page_main_column .bullet_list{

    float:left;
    height:235px;
    margin:20px 0 20px 0;
}
#previous_terms_page_main_column #recent_terms{
    margin-right:10px;
}

#previous_terms_page_main_column #recent_terms li:last-child
{
    text-align:right;
    list-style: none;
}

#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-title{
    margin-bottom:15px;
}
#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-title .previous-totd-title-text{
    display:block;
    margin:0;
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 36px;
    color:#000000;
}
#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-title-description span{
    display:block;
    margin-left:20px;
    font-size:12px;
    line-height:26px;
    color:#000000;
}
#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-content{
    float:left;
    width:298px;
    padding:5px 0 0 0;
    color:#000000;
    line-height:25px;
}
#previous_terms_page_main_column #previous_terms_of_the_day #previous-totd-column-1{
    margin-right:10px;
}
#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-content .term {
    font:normal 12px arial, serif;
    color:#ed1f23;
    margin-left:15px;
}
#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-content a{
    color:#ed1f23;

}
#previous_terms_page_main_column #previous_terms_of_the_day .previous-totd-content .more {
    float:right;
    margin:10px 0px 10px 0px;
    text-align:right;
    font-weight:bold;
    font-style:italic;
    color:#ed1f23;
}
/* End Previous Terms page */

/* Start Resources page */
#resources_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#resources_content{
    width:700px;
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#resources_main_column{
    float:left;
    width:390px;
    margin-right:10px;
}
#resources_main_column{
    color:#666666;
}
#resources_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height:40px;
    color: #000000;
    margin:10px 0px 5px 0px;
    padding:0px;

}

#resources_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 30px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#resources_main_column h3{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    margin-bottom:10px;
}   
#resources_main_column p{
    font-size:14px;
    line-height:20px;
}
#resources_main_column .intro{
    font-size:12px;
    font-style:italic;
}
#resources_main_column .subscribe{
    margin-top:15px;
    background-color:#37c4d3;
    padding:13px;
}
#resources_main_column .subscribe img{
    vertical-align:top;
}
#resources_main_column .subscribe span{
    margin:0 10px 0 10px;
    display:inline-block;
    width:228px;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:18px;
    line-height:24px;
}
#resources_main_column .newsletter-widget{
    display:none;
    width:auto;
    margin:0;
    padding-left:15px;
    background-color:#37c4d3;

}
#resources_main_column .newsletter-widget #navnewemailbox_content{
    float:left;
}
#resources_main_column .newsletter-widget #navnewemailbox_content .email_input{
    border:0;
    background-image:url('/img/newsletter_subscription_input.png');
    background-repeat:no-repeat;
    width:199px;
    height:25px;
    margin-bottom:10px;
    padding-left:5px;

}
#resources_main_column .newsletter-widget #navnewstextid{
    float:left;
    margin: -5px 0 0 10px;
}


#resources_main_column .facebook{
    margin-top:25px;
}
#resources_main_column .facebook h3{
    display:inline-block;
    font-size:22px;
}
#resources_main_column .facebook #fb_icon{
}
#resources_main_column .facebook .social_icon{
    margin-left:5px;
    vertical-align:middle;
}
#resources_main_column .facebook .fltright{
    margin-top:20px;
}
#resources_main_column .facebook p{
    float:left;
    line-height:30px;
    margin-right:10px;
    margin-bottom:20px;
}
#resources_main_column .facebook .facebook_left img{
    display:none;
}
#resources_main_column .share_section {
    margin-top:30px;
    padding-top:20px;
    border-top:1px solid #cccccc;

}
#resources_main_column .share_section  .share_gplus{
    margin-top:30px;
    padding-top:20px;
    border-top:1px solid #cccccc;
}

#resources_main_column .section_blog_search {
    margin-top:30px;
    padding-top:20px;
    border-top:1px solid #cccccc;

}
#resources_main_column .section_blog_search  div{
    float:left;
}
#resources_main_column .section_blog_search .blog{
    margin-right:10px;
    margin-bottom:20px;
}
#resources_main_column .section_blog_search .search_code{
    width:360px;
    overflow:hidden;
}
#resources_main_column .section_blog_search .search_code .search_sample{
    margin-bottom:10px;
}
#resources_main_column .section_blog_search .search_code #txtSearch {
    width:354px;
	font-family:arial;
	font-size:11px;
	color:#666666;
}
/* End Resources page */


/* Start About us page */

#about_us_content_container{
    margin-top:0;
}
#about_us_content{
    width:700px;
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#about_us_main_column{
    float:left;
    width:390px;
    margin-right:10px;
}
#about_us_main_column{
    color:#666666;
}
#about_us_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    color: #000000;
    margin-bottom:10px;
}

#about_us_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 30px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#about_us_main_column h3{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin-bottom:10px;
}   
#about_us_main_column p{
    font-size:14px;
    line-height:20px;
}
#about_us_right_column{

    width:300px;
    float:left;
}
#about_us_right_column .subscribe_webopedia_weekly{
    float:left;
    margin:0 0 0 0;
    width:270px;
    height:190px;
    overflow:hidden;
    background-color:#ffffff;
    padding:15px 10px 5px 20px;
    line-height:20px;
    color:#707070;
    border-top:2px solid #cccccc;
    border-bottom:0;
}

#about_us_right_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewemailbox_content{
    width:100%;
}

#about_us_right_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewemailbox_content #navnewsletteremailID{
    width:257px;
    height:27px;
    padding-left:4px;
    background-image:url('/img/newsletter_subscription_input2.png');
    background-repeat:no-repeat;
    border:0;
}

#about_us_right_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewstextid{
    float:none;
    text-align:center;
}
#about_us_right_column .subscribe_webopedia_weekly #navnewslettermailboxID #navnewstextid img{
    margin-top:10px;
}
/* End About us page */

/* Start blog page */
#blog_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#blog_content{
    width:700px;
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#blog_main_column{
    float:left;
    width:390px;
    margin-right:10px;
}
#blog_main_column{
    color:#666666;
}
#blog_main_column p{
    font-size:12px;
    line-height:20px;
    color:#000000;
}
#blog_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    margin-bottom:10px;
}

#blog_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#blog_main_column .social_container{
    background-color:#f1f1f1;
    width:400px;
    height:56px;
}
#blog_main_column .social_container .follow{
    float:left;
    width:180px;
    height:56px;
    background-color:#37c4d3;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size:19px;
    line-height:56px;
    color:#ffffff;
    padding-left:14px;
    
}
#blog_main_column .social_container .social_icons{
    float:left;
    margin:6px 0 0 0;
}
#blog_main_column .social_container .social_icons img{
    margin-left:8px;
}

#blog_main_column .blog_list_container .blog_post{
    margin-top:10px;
    padding-top:15px;
    border-top:2px solid #cccccc;
}
#blog_main_column .blog_list_container .blog_post .comments{
    border-bottom:1px solid #cccccc;
}
#blog_main_column .blog_list_container .blog_post h3 a{
    color:#000000;
    font-size:20px;
}
#blog_main_column .blog_list_container .blog_post .blog_thumbnail{
    display:none;
}
#blog_main_column .blog_list_container .blog_post .post_text a{

    color:#ed1f23;
}
#blog_main_column .blog_list_container .blog_post .read_more{
    float:right;
    font-weight:bold;
    color:#ed1f23;
}
/* End blog page */

/* Start blog article page */
#blog_article_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#blog_article_content{
    width:700px;
    padding:25px;
    background-color:#ffffff;
    overflow:hidden;
}
#blog_article_main_column{
    float:left;
    width:390px;
    margin-right:10px;
}
#blog_article_main_column{
    color:#666666;
}
#blog_article_main_column p{
    font-size:14px;
    line-height:20px;
    color:#000000;
}
#blog_article_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height:30px;
    color: #000;
    margin:15px 0 5px 0;
}

#blog_article_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 20px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#blog_article_main_column .article_social{

    border-bottom:1px solid #cccccc;
    height:28px;
    margin-bottom:5px;
}

#blog_article_main_column .byline{

    display:block;
    margin-bottom:10px;
}

#blog_article_main_column .social_container{
    background-color:#f1f1f1;
    width:611px;
    height:56px;
}
#blog_article_main_column .social_container .follow{
    float:left;
    width:180px;
    height:56px;
    background-color:#37c4d3;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size:19px;
    line-height:56px;
    color:#ffffff;
    padding-left:14px;
    
}
#blog_article_main_column .social_container .social_icons{
    float:left;
    margin:6px 0 0 180px;
}
#blog_article_main_column .social_container .social_icons img{
    margin-left:15px;
}

#blog_article_main_column .blog_list_container .blog_post{
    margin-top:10px;
    padding-top:15px;
    border-top:2px solid #cccccc;
}
#blog_article_main_column .blog_list_container .blog_post .comments{
    border-bottom:1px solid #cccccc;
}
#blog_article_main_column .blog_list_container .blog_post h3 a{
    color:#000000;
    font-size:24px;
}
#blog_article_main_column .blog_list_container .blog_post .blog_thumbnail{
    display:block;
    float:left;
    margin-top:10px;
    border:1px solid #000000;
    margin-right:10px;
}
#blog_article_main_column .blog_list_container .blog_post .post_text a{

    color:#ed1f23;
}
#blog_article_main_column .blog_list_container .blog_post .read_more{
    float:right;
    font-weight:bold;
    color:#ed1f23;
}

#blog_article_main_column #comment_wrapper {
    width:auto;
    margin-top:15px;
    padding:10px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-color:#f6f6f6;
}
#blog_article_main_column #comment_wrapper  h3{
    color:#ed1f23;
}

.pgnumber_holder {
    background: url("/images/pageing_bg.jpg") repeat-x scroll center top
        transparent;	
	border: 1px solid #CCCCCC;
	float: left;
	font-size: 10px;
	font-weight: bold;
	padding: 0 5px;
}

.pgnumber_holder a {
	border-color: -moz-use-text-color #F7F7F7;
	border-left: 1px solid #F7F7F7;
	border-right: 1px solid #F7F7F7;
	border-style: none solid;
	border-width: medium 1px;
	color: #008CB4;
	float: left;
	font-size: 10px;
	font-weight: bold;
	padding: 1px 7px;
	text-decoration: none;
}

#comment_wrapper a:link,#comment_wrapper a:visited {
	color: #333333;
	font-size: 8pt;
}

#comment_wrapper a:active,#comment_wrapper a:hover {
	color: #333333;
	font-size: 8pt;
}

#commentform {
	width: 80%;
}

.comment {
	background-color: #EFEFEF;
	margin-top: 15px;
	overflow: hidden;
	padding: 10px;
    border-left:6px solid #ed1f2a;
}

.even {
	background-color: #ffffff;
    border-left:6px solid #8e0008;
}

div.userinfo {
	color: #333333;
	font-family: arial, helvetica, sans-serif;
	font-size: 9pt;
}

.userinfo a:link,.userinfo a:visited {
	color: #333333;
	font-size: 9pt;
}

.userinfo a:active,.userinfo a:hover {
	color: #333333;
	font-size: 9pt;
}
.commentChild{
	margin-left:25px;
}
span.username {
	color: #333333;
	font-weight: bold;
}

input.error {
	border: 1px dotted red;
}

#comment_wrapper .error {
	margin: 0;
	width: auto;
	color: red;
}

#comment_wrapper .error ul {
	margin-left: 10px;
}

#comment_wrapper .error ul li{
	list-style-type: none;
}

#message_counter {
	margin: 0;
	font-size: 8pt;
}

#comment_wrapper .success {
	color: green;
	display: none;
}

#comment_wrapper .success img {
	margin-left: 7px;
}

#comment_wrapper .success span {
	bottom: 1px;
	margin-left: 3px;
	position: relative;
}

#comment_wrapper .fail {
	color: red;
	display: none;
}

#comment_wrapper .fail img {
	margin-left: 7px;
}

#comment_wrapper .fail span {
	bottom: 1px;
	margin-left: 3px;
	position: relative;
}

#comment_pagination_top #top_loading{
	vertical-align: middle;
	margin-top: 3px;
	margin-left: 6px;
	text-align: center;
	display: none;
}
#comment_pagination_bottom #bottom_loading{
	vertical-align: middle;
	margin-top: 3px;
	margin-left: 6px;
	text-align: center;
	display: none;
}
#recaptcha_widget_div{
    width:310px !important;
    padding:0px !important;
    margin:0px;
    float:left;
    border:1px !important;
}

#recaptcha_area table{
    padding:0px;
    margin:0px;
}
.recaptcha_input_area_text span{
    display:inline;
    line-height:8pt;
}
#recaptcha_privacy{
    display:block;
    margin-top:6px;
}
.error{
    display:block;
}
/* End blog article page */

/* Start search result page */
#search_results_content_container{
    margin:0 auto;
    background-color:#ffffff;
}
#search_results_content{
    width:720px;
    padding:15px;
    background-color:#ffffff;
    overflow:hidden;
}
#search_results_main_column{
    float:left;
    width:400px;
    color:#666666;
    overflow:hidden;
    margin-right:20px;
}

#search_results_main_column h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #000000;
    margin-bottom:10px;
}

#search_results_main_column  h2{
    margin:10px 0 1px 0;
    font:bold 14px arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 30px;
    font-weight:bold;
    font-style:italic;
    color:#000000;
}
#search_results_main_column h3{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin-bottom:10px;
}

#search_results_main_column .pagination_container{
    margin-bottom:15px;
}

#search_results_main_column .pagination_container .pagination{
    background-color:#000000;
    border:0;
    text-align:center;
    margin:0;
    height:auto;
    padding: 7px 0 7px 0;
}
#search_results_main_column .pagination_container .pagination ul{
    display:table;
    float:none;
    margin:auto;
    width:auto;
}

#search_results_main_column .pagination_container .pagination ul a{
    color:#ffffff;

}
#search_results_main_column .pagination_container .pagination ul .active{
    color:#e02418;

}
#search_results_main_column .result_container{
    margin-bottom:8px;
    padding-bottom:5px;
    border-bottom:1px solid #cccccc;

}
#search_results_main_column .result_container .term_result{
    color:#e02418;
    font-weight:bold;
    font-size:14px;
}
#search_results_main_column .result_container a{
    color:#e02418;
    -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


#search_results_main_column p{
    font-size:12px;
    line-height:16px;
    padding:1px 0 1px 0;
}


/* End search result page */
/* Start 404 page */
#error_page_content_container{
    background-color:#005b7f;
    background-image:url('/img/404_bg.png');
    background-repeat:no-repeat;
    background-position:300px 5px;
    height:600px;
    width:730px;
    margin:auto;

}
#error_page_content_container h1{
    display:block;
    position:absolute;
    margin:150px 0 0 380px;
    font-family:Georgia, Times, serif;
    font-size:160px;
    font-weight:bold;
    color:#c02835;
    text-shadow: 4px 4px 2px #003e56;
}
#error_page_content_container h2{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:60px;
    font-weight:normal;
    color:#ffffff;
}
#error_page_content_container p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    line-height:30px;
    font-weight:normal;
    color:#ffffff;
    margin-bottom:40px;
}
#error_page_content_container p a{
    color:#ffffff;
}
#error_page_content_container .footer_container{
    background-color:#ffffff;

}
/* End 404 page */

/* Start footer styles */

.footer_container{
    margin:auto;
    width:740px;
    background-color:#ffffff;
    padding:20px 0 50px 0;
}

/* End footer styles */

/*Start QMP Widget */
#olal-container{
    margin:10px 0 10px 0;
    background-color:#f1f1f1;
    padding:5px;
    overflow:hidden;
}
#olal-container .assetNew .assetNew-icon{
    float:left;
    width:32px;
    
}
#olal-container .assetNew .assetNew-title{

    margin-left:45px;
    color:#000;
    font-weight:bold;
    
}
#olal-container .assetNew .assetNew-download{
    margin-left:45px;

}

.business-listing-title-container{
    background-color:#000;
    color:#fff;
    font-weight:bold;
    font-style:italic;
    font-size:18px;
    line-height:32px;
    padding-left:15px;
    width:auto;
    border-bottom:3px solid #ed1f23;
}

#business-listing-container{
    border:1px solid #cccccc;
    background-color:#f1f1f1;
    width:auto;
    height:auto;
    padding:15px;
}
#business-listing-container .assetNew{
    margin-bottom:10px;
    border-bottom:1px solid #cccccc;
    height:80px;
}
#business-listing-container .assetNew:last-child{
    margin-bottom:0px;
    border-bottom:0;
    height:60px;
}
#business-listing-container .assetNew .assetNew-icon{
    float:left;
    width:32px;
    
}
#business-listing-container .assetNew .assetNew-title{
    float:left;
    margin-left:15px;
    width:180px;
    color:#000;
    font-weight:bold;
    line-height:18px;
    
}
#business-listing-container .assetNew .assetNew-download{
    float:left;
    margin:5px 0 0 20px;
    width:111px;
    height:23px;
    background-image:url('/img/download.png');
}
#business-listing-container .assetNew .assetNew-download a{
    display:none;
    width:111px;
    height:23px;
}

#whitePaperIFrame{
    width:100%;
    height:200px;
}
/*Start QMP Widget */

.search-form-container{
    display:none;
}



#footer_container, .push {
    height: 67px;
}



.block {
    display: block;
}
.container {
    text-align: center;
}
.footer_content{
    margin: 0 auto;
    width: 1020px;
    text-align: left;
}

.footer_content {text-align: center;}

.copyright {
    display: block;
    color: #666;
    font-size: 16px;
    padding: 20px;
}
