#main 
{
	margin: 0px;
	width: 960px;
}

#maincontent 
{	

	color: #494A4C;
	font-size: 9pt;
	margin-top: 5px;
	width: 638px;
	text-align: left;
	line-height: 18px;
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
}




#top 
{
	
	width: 802px;
	height: 97px;
	background: url('../images/header.jpg') no-repeat;
}

#top h1 
{
	font-size: 12pt;
	font-weight: bold;
	padding-left: 600px;
	padding-top:6px;
	margin: 0px;
	text-align: left;
}

#top h2 
{
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 575px;
	padding-top: 20px;
	margin: 0px;
	text-align: left;

}

#titel
{	
	font-size: 12pt;
	font-weight: bold;
	color: #1F3810;	
	text-align: left;
	padding-left: 310px;
	padding-top: 15px;
}


#menu {
		
	font-size: 10pt;
	width: 160px;
	height: 800px;	
	float: left;
	text-align: left;
	padding-left: 13px;
	list-style-image: url("../images/item.jpg");

}

#datum
{

text-align: right;
font-size: 7pt;
margin-bottom: 5px;

}

#footer 
{
	clear: both;
	width: 960px;
       	height: 33px;
	background: url('../images/footer.jpg') no-repeat;
	color: #444444;
	text-align: center;
	font-size: 8pt;
	padding-top:10px;
}



#mainpage
{
padding-left: 30px;
height: 550px;
}

#codepage

{
padding-left: 30px;
height: 550px;
}

#tutorialpage

{
padding-left: 30px;
height: 550px;
}

#projectpage

{
padding-left: 30px;
height: 550px;
}

#mailpage
{

padding-top : 50px;
padding-left: 10px;
height: 500px;
}

