body {font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif ;  
	line-height: 120%; 
	margin: 1em;	padding-left: 5px;	

	}

P {font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif ;  
	line-height: 140%; 
	padding-left: 1px; }

CODE {
	font-family: "Lucida Console",             
             Consolas,
             "Courier New",
             monospace;
	padding-left: 1px;
	line-height: 120%;
	border-top-width: none;
	border-right-width: none;
	border-bottom-width: none;
	border-left-width: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	width: 75%;	
}

H1, H2, H3, H4, H5, H6 {font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif  ; 
	padding-left: 5px;}

pre {
	font-family: "Lucida Console",             
             Consolas,
             "Courier New",
             monospace;
	padding-left: 5px;
	overflow: visible;

	width: width: 50%;
	line-height: 120%;
	}
pre:hover {
	position: relative;
	width: 700px;
	z-index: 99;
	}


li {  font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; 
	padding-left: 5px;list-style-type:none;}

H1 { font-size: 180%; font-weight: bold; padding-left: 5px;  line-height: 120%; 
	padding-left: 5px;}

H2 { font-size: 150%; font-weight: bold;padding-left: 5px;   line-height: 120%; 
	padding-left: 5px;}

H3 { font-size: 120%; font-weight: bold; padding-left: 5px;  line-height: 120%; 
	padding-left: 5px;}

H4 { font-size: 100%; font-weight: bold; padding-left: 5px;  line-height: 120%; 
	padding-left: 5px;}
	
ul{  font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; 
	padding-left: 15px; line-height: 140%; 
	list-style-type:disc;}	

div{
  padding: 1px 0;
  }

#container_all{
  /*min-width: 30em;*/
  /*max-width: 65em;*/
  min-width: 30em;
  max-width: 60em;
  /*width:60em;*/
  padding: 1px 0;
  clear: both;
  margin: 0 auto auto auto;
  }

#container_header{  
  min-width: 30em;
  max-width: 60em;
  /*width:60em;*/
  position: relative;  
  padding: 1px 0;
  clear: both;
  }

#container_main{
  min-width: 30em;
  max-width: 60em;
  /*width:60em;*/
  position: relative;  
  padding: 1px 0;
  clear: both;
  }

#content{
	float: left;
	position: absolute;
	width: 75%;
	padding: 1px 1px 1px 1px;	
}

#code_box{
	float: left;
	position: absolute;
	width: 100%;
	padding: 1px 1px 1px 1px;	
	background-color:#FFFFF0;
	

}
    
#menubar_main {
	top: auto;
	width:100%;
	text-align: left;
	padding: 1px 0;
	clear: both;
	}
	
#menubar_utilities{
	min-width: 30em;
  max-width: 60em;
  /*width:60em;*/
	clear: both;
	background-color: #FFF;
	margin: auto;
	padding: 0px;
}

#rightside{
	/*background-color: #e7ffe7;*/
	/*background-color:#FFFFF0;*/
	position: absolute;
	top: 1em;
	width: 22%;
	/*border: 3px solid #FFF;*/
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 78%;
}
	
#search{
	float: right;
	width: 50%;
	padding: 1px 0;
}

#title{
	
	float: left;
	top: 1px;
	width: 50%;
	padding: 1px 0;	
}



.strong {
	font-weight:bold;
}

.float_right {
	float:right;
	margin:0 5px 5px 0
}	
.float_left {
	float:left;
	margin:0 5px 5px 0
}	
.no_space_above_or_below {
	margin-top: 1px;
	margin-bottom: 1px;
}

/*	
* html #content {width:expression(
(document.documentElement.offsetWidth) >(1020/12) 
* parseInt(document.body.currentStyle.fontSize)?  "40em" 
: ((document.documentElement.offsetWidth) <(600/12) 
* parseInt(document.body.currentStyle.fontSize)? "40em" : "60%")); }
*/
     
