#calendar_table td.selected {
	
background: #e8e9ea !important;	background-color: #e8e9ea !important;

}

#calendar_table td.normal:hover {
	
background: #f0f1f2 !important;	background-color: #f0f1f2 !important;

}

#calendar_table td.blank {
	
background: #e0e2e3 !important;	background-color: #e0e2e3 !important;
	border-color: #e0e2e3 !important;

}

#calendar_table td.today {
	
background: #f0f1f2 !important;	background-color: #f0f1f2 !important;
	border-color: #6a7177 !important;
	color: #6a7177;

}

#albumDetailTable td {
	border-color: #eeeff0 !important;

}

html, body {
	
background: #dee0e2 !important;	background-color: #dee0e2 !important;
	color: #555a5f;

}

a {
	color: #225985;

}

#content {
	
background: #ffffff !important;	background-color: #ffffff !important;

}

.row1, .post_block.row1 {
	
background: #ffffff !important;	background-color: #ffffff !important;

}

.row2, .post_block.row2 {
	
background: #f4f5f6 !important;	background-color: #f4f5f6 !important;

}

.unread {
	
background: #f9fafa !important;	background-color: #f9fafa !important;

}

.unread .altrow, .unread.altrow {
	
background: #e8e9ea !important;	background-color: #e8e9ea !important;

}

.ipsBox {
	
background: #eeeff0 !important;	background-color: #eeeff0 !important;

}

.bar {
	
background: #f2f3f4 !important;	background-color: #f2f3f4 !important;

}

.header {
	
background: #c5c9cc !important;	background-color: #c5c9cc !important;
	color: #34383b;

}

body .ipb_table .header a,	body .topic_options a {
	color: #34383b;

}

.post_block {
	
background: #ffffff !important;	background-color: #ffffff !important;
	border-color: #dfe1e2 !important;

}

.no_messages {
	
background: #f8f8f8 !important;	background-color: #f8f8f8 !important;
	border-color:  !important;

}

.input_submit {
	
background: #212121 !important;	background-color: #212121 !important;
	border-color: #5c5c5c !important;
	color: #fff;
	box-shadow:  inset 0 1px 0 0  #5c5c5c !important;
	-moz-box-shadow:  inset 0 1px 0 0  #5c5c5c !important;

	-webkit-box-shadow:  inset 0 1px 0 0  #5c5c5c !important;
}

.input_submit.alt {
	
background: #e8e9ea !important;	background-color: #e8e9ea !important;
	border-color: #e0e2e4 !important;
	color: #42464a;
	box-shadow:  inset 0 1px 0 0  #f3f3f4 !important;
	-moz-box-shadow:  inset 0 1px 0 0  #f3f3f4 !important;

	-webkit-box-shadow:  inset 0 1px 0 0  #f3f3f4 !important;
}

body#ipboard_body fieldset.submit,body#ipboard_body p.submit {
	
background: #dcdedf !important;	background-color: #dcdedf !important;

}

#user_navigation #register_link {
	
background: #545a5f !important;	background-color: #545a5f !important;
	border-color: #545a5f !important;
	color: #ffffff;
	box-shadow:   !important;
	-moz-box-shadow:   !important;

	-webkit-box-shadow:   !important;
}

#branding {
	
background: #2f3234 !important;	background-color: #2f3234 !important;
	border-color: #373a3d !important;

}

#primary_nav {
	
background: #3f4347 !important;	background-color: #3f4347 !important;

}

#primary_nav a {
	
background: #3a3d41 !important;	background-color: #3a3d41 !important;
	color: #d1d3d6;

}

#primary_nav .active a {
	
background: #ffffff !important;	background-color: #ffffff !important;
	color: #4b5054;

}

#search .submit_input {
	
	background-color: #7ba60d !important;
	border-color: #7ba60d !important;

}

.general_box {
	
background: #fcfcfc !important;	background-color: #fcfcfc !important;

}

.general_box h3 {
	
background: #e2e3e5 !important;	background-color: #e2e3e5 !important;
	color: #3f4347;

}

.ipsBox_container {
	
background: #ffffff !important;	background-color: #ffffff !important;
	border-color: #e3e5e7 !important;

}

.maintitle {
	
background: #545a5f !important;	background-color: #545a5f !important;
	color: #ffffff;
	border-color: #80878e !important;
	box-shadow:  inset 0px 1px 0  #80878e !important;
	-moz-box-shadow:  inset 0px 1px 0  #80878e !important;

	-webkit-box-shadow:  inset 0px 1px 0  #80878e !important;
}

.desc, .desc.blend_links a, p.posted_info {
	color: #70777e;

}

.desc.lighter, .desc.lighter.blend_links a {
	color: #9fa4a9;

}

table.ipb_table td {
	border-color: #f2f3f4 !important;

}

.ipsSideMenu ul li.active a {
	
background: #af286d !important;	background-color: #af286d !important;
	color: #fff;

}

.ipsVerticalTabbed_tabs li {
	
background: #f8f9f9 !important;	background-color: #f8f9f9 !important;
	color: #798087;
	border-color: #e3e5e7 !important;

}

.ipsVerticalTabbed_tabs li a {
	color: #868d94;

}

.ipsVerticalTabbed_tabs li a:hover {
	
background: #eff0f0 !important;	background-color: #eff0f0 !important;
	color: #798087;

}

.ipsVerticalTabbed_tabs li.active a {
	
background: #ffffff !important;	background-color: #ffffff !important;
	color: #323538;
	border-color: #ffffff !important;

}

.ipsFilterbar li a {
	color: #ffffff;

}

.ipsFilterbar li.active a {
	
background: #393d41 !important;	background-color: #393d41 !important;
	color: #ffffff;

}

.topic_buttons li.important a, .topic_buttons li.important span, .ipsButton .important,.topic_buttons li a, .topic_buttons li span, .ipsButton {
	
background: #212121 !important;	background-color: #212121 !important;
	border-color: #212121 !important;
	color: #fff;
	box-shadow:  inset 0 1px 0 0  #5c5c5c !important;
	-moz-box-shadow:  inset 0 1px 0 0  #5c5c5c !important;

	-webkit-box-shadow:  inset 0 1px 0 0  #5c5c5c !important;
}

.ipsButton_secondary {
	
background: #f5f6f7 !important;	background-color: #f5f6f7 !important;
	border-color: #d9dbdd !important;
	color: #5b6167;

}

.pagination .back a,.pagination .forward a {
	
background: #e9eaeb !important;	background-color: #e9eaeb !important;
	color: #555a5f;

}

.pagination .back a:hover,	.pagination .forward a:hover {
	
background: #af286d !important;	background-color: #af286d !important;
	color: #fff;

}

.pagination .pages li.active {
	
background: #7BA60D !important;	background-color: #7BA60D !important;
	color: #fff;

}

.ipsSideBlock {
	
background: #f9fafa !important;	background-color: #f9fafa !important;

}

.ipsSideBlock h3 {
	
background: #e2e3e5 !important;	background-color: #e2e3e5 !important;
	color: #3f4347;

}

.status_update {
	
background: #979da3 !important;	background-color: #979da3 !important;
	color: #ffffff;

}

.entry.featured .entry_header, .entry.featured .entry_footer {
	
background: #f7f8f8 !important;	background-color: #f7f8f8 !important;

}#content, .main_width { width: 87% !important; }.topic_buttons li.non_button a {		background: transparent !important;		background-color: transparent !important;		border: 0 !important;		box-shadow: none !important;		-moz-box-shadow: none !important;		-webkit-box-shadow: none !important;		text-shadow: none !important;		min-width: 0px;		color: #777777;		font-weight: normal;		}.moderated, body .moderated td, .moderated td.altrow, .post_block.moderated,					body td.moderated, body td.moderated {					background-color: #f8f1f3 !important;					}					.post_block.moderated { border-color: #e9d2d7 !important; }					.moderated .row2 { background-color: #f0e0e3 !important; }					.moderated, .moderated a { color: #6f3642 !important; }