.col2,.col3,#dhtml_menu,#rightcol,#footer,.sharelinks{
display: none;
}

 .threecol .col1{
width: 95%;
margin: 0px;
 float: none;
 left:101%;
}
.threecol .colleft {
 float: none;
left: 0px;
  margin:0px;
    margin-left: 0%;
}
 .threecol .col1wrap{
 float: none;
 right: 0px;
 }