H1 {font-size: 16pt; font-weight: bold}
H2 {font-size: 16pt; font-weight: bold}
H3 {font-size: 14pt; font-weight: bold}
H4 {font-size: 14pt; font-weight: bold}
H5 {font-size: 12pt; font-weight: bold}
H6 {font-size: 12pt; font-weight: bold}
BODY {
     background: #FFFFFF;
     margin-bottom: 1em;
     margin-left: .5em;
     }
.hilightbar {
     background: #CCCCCC;
     font-weight: bold;
     color: #FFFFFF;
}
.hilightbarlink {
     background: #CCCCCC;
     font-weight : bold;
}
.frontendbar {
     background: #6699CC;
     font-weight: bold;
     color: #FFFFFF;
}
.frontendbarlink {
     background: #CCE5FF;
     font-weight : bold;
}
.interactivetablebar {
     background: #6699CC;
     color: #FFFFFF;
}
.tablemainheaderbar {
     background: #6699CC;
     color: #FFFFFF;
}
.tablesubheaderbar {
     background: #99CCFF;
}
.oddrowgrey {
     background: #E4E4E4;
}
.oddrowblue {
     background: #CCE5FF;
}
.checklistbar {
     background: #6699CC;
     color: #FFFFFF;
}
.scenariobar {
     background: #6699CC;
     color: #FFFFFF;
}
.sectionscenariobar {
     margin-top: 1em;
     margin-bottom: 0em;
     font-size: 12pt;
     font-weight: bold;
     background: #6699CC;
     color: #FFFFFF;
}

.finderbar {
     background: #6699CC;
     color: #FFFFFF;
}
.advisorbar {
     background: #6699CC;
     color: #FFFFFF;
}
img { border: 0 }
UL.ListWithBreaks {
     padding-bottom: 1em;
     padding-top: 1em;
}
UL.ListWithBreak {
     padding-top: 1em;
}
UL.noBreak {
     margin-top : 0px;
     margin-bottom : 0px;
}
LI.small {
     font-size : x-small;
}
.hr {
 border-top : outset
}
.block {
 margin-left: 40px;
 margin-right: 50px
}
.break {
 padding-bottom: 20px
}
.br {
     display : block;
}
TABLE.singleborder {
     border-collapse : collapse;
}

TABLE.singleborder TD {
     border: 2px solid #999999;
     padding : 4px 4px 4px 4px;
}

TABLE.blocksingleborder {
     border-collapse : collapse;
     margin-left: 10px;
}

TABLE.blocksingleborder TD {
     border: 2px solid #999999;
     padding : 4px 4px 4px 4px;
}
.type2outerlevel{font size: 13pt; font-weight: bold}

.type2currentlevel{font size: 16pt; font-weight: bold}

.runningfooter {font-size: 0.7em; }
.runningfooter a:link {font-weight: bold; color: #000000; text-decoration: none;}
.runningfooter a:active {font-weight: bold; color: #000000; text-decoration: none;}
.runningfooter a:visited {font-weight: bold; color: #000000; text-decoration: none;}
.runningfooter a:hover {font-weight: bold; color: #000000; text-decoration: none;}
