/*css*/
@import url("http://yui.yahooapis.com/pure/0.2.0/pure-nr-min.css");

body {
	margin:0;
	padding:0;
	background:url(http://cdn.embeddedrelated.com/images/pg_bg.gif) repeat-x top #946e5b;
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
	}
h1, h2, h3, form, p { margin:0; padding:0; display:block;}
/*ul { display:block; list-style-type:none; margin:0; padding:0;}*/
a { text-decoration:underline; color:#005494;}
a:hover { text-decoration:none;}
						 
.orange {color: #FC6F00;}
.ratingtext { font-size:10px;}
.smallurl { font-size:10px; color:#999999;}
.button { background:#a2e148 url(http://cdn.embeddedrelated.com/images/bg000_03.jpg) center repeat-x; color:#146900; font-weight:bold; height:21px;}
.button input { border:1px solid #005494; font-size:12px;}
.error {color:#c00;font-weight:bold; display:block; margin: 25px 25px 25px 25px; font-size:15px;}  

.formsubscribe input { border:1px solid #005494; font-size:12px;}
.formsubscribe .button { background:#4eac17 url(http://cdn.embeddedrelated.com/images/bg000_03.jpg) center repeat-x; color:#fff; font-weight:bold; height:21px;}


#wrapper {
	width:1100px;
	margin:0 auto 10px auto;
	}
#header { height:70px;}


#logo { margin:6px 0 10px 20px; display:block; float:left;}


/*#search { float:right; border:0; display:block; padding-right:15px; padding-top:15px;}
#search ul { list-style:none; margin:0px;display:block;}		   

#search input {margin:0 0 0 0px; font-size:11px; }				   */
#search { float:right; border:0; margin-top: 10px; margin-right: 20px; display:block; padding:15px;}
#search input { float:left; margin:0 0 0 10px; font-size:12px; }



#menu { clear:left; height: 27px; float:left; width:655px;}
#lgbox { position:relative; right:0; width:270px; float:right; padding:5px 0 0; color:#401e00;  }
#lgbox a {color:#401e00;}
/*#menu ul { font-weight:bold;}*/
#menu ul { font-weight:bold; display:block; list-style-type:none; margin:0; padding:0;}
#menu li { float:left;}
#menu li.active a { color:#005494; background:#fcfcfc;}
#menu a { 
	padding:5px 15px 6px 15px;
	display:block;
	float:left;
	border-left:1px solid #b9b9b9;
	color:#401e00;
	text-decoration:none;
	height:14px; line-height:15px;
	}
#menu a:hover { color:#3c89c3; background:#fcfcfc;}
#menu a:active { color:#3c89c3; background:#fcfcfc;}



#side {
	position:relative; top:0; left:0;
	clear:left;
	float:right;
	margin:10px 15px 10px 10px;
	width:336px;
	}
#side fieldset {
	padding:10px;
	border:0;
	display:block;
	}
#side form { background:#a3aebc; margin:0 0 15px 0}
#side span { display:block; padding-top:0px; clear:left;}
#side input { clear:left; float:left; margin-bottom:6px; font-size:11px;}
.textfield { width:145px;}

#side label { float:left; padding:3px 0 0 10px; display:block}
#side h1 {
	/*background: url(http://cdn.embeddedrelated.com/images/hs.gif) no-repeat right top #005494;*/
	background: #005494; /* Old browsers */
	background: -moz-linear-gradient(left,  #005494 0%, #3d89c3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#005494), color-stop(100%,#3d89c3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #005494 0%,#3d89c3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #005494 0%,#3d89c3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #005494 0%,#3d89c3 100%); /* IE10+ */
	background: linear-gradient(to right,  #005494 0%,#3d89c3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005494', endColorstr='#3d89c3',GradientType=1 ); /* IE6-9 */

	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	padding:4px 10px 3px 15px; display:block;
	border:1px solid #005494;
	}
#side h2 {
	/*background: url(http://cdn.embeddedrelated.com/images/hs.gif) no-repeat right top #005494;*/
	background: #005494; /* Old browsers */
	background: -moz-linear-gradient(left,  #005494 0%, #3d89c3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#005494), color-stop(100%,#3d89c3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #005494 0%,#3d89c3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #005494 0%,#3d89c3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #005494 0%,#3d89c3 100%); /* IE10+ */
	background: linear-gradient(to right,  #005494 0%,#3d89c3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005494', endColorstr='#3d89c3',GradientType=1 ); /* IE6-9 */
	
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	padding:4px 10px 3px 15px; display:block;
	border:1px solid #005494;
	}	
#side ul { display:block; list-style-type:none; margin:0; padding:0;}		

#side a.book {text-decoration:none; font-weight:bold; font-size:1.2em;}

#container {
	float:left;
	width:710px;
	margin:10px 0 10px 0;
	padding:10px; background:#FFFFFF;
	line-height:16px; color:#243d5d; font-size:12px;
	}
#container p { margin:5px 0 10px 0; clear:left;}
.green { color:#1c9400;}
.size1 { font-size:15px;}


#sidemenu {
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-style:italic; background:#a3aebc;
	}

/*#sidemenu li {padding:7px 0px 7px 0px; border-bottom:1px solid #a08f80;}
#sidemenu a {padding:7px 15px 7px 15px; color:black;}

#sidemenu li.active { background:#fff; font-weight: bold; color: #5cb21d; }	*/

#sidemenu li {
	padding:7px 15px 7px 15px; border-bottom:1px solid #a3aebc;
	}

#sidemenu li.small {
	padding:4px 15px 4px 15px; border-bottom:1px solid #a3aebc; 
	}	   

#sidemenu li.active { background:#fff; font-weight: bold; color: #243d5d; }	
	
#sidemenu a { color:black; }


/*.sel01 { background:#d0c7c0 url(http://cdn.embeddedrelated.com/images/arrow.gif) no-repeat 5px center;}
.sel02 { background:#b8aba0 url(http://cdn.embeddedrelated.com/images/arrow.gif) no-repeat 5px center;}
.se_over { background:#fff url(http://cdn.embeddedrelated.com/images/arrow.gif) no-repeat 5px center;}*/
.sel01 { background:#a3aebc url(http://cdn.embeddedrelated.com/images/arrow.gif) no-repeat 5px center;}
.sel02 { background:#d1d7de url(http://cdn.embeddedrelated.com/images/arrow.gif) no-repeat 5px center;}
.se_over { background:#fff url(http://cdn.embeddedrelated.com/images/arrow.gif) no-repeat 5px center;}


#foother { clear:both; background:url(http://cdn.embeddedrelated.com/images/foo_bg.gif) repeat-x top; height:51px; }
/*#foother ul { padding:10px; width:955px; margin:15px auto 0 auto;}*/
#foother ul {display:block; list-style-type:none; padding:10px; width:955px; margin:5px auto 0 auto;}
#foother li { float:left; padding:0px 10px 0px 10px;}
#foother ul a { color:#FFFFFF; }

.box {
	float:left;
	width:337px;
	/*border-bottom:1px dashed #CCCCCC;*/
	}
.left {
	padding:0 15px 15px 5px;
	margin-bottom:15px;
	background:url(http://cdn.embeddedrelated.com/images/left.gif) no-repeat right bottom;
	/*border-right:1px dashed #CCCCCC;*/
	}
.right {
	padding:0 0 15px 15px;
	margin-bottom:15px;
	background:url(http://cdn.embeddedrelated.com/images/right.gif) no-repeat right bottom;
	}
.imgholder { float:left; margin:0 10px 10px 0; display:block; padding: 1px; border:1px solid #465d78;}
.box h1 { 
	background:url(http://cdn.embeddedrelated.com/images/s1.gif) right #005494 no-repeat;
	color:#fff;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:5px 0 5px 15px;
	text-decoration:none;
	}
.box h1 a {color:#fff;text-decoration:none;}	
.box h1 a:hover {color:#fff;}	
.box h2 {font-size:12px; color:#243d5d;}
.box h2 a {font-size:12px; text-decoration:none;color:#243d5d;font-style:normal;}
.box h2 a:hover {font-size:12px; text-decoration:none;color:#000;font-style:normal;}	


.box1 {
	float:left;
	width:90px;
	/*border-bottom:1px dashed #CCCCCC;*/
	}
.box2 {
	float:left;
	width:625px;
	/*border-bottom:1px dashed #CCCCCC;*/
	}	
.left1 {
	padding:0 15px 15px 0;
	margin-bottom:15px;
	/*border-right:1px dashed #CCCCCC;*/
	}
.right1 {
	padding:0 0 15px 15px;
	margin-bottom:15px;
	}
.box2  a {color:#005494;text-decoration:underline; font-style:italic; font-size:12px;}	
.box2  a:hover {color:#000;}
.box2 h2 {font-size:16px;color:#243d5d; margin:0px;}
.box2 h2 a {font-size:16px;text-decoration:none;color:#243d5d;font-style:normal;}
.box2 h2 a:hover {font-size:16px;text-decoration:none;color:#000;font-style:normal;}	

.pagenumbers {background: #eceef1;margin-right:15px; margin-bottom:10px; padding-left:10px; padding-right:10px; text-align:right;color:#243d5d;}
.pagenumbers a { color:#243d5d; text-decoration:none; font-weight:bold;}	
.pagenumbers a:hover { color:#000; text-decoration:underline;}

.txtGreen {color:#369b00;}

.txtBlue {color:#005494;}


.title h1 { 
	background:url(http://cdn.embeddedrelated.com/images/s1.gif) right #005494 no-repeat;
	color:#fff;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:5px 0 5px 15px;
	text-decoration:none;
	margin-bottom:15px; margin-right:15px;
	}

.title h1 a {color:#fff;}	
	
.title2 h1 { 
	/*background:url(http://cdn.embeddedrelated.com/images/s2.gif) right #0a223f no-repeat;*/
	background:url(http://cdn.embeddedrelated.com/images/s1.gif) right #005494 no-repeat;	
	color:#fff;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:5px 0 5px 15px;
	text-decoration:none;
	margin-bottom:0px; margin-right:15px;
	}	  
	
.title2 h2 { 
	/*background:url(http://cdn.embeddedrelated.com/images/s2.gif) right #0a223f no-repeat;*/
	background:url(http://cdn.embeddedrelated.com/images/s1.gif) right #005494 no-repeat;	
	color:#fff;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:5px 0 5px 15px;
	text-decoration:none;
	margin-bottom:0px; margin-right:15px;
	}		

.replyquote {color: #488AC7; font-size:12px;}
.replyquote a {color: #488AC7; font-size:12px; font-weight:normal;} 
	
#nopictures {clear:both;margin-right:15px; margin-bottom:20px; padding-left:10px;}
#nopictures  a {color:#005494;text-decoration:underline; font-style:italic; font-size:12px;}	
#nopictures  a:hover {color:#000;}	
#nopictures h2 {font-size:16px;color:#243d5d;}
#nopictures h2 a {font-size:16px;text-decoration:none;color:#243d5d;font-style:normal;}
#nopictures h2 a:hover {font-size:16px;text-decoration:none;color:#000;font-style:normal;}

a.more {color:#146900;}


.box3 {
	float:left;
	width:70px;
	/*border-bottom:1px dashed #CCCCCC;*/
	}
.box4 {
	float:left;
	width:605px;
	/*border-bottom:1px dashed #CCCCCC;*/
	}
.left2 {
	 padding-left:10px;
	}
.right2 {
	margin-right:15px;
	}	
	
#comp_dsp {clear:both;margin-right:15px; margin-bottom:2px; padding-left:25px; padding-top:10px; padding-bottom:10px; padding-right:10px; background:#edf7ff url(http://cdn.embeddedrelated.com/images/arrow2.gif) 10px 15px no-repeat;font-style:italic; color:#243d5d;}
#comp_dsp  a {color:#243d5d;text-decoration:underline; font-size:11px;font-weight:bold;font-style:normal;}	
#comp_dsp  a:hover {color:#000;}	
#comp_dsp h2 {font-size:12px;color:#243d5d; margin:0px;font-style:normal; font-weight:100}
#comp_dsp h2 a {font-size:14px;text-decoration:underline;color:#243d5d;font-style:normal; font-weight:bold;}
#comp_dsp h2 a:hover {font-size:14px;text-decoration:none;color:#000;font-style:normal; font-weight:bold;}

#comp_dsp2 {clear:both;margin-right:15px; margin-bottom:2px; padding-left:25px; padding-top:10px; padding-bottom:10px; padding-right:10px; background:#cfeaff url(http://cdn.embeddedrelated.com/images/arrow2.gif) 10px 15px no-repeat;font-style:italic; color:#243d5d;}
#comp_dsp2  a {color:#243d5d;text-decoration:underline; font-size:11px;font-weight:bold;font-style:normal;}	
#comp_dsp2  a:hover {color:#000;}	
#comp_dsp2 h2 {font-size:12px;color:#243d5d; margin:0px;font-style:normal; font-weight:100}
#comp_dsp2 h2 a {font-size:14px;text-decoration:underline;color:#243d5d;font-style:normal; font-weight:bold;}
#comp_dsp2 h2 a:hover {font-size:14px;text-decoration:none;color:#000;font-style:normal; font-weight:bold;}

#txtGreen100 { font-size:12px; font-style:normal;}
#txtGreen100 a { color:#55af1a; font-weight:bold; text-decoration:none; font-style:normal;}
#txtGreen100 a:hover { color:#55af1a; font-weight:bold; text-decoration:underline; font-style:normal;}


#txtBlue100 { font-size:12px; font-style:normal;}
#txtBlue100 a { color:#005494; font-weight:bold; text-decoration:none; font-style:normal;}
#txtBlue100 a:hover { color:#005494; font-weight:bold; text-decoration:underline; font-style:normal;}



/*#d_groups {clear:both;margin-right:15px; margin-bottom:2px; padding-left:25px; padding-top:10px; padding-bottom:10px; padding-right:10px; background:#d1d7de url(http://cdn.embeddedrelated.com/images/arrow3.gif) 10px 15px no-repeat;font-style:italic; color:#243d5d;}*/
#d_groups {clear:both;margin-right:15px; margin-bottom:2px; padding-left:25px; padding-top:10px; padding-bottom:10px; padding-right:10px; background:#fff url(http://cdn.embeddedrelated.com/images/arrow3.gif) 10px 15px no-repeat; color:#243d5d;}
#d_groups  a {color:#243d5d;text-decoration:underline; font-weight:bold;font-style:normal;}	
#d_groups  a:hover {color:#000;}	
#d_groups h2 {font-size:12px;color:#005494; margin:0px;font-style:normal; font-weight:100}
#d_groups h2 a {font-size:14px;text-decoration:underline;color:#005494;font-style:normal; font-weight:bold;}
#d_groups h2 a:hover {font-size:14px;text-decoration:none;color:#000;font-style:normal; font-weight:bold;}

#d_groups2 {clear:both;margin-right:15px; margin-bottom:2px; padding-left:25px; padding-top:10px; padding-bottom:10px; padding-right:10px; background:#e8ebee url(http://cdn.embeddedrelated.com/images/arrow3.gif) 10px 15px no-repeat;font-style:italic; color:#243d5d;}
#d_groups2  a {color:#243d5d;text-decoration:underline; font-weight:bold;font-style:normal;}	
#d_groups2  a:hover {color:#000;}	
#d_groups2 h2 {font-size:12px;color:#005494; margin:0px;font-style:normal; font-weight:100}
#d_groups2 h2 a {font-size:14px;text-decoration:underline;color:#005494;font-style:normal; font-weight:bold;}
#d_groups2 h2 a:hover {font-size:14px;text-decoration:none;color:#000;font-style:normal; font-weight:bold;}




#thread1 {clear:both;margin-right:15px; margin-bottom:15px; padding-left:25px; padding-top:10px; padding-bottom:10px; padding-right:10px; font-style:normal; font-size:13px; font-family: "Andale Mono", AndaleMono, monospace; overflow: hidded; color:#243d5d; background:#d1d7de;}
#thread1  a {text-decoration:underline; font-weight:bold;font-style:normal;}	
#thread1  a:hover {color:#000;}	
#thread1 h2 {font-size:12px;color:#243d5d; margin:0px;font-style:normal; font-weight:100}
#thread1 h2 a {font-size:14px;text-decoration:underline;color:#243d5d;font-style:normal; font-weight:bold;}
#thread1 h2 a:hover {font-size:14px;text-decoration:none;color:#000;font-style:normal; font-weight:bold;}

#thread2 {clear:both;margin-right:15px; margin-bottom:25px; padding-left:25px; padding-top:10px; padding-bottom:10px; padding-right:10px; font-style:normal; color:#243d5d;background:#cfeaff;}
#thread2  a {color:#243d5d;text-decoration:underline; font-weight:bold;font-style:normal;}	
#thread2  a:hover {color:#000;}	
#thread2 h2 {font-size:12px;color:#243d5d; margin:0px;font-style:normal; font-weight:100}
#thread2 h2 a {font-size:14px;text-decoration:underline;color:#243d5d;font-style:normal; font-weight:bold;}
#thread2 h2 a:hover {font-size:14px;text-decoration:none;color:#000;font-style:normal; font-weight:bold;}



#formSubmit {margin-right:15px; margin-bottom:20px; padding-left:10px;}
#formSubmit input { border:1px solid #005494; font-size:12px;}
#formSubmit .button { background:#4eac17 url(http://cdn.embeddedrelated.com/images/bg000_03.jpg) center repeat-x; color:#fff; font-weight:bold; height:21px;}

.button { background:#4eac17 url(http://cdn.embeddedrelated.com/images/bg000_03.jpg) center repeat-x; color:#fff; font-weight:bold; height:21px;}

	#hidden1 	 { display : none }
	#hidden2 	 { display : none }
	#hidden3 	 { display : none }
	#hidden4 	 { display : none }
	#hidden5 	 { display : none }
	#hidden6 	 { display : none }
	#hidden7 	 { display : none }
	#hidden8 	 { display : none }
	#hidden9 	 { display : none }
	#hidden10 	 { display : none }
	#hidden11 	 { display : none }
	#hidden12 	 { display : none }
	#hidden13 	 { display : none }
	#hidden14 	 { display : none }
	#hidden15 	 { display : none }
	#hidden16 	 { display : none }
	#hidden17 	 { display : none }
	#hidden18 	 { display : none }
	#hidden19 	 { display : none }		
	#hidden20 	 { display : none }	
	

#blog01 { background:url(http://cdn.embeddedrelated.com/images/blog_03.jpg) repeat-x top; border:1px solid #cccccc; margin:5px 0px 15px 0px; padding:10px; color:#243d5d;}
#blog01 h1 { color:#f56907; font-size:18px; font-weight:bold; margin-bottom:5px;}
#blog01 .image {border:1px solid #a5a4a4; margin: 0px 10px 10px 0px;}
#blog01 a.name {color:#f56907; text-decoration:none; font-weight:bold;}
#blog01 a {color:#67bb1f; font-weight:bold;}

#blog02 { background:url(http://cdn.embeddedrelated.com/images/blog_06.jpg) repeat-x top; border:1px solid #cccccc; margin:5px 0px 15px 0px; padding:10px; color:#243d5d;}
#blog02 h1 { color:#f56907; font-size:18px; font-weight:bold; margin-bottom:5px;}
#blog02 .image {border:1px solid #a5a4a4; margin: 0px 10px 10px 0px;}
#blog02 a.name {color:#f56907; text-decoration:none; font-weight:bold;}
#blog02 a {color:#67bb1f; font-weight:bold;}

#blog03 { background:url(http://cdn.embeddedrelated.com/images/blog_03.jpg) repeat-x top; border:1px solid #cccccc; font-family: Georgia, Times, "Times New Roman", serif; font-size:15px; line-height: 1.5; margin:5px 0px 15px 0px; padding:10px; color:#243d5d;}
#blog03 h1 { color:#f56907; font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size:22px; font-weight:bold; margin-bottom:5px;}
#blog03 .image {border:1px solid #a5a4a4; margin: 0px 10px 10px 0px;}
#blog03 a.name {color:#f56907; text-decoration:none; font-weight:bold;}
#blog03 a {color:#243d5d;}
#blog03 .postedby {font-weight:bold; font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;}

.txtCommentBlogTitle { color:#f56907; font-size:18px; font-weight:bold; margin-bottom:5px;}

#blogComments {margin-bottom:20px;}
#blogComments a.name {color:#f56907; text-decoration:none; font-weight:bold;}
#blogComments h1 { color:#f56907; font-size:14px; font-weight:bold; margin-bottom:5px;}
#blogComments .title {color:#243d5d;}

#add_cooment { margin-left:200px;}
#add_cooment .txtField { width:250px; font-size:11px;font-family:Arial, Helvetica, sans-serif; border:1px solid #c9c9c9; margin-bottom:5px;}

#blogUser {}
#blogUser a.name {color:#f56907; text-decoration:none; font-weight:bold;}
#blogUse .image {border:1px solid #a5a4a4; margin: 0px 10px 10px 0px;}
#blogUser h1 { color:#f56907; font-size:14px; font-weight:bold; margin-bottom:5px;}	
	
.pure-button-green {
            background: rgb(22, 103, 165); /* this is a green */
			color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

.pure-input-login {
			width: 110px;
		}

.pure-input-search {
			width: 150px;
		}		

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 		
