

textarea
{
	font-size:12px;	
	width: 600px;
	height: 120px;
	border: 2px solid #1F3810;
	background-color:#D3E8CC;
	padding: 2px;
}

input 

{
	font-size:12px;	
	width: 600px;
	border: 2px solid #1F3810;
	color:#555555;
	background-color:#D3E8CC;
	border-style:solid;
	padding: 2px;
}

input.groovybutton
{
   font-size:12px;
   width: 100px;
   font-weight:bold;
   color:#555555;
   background-color:#55A83E;
   
 
}



