body 
{
	font-family: arial;
	font-size:12px;
	margin: 0px;	
	padding: 0px;
	background: #FFFFFF;

}

a,a:visited,a:active 
{
        color: #0E4707;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
}


a:hover 
{
	color: #000000;
	font-weight: bold;
	text-decoration:underline;
}

kbd 			/* voor keyboard input  */
{
font-weight: bold;
color: #262633;
}

pre 			/* voor code blocks */
{
border: 2px solid; 
overflow: auto; 
width: 630px; 
background-color :#EAF5E9;
border-color: #195206; 


}

pre.output			/* voor output comments */
{
border: 1px solid; 
overflow: auto; 
width: 630px; 
border-color: #EAF5E9; 
text-decoration: none;

}

code 			/* voor code (en shell text) */
{
padding: 0px; 
overflow: auto; 
width: 630px; 
text-align: left; 
color: #1E3D15;
font-family: courier;
font-size:13px;

}


img 			/* voor code (en php code blocks) */
{
border:0px solid #fff;
}


fieldset  /* voor comments */
{
border:2px solid #000;
margin:5px;
}

hr /* voor comments */
{
color: #87B577;
background-color: #87B577;
height: 5px;
}


/* captcha rollover code */

.caproll
{
position: relative;

background: url(/mods/comments/php_captcha.php) no-repeat;

display: block;

}

.caproll img
{
display: block;
}

.caproll a:hover img
{
visibility:hidden
}

img.center { 

display:block; 
margin-left:auto; 
margin-right:auto; 
}



