@font-face {
    font-family: 'open_sanssemibold';
    src: url('font/OpenSans-Semibold-webfont.eot');
    src: url('font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {overflow:hidden; height:100%;display:block;margin:0; padding:0;}
body {margin:0; padding:0; background:url(images_news/tech-bg.png) 0 0 repeat-x;font-family:'open_sanssemibold'; height:100%;display:block;}
a img{border:none;}
.ifrm {  margin:0; width:100%;padding:0;display:block; border:none;text-align:left;position:relative;}
.header {height:82px;padding:0 10px 0px 10px; border-top:2px solid #e1e8ec; min-width:1240px; position:relative; }
.logo {width:auto; float:left;margin-right:46px;margin-top:22px;}
.back-hm {position:absolute; right:20px; top:6px;	 display:inline-block; }  
.back-hm a{background:url(images_news/back-lft.jpg) 0 0 no-repeat; display:block; text-decoration:none;float:left;height:44px;} 
.mr {font-size:12px; color:#6b6b6b; display:block; text-align:center; margin-bottom:5px;}
.catg {font-weight:normal; font-size:15px; color:#82132F; line-height:34px;}
.back-hm-in {background:url(images_news/back-rt.jpg) 100% 0 no-repeat; height:44px;padding:3px 10px 3px 35px;display:inline-block;width:auto; }
.tp-lnks {font:14px/20px 'open_sanssemibold'; list-style:none; margin:0px; padding:0; float:left; width:54%;}
.tp-lnks li {margin:0 10px 0 0; padding:15px 10px 15px 0;/* background:url(images_news/blt.jpg) 0 4px no-repeat;  border:1px;*/ float:left; width:30%; background:url(images_news/divider.gif) 100% 0 no-repeat; font-weight:bold; min-height:52px; }
.tp-lnks li a {color:#000; text-decoration:none; line-height:20px; font-size:14px; font-weight: normal;}
.tp-lnks li a:hover {text-decoration:underline;}

.tp-rt-lnks {margin:0; padding:0; list-style:none; float:left	; width:auto;}
.tp-rt-lnks  li {margin:0 0px 0 10px; padding:0;float:left;  width:auto; }
.tp-rt-lnks  li.wel {background:url(images_news/wel.jpg) 0 0 no-repeat; padding-left:20px; font-size:11px; color:#66808d;height:21px;  line-height:18px; margin-right:140px;}
.tp-rt-lnks  li.wel span{background:url(images_news/wel-rt.jpg) 100% 0 no-repeat; padding-right:10px; height:21px;  line-height:18px;display:block;float:left; font-weight: normal;}

.tp-rt-lnks  li.wel span a {color:#66808d; text-decoration:none; font-weight:normal; }
.tp-rt-lnks  li.wel span a:hover {color:#66808d; text-decoration:underline;}

.tp-rt-lnks li.back-btn { heigh:18px;line-height:18px;margin-top:3px;}
.tp-rt-lnks li.back-btn a {background:url(images_news/back-btn-lft.jpg) 0 0 no-repeat;float:left; display:block; text-decoration:none;}
.tp-rt-lnks li.back-btn a span{background:url(images_news/back-btn-rt.jpg) 100% 0 no-repeat; font-size:11px; color:#0376ad;display:block;padding-left:5px; padding-right:5px;}
.back-icon {background:url(images_news/back-arrow.jpg) 0 0 no-repeat; width:10px; height:9px; display:block;float:left;margin-top:4px;margin-right:3px;}

.close-icon {background:url(images_news/close-icon.jpg) 0 0 no-repeat; display:block;float:left;margin-top:4px;margin-right:3px; height:0; padding-top:15px; width:15px; display:block;}
.tp-rt-lnks li.closeBtn{ display:none; }
.tp-rt-lnks li.closeBtn a{ overflow:hidden; background:none; text-indent:-9999em; margin:0px 20px 0px 0px; }




.lk-comm {margin:0; padding:20px 0 0 0px; list-style:none; width:auto;clear:right; float:left;}
.lk-comm  li {margin:0 0 0 10px; padding:0;float:right;  width:auto; #margin:0 0 0 0px;  }

.lk-comm .blue-btn { heigh:28px;line-height:28px;margin-top:3px;float:right;}
.lk-comm .blue-btn a {background:url(images_news/blue-bg-lft.jpg) 0 0 no-repeat;float:left; display:block; text-decoration:none;}
.lk-comm .blue-btn a span{background:url(images_news/blue-bg-rt.jpg) 100% 0 no-repeat; font-size:13px; color:#ffffff;display:block;padding-left:8px; padding-right:8px;font-weight:bold;}
.like-icon {background:url(images_news/like-icon.jpg) 0 0 no-repeat; width:20px; height:21px; display:block;float:left;margin-top:3px;margin-right:3px;}



.lk-comm li.orange-btn { heigh:28px;line-height:28px;margin-top:3px;}
.lk-comm li.orange-btn a {background:url(images_news/orange-bg-lft.jpg) 0 0 no-repeat;display:block; text-decoration:none;}
.lk-comm li.orange-btn a span{background:url(images_news/orange-bg-rt.jpg) 100% 0 no-repeat; font-size:13px; color:#0376ad;display:block;padding-left:8px; padding-right:8px;font-weight:bold;}
.comment-icon {background:url(images_news/comment-icon.jpg) 0 0 no-repeat; width:23px; height:20px; display:block;float:left;margin-top:5px;margin-right:3px;}



.addCmntBlk{width:450px; background:#fff; position:absolute; right:10px; top:65px; border:2px solid #cacaca; z-index:999; display:none; padding:5px 10px 10px}
.comment_HD{border-bottom:1px solid #000000; color:#000000; font-family:Georgia; font-size:16px; font-weight:bold; line-height:24px; margin:0 0 10px; padding:0 0 0;}

.fl{float:left;}
.fr{float:right;}
.clr {clear:both; display:block; height:1px; overflow:hidden;}

/* new css added */
ul.link_cmnt_list {margin:0; padding:0; }
.link_cmnt_list li{ list-style-type:none; margin:0 0 10px 0; padding:0;font-size:12px;  }
.link_cmnt_list span{border:none;}


/* new button css added */
.submit_btn_container { width:auto;  height:23px; padding:5px 0 5px; cursor:pointer;}
.submit_btn_container i { width:4px;  height:23px;  float:left;  background:url(images/submit_btn_left_new.gif) no-repeat;}
.submit_btn_container dfn { width:auto;  height:23px;  float:left;  font-style:normal; background:url(images/submit_btn_middle_new.gif) repeat-x;}
.submit_btn_container dfn a{color:#fff; font-weight:bold; line-height:22px;}
.submit_btn_container dfn input {  height:23px !important;  width:auto !important; background:none !important;  border:none !important;  color:#fff !important;  font-size:14px !important;  font-style:normal !important;  font-weight:bold !important;
 padding:0 1px; float:left !important; font-family:"Trebuchet MS" !important; cursor:pointer !important;}
.submit_btn_container em { width:4px !important;  height:23px; float:left; background:url(images/submit_btn_right_new.gif) no-repeat; border:none !important;}
.mrgn_l5{margin-left:5px;}
.link_comment{width:440px; height: 60px; padding: 2px; font-size: 12px; color: #000; line-height: 15px;}
.link_cmnt_list{ color:#333;}
.fnt11{ font-size:11px; color:#333;}
.fnt11 a{ color:#006B9C;}
.userCmnt{ padding-left:10px; width:370px; }
.yr-cmnt {font-size:12px; display:block; margin-bottom:5px;margin-top:10px;}
.comment_cnfm_blk {display:none; font-size:12px; float:left; padding-top:5px; font-weight:bold;}


.mrgnbtn10 {
    margin-bottom: 10px;
}
.lk-sts-news {
    background: url("images_news/lk-sts-bg-news.gif") no-repeat scroll 0 0 transparent;
    border-right: 1px solid #C8C8C8;
    color: #494949;
    display: block;
    float: right;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-top: 3px;
    padding-left: 13px;
    padding-right: 5px;
}
.k-cmnt-news {
    background: url("images_news/cmnt-bg-if.gif") no-repeat scroll 0 2px transparent;
    color: #006B9C;
    display: block;
    float: left;
    font-family: arial,sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-left: 20px;
    padding-left: 16px;
    padding-right: 5px;
}

.k-cmnt-news a {color:#006b9c; text-decoration:none;}
.k-cmnt-news a:hover {color:#006b9c; text-decoration:underline;}

.lk-comm  li.news-lc-btn {
    display: block;
    float: right;
    font-family: arial,sans-serif;
    font-size: 12px;
    line-height: 14px;
		margin-top:7px;
}

.lk-comm li.news-unlike {color:#303030;font-size:12px; font-style:normal;}
.lk-comm li.news-unlike a {color:#006b9c;text-decoration:none;}
.lk-comm li.news-unlike a:hover {color:#006b9c; text-decoration:underline;}

.nrm_stl {
    font-style: normal;
    font-weight: normal;
}

/* Rajendra 15-02-11 */
.remove-news {
    background: url("./images/close-wl.jpg") no-repeat scroll center center transparent;
    border: 1px solid #FFFFFF;
    display:none;
    float: left;
    font-size: 11px;
    height: 12px;
    margin-right: 5px;
    width: 12px;
		cursor:default;
}
.remove-news:hover {
    border:1px solid #bababa;
}	