h2.min-blogtitle {
font-size:24px !important;
color:#000000 !important;
}
.lotusui30 .lotusPlaceBar .lotusInner .min-lotusInner {
border-bottom:none;
}
.min-allposts {
font-size:14px;
float:left;
color:#000000;
font-family:Arial,Helvetica Neue,Helvetica,sans-serif;
font-weight:bold;
}
.min-sortlinks {
float:right;
font-family:Georgia,Arial,sans-serif !important;
font-weight:bold;
font-size:12px;
font-style:italic;
}
div.min-entry-title {
font-size:24px !important;
font-weight:normal;
}
.min-entry-title {
font-size:24px !important;
font-weight:normal;
}
.min-name {
font-family:Georgia,Arial,san-serif;
font-style: italic;
}
div.min-black-rule {
border-top: 2px solid black;
}
span.cnxnsType.lotusMeta {
font-size:11px;
font-weight:normal;
padding-left:5px;
}
#dialog div {
font-size: 1.0em !important;
}
#blogsImageDiv div {
font-size: 1.0em !important;
}
#confirmDialog {
font-size: 1.5em !important;
}
#confirmDialog div {
font-size: .92em !important;
}
#confirmDialog input.lotusFormButton {
font-size: .85em !important;
}
#Dialog {
font-size: 1.5em !important;
}
#inputDialog div {
font-size: 1.0em !important;
}
div.lotusDialogBorder  {
font-size: .85em !important;
}
div.lotusDialogWrapper div {
font-size: 1.05em !important;
}
.lotusui30dojo .lotusDialogWrapper div.lotusHeading {
font-size: 1.2em !important;
font-weight:bold !important;
}
div.emailDialog div {
font-size: 0.98em !important;
}
div#popupForm {font-size: 1.8em !important; }
div#inputDialog.dijitDialog.dijitContentPane {
font-size: 1.1em !important;
}
.lotusui30 .lotusTitleBarExt .lotusInlinelist li.lotusFirst {
margin:1 !important;
}
.lotusui30 .lotusTitleBarExt .lotusInlinelist li.lotusFirst {
margin-left: 0 !important;
margin-right: 5px; !important;
padding: 0 !important;
}
.lotusui30 .lotusTitleBarExt .lotusInlinelist li.lotusNowrap a {
margin-left: 5px !important;
}
#blogsActionBar li a {
margin-left: 5px !important;
}
*+html #blogsActionBar li.lotusFirst a {
margin-right: 5px !important;
}
*+html #blogsActionBar li a {
margin-right: 1px !important;
margin-left:7px !important;
}
span a.lotusFeed {
margin-right: 0 !important;
padding-left: 0px !important;
}
div.lotusFeeds #entryFeedLink {
padding-left: 16px !important;
}
#blogsActionBar li.lotusFirst span.lotusBtn {
margin-right: 0px !important;
margin-left: 0px !important;
}
#blogsActionBar li span.lotusBtn {
margin-right: 0px !important;
margin-left: 0px !important;
}
#blogsActionBar li.lotusFirst a.blogsFollowBtn {
margin-right: 0px !important;
margin-left: 2px !important;
}
.lotusui30 .lotusTitleBarExt .lotusInlinelist li {
margin-left: 0 !important;
margin-right: 5px !important;
padding: 0 !important;
}
.blog .entryContentContainer {
margin-top: 5px !important;
max-width: 600px !important;
}
.lotusui30 pre code.jive-code {
white-space: pre-wrap !important;
max-width: 600px !important;
overflow:hidden !important;
}
.lotusui30 pre  {
white-space: pre-wrap !important;
max-width: 600px !important;
overflow:hidden !important;
}
.lotusui30 img {
max-width:100%; max-height:100%;
}
.lotusui30 div.Section0 span {
word-wrap: break-word !important;
}
#searchAgain {
clear:both;
}
table.rollertable {
border-collapse: collapse;
width: 100%;
}
.lotusui30 .lotusMeta {
color: #222222;
font-size: 0.9em;
}
table.rollertable th, table.rollertable th {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: none repeat scroll 0 0 #F4F5F6;
border: 1px solid #DBDBDB;
border-color: #DBDBDB #DBDBDB -moz-use-text-color !important;
border-image: none;
border-style: solid solid none;
border-width: 1px 1px 0;
padding: 3px;
text-align: left;
}
table.rollertable td, table.rollertable tbody td {
border: 1px solid #DBDBDB;
}
table.rollertable tbody td {
padding: 3px;
}
table.rollertable td, table.rollertable tbody td {
vertical-align: top;
}
#memberAddDialog {
background-color: white;
border: 1px solid gray;
height: auto;
padding: 0 10px 10px;
width: 35em;
}
#memberAddDialog form, #publicMemberAddDialog form {
margin: 0;
padding: 0;
}
.AddMembers .field {
padding: 5px;
}
.AddMembers .memberList {
visibility: hidden;
}
.AddMembers .memberList {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: white;
border-color: #9A9A9A #9A9A9A -moz-use-text-color;
border-image: none;
border-style: solid solid none;
border-width: 1px 1px medium;
}
.member {
border: 1px solid #9A9A9A  !important;
}
.AddMembers .memberList {
border-color: #9A9A9A #9A9A9A -moz-use-text-color;
border-style: solid solid none;
border-width: 0px 0px medium !important;
}
.AddMembers .typeAhead {
width: 310px;
}
.AddMembers .typeAhead {
border: 1px solid #9A9A9A;
font-size: 1.1em;
}
.field .fieldAdd, button.fieldAdd {
background: url("/developerworks/community/connections/resources/web/developerworks/community/blogs/roller-ui/images/add_icon.gif") no-repeat scroll center center transparent !important;
border: medium none;
height: 16px !important;
vertical-align: top;
width: 16px !important;
}
.lotusFormField button.fieldAdd {
background: url("/developerworks/community/connections/resources/web/developerworks/community/blogs/roller-ui/images/add_icon.gif") no-repeat scroll center center transparent !important;
border: medium none;
height: 16px !important;
vertical-align: top;
width: 16px !important;
}
.field .fieldAddText {
border: medium none;
display: none;
height: 16px;
width: 16px;
}
.dijit_a11y .field .fieldAddText {
border: medium none;
cursor: pointer;
display: inline;
height: 16px;
width: 16px;
}
.dijit_a11y .field .fieldDel {
border: medium none;
display: none;
}
.field .fieldDelText {
border: medium none;
display: none;
height: 16px;
width: 16px;
}
.dijit_a11y .field .fieldDelText {
border: medium none;
cursor: pointer;
display: inline;
height: 16px;
width: 16px;
}
#memberAddDialog .submitArea, #publicMemberAddDialog .submitArea {
margin-top: 5px;
}
.AddMembers .memberList .member {
padding: 3px;
}
.AddMembers .memberList .member {
border-bottom: 0px solid #9A9A9A;
}
.AddMembers .memberList .member .type {
color: #AFAFAF;
font-style: italic;
}
.AddMembers .memberList .member .fieldDel {
}
.AddMembers .memberList .member .fieldDel {
}
.field .fieldDel {
background: url("/developerworks/community/connections/resources/web/developerworks/community/blogs/roller-ui/images/remove_icon.gif") no-repeat scroll center center transparent !important;
border: medium none;
height: 16px;
width: 16px;
}
.lotusui30dojo .dijitTooltipContainer {
padding: 3px;
}
.ideaVotingNumber {
font-size: 2em;
padding: 7px !important;
}
.ideaVotingDiv {
background-color: #FFFFFF;
border: 1px solid #AAAAAA;
color: #848484;
height: auto !important;
min-height: 58px;
padding: 10px 10px 5px;
text-align: center;
width: 58px;
height: auto !important;
}
.lotusui30dojo .dijitTooltipContainer {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) !important;
}
.dijitTooltip {
font-family: Arial,sans-serif;
font-size: 1em !important;
}
.otherFramework16-PopupSharkfinDarkRight {margin-left: 10px; }
.otherFramework16-PopupSharkfinDarkLeft {margin-right: 20px; }
.dw-footer-col-5-5 img { width:223px; height:46px; }
#ibm-footer-module-dw .dw-footer-col-5-5 { width: 200px !important; padding-left: 30px; }
.dw-footer-col-5-5 img { max-width:125%; max-height:125%;}
.field .fieldAdd, button.fieldAdd {
background: url("/developerworks/community/connections/resources/web/developerworks/community/blogs/roller-ui/images/add_icon.gif") no-repeat scroll center center transparent !important;
border: medium none;
height: 16px !important;
vertical-align: top;
width: 16px !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
.lotusui30 .lotusTable td p:first-child, .lotusui30 p.lotusFirst {
padding-top: 40px !important;display:block !important;
}
@-moz-document url-prefix() {
div.entryContentContainer p:first-child  {
padding-top: 35px !important;display:block !important;
}
}
* + html div.entryContentContainer.blogsWrapText p span {text-align: auto !important;}
* + html span.lotusRight span.rating.lotusRating {display:block !important; margin-top:-10px !important; }
