/* Copyright IBM Corp. 2012  All Rights Reserved.              */



/* share widget */
.lotusui30 .lotusPlaceBar .lotusInner{
border-bottom:none !important; 
}
.dw-blog-share ul li {
    padding-right:5px;
    
}

.dw-blog-share ul li a.dw-blog-linkedin-share-link {
    background-position: 0 -179px;
}

.dw-blog-share ul li a.dw-blog-linkedin-share-link:hover {
    background-position: 0 -209px;
}
.dw-blog-share ul li a.dw-blog-twitter-share-link {
    background-position: 0 -360px;
}

.dw-blog-share ul li a.dw-blog-twitter-share-link:hover {
    background-position: 0 -390px;
}

.dw-blog-share ul li a.dw-blog-google-share-link {
    background-position: 0 -120px;
}

.dw-blog-share ul li a.dw-blog-google-share-link:hover {
    background-position: 0 -150px;
}

.dw-blog-share ul li a.dw-blog-rss-share-link {
    background-position: 0 -299px;
}
    
.dw-blog-share ul li a.dw-blog-rss-share-link:hover  {
    background-position: 0 -329px;
}

.dw-blog-share ul li a.dw-blog-facebook-share-link:hover  {
    background-position: 0 -30px;
}

/*.dw-blog-share ul li a.dw-blog-google-share-link {
background-image:url("//ssl.gstatic.com/images/icons/gplus-32.png");
height:24px;
width:24px;
}


.dw-blog-share ul li a.dw-blog-rss-share-link {
background-image:url("//dw.rtp.raleigh.ibm.com/developerworks/i/feed-icon-28x28.png");
height:24px;
width:24px;
padding-right:5px;
}
*/

.dw-blog-share ul li a {background: url("//www.ibm.com/developerworks/lc/images/socialmedia_share_icons.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 29px;
    outline: medium none !important;
    text-indent: -9999px;
    width: 24px;
}

.dw-blog-share ul {
    display: inline !important;
    list-style: none outside none;
}

div.dw-blog-share {
padding-bottom:25px;
padding-top:10px;
}

.dw-blog-share ul li.dw-blog-share-text {
    padding-right: 4px !important;
    padding-top: 6px;
}
.dw-blog-share ul li {
    display: inline !important;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 0.7em;
    font-style: italic;
    padding-left: 0 !important;
    vertical-align: baseline;
}


/* blogs minimal template */

h2.min-blogtitle {
    font-size:24px !important;
    color:#000000 !important;
    }
 h2.min-blogtitle-entry a{
    font-size:24px !important;
    color:#1970B0 !important; 
    }
.min-widget-title {
   margin-left:5px !important; 
   margin-bottom:15px !important; 
   border-top: solid 2px #555555;
}
span.min-rating {
padding-left:5px;
}    
.min-h4 {
    font-size:24px !important;
    font-weight:normal !important;
    padding-top:15px; !important;
    }
    
.min-h4-padding {       
padding-top:25px !important;
padding-left:0px; 
padding-bottom: 20px;
} 


.min-entry {
    padding-left:0px !important;
    padding-bottom:20px !important;
    }
    
.min-tags {
     font-family: Georgia,Arial,sanserif;
	 font-style: italic;
}

.min-blogdetail {
    font-family:Georgia,Arial,sanserif;
    font-style:italic;
    padding-bottom:20px;
    }
    
.min-image {
    width:150px;
    height:150px;
    border:none;
    float:left;
    padding-top:5px;
    padding-right:20px;
}

.lotusui30_layout .lotusMain .lotusContent .min-Content {
padding:10px 0 20px !important;
}


.lotusui30 .lotusPlaceBar .lotusInner .min-lotusInner {
    border-bottom:none !important;
    }

.min-blogdetail span a, .min-blogdetail span {
    font-family:Georgia,Arial,sanserif;
    font-style:italic;
    font-size:12px !important;
    }

.min-allposts {
    font-size:14px !important;
    float:left;
    color:#000000;
    font-family:Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight:bold;
    }

.min-sortlinks {
    float:right;
    font-family:Georgia,Arial,sans-serif !important;
    font-weight:bold;
    font-size:12px;
    font-style:italic;
    }

h4.min-entry-title {
    font-size:24px !important;
    font-weight:normal;
    }
    
.min-entry-title {
    font-size:24px !important;
    font-weight:normal;
    }    
    
.min-name {
    font-family:Georgia,Arial,san-serif;
    font-style: italic;
    }

div.min-black-rule {
    border-top: 2px solid black;
    }
h2.min-blog-right {
    border-bottom:none !important;
    }

.min-blog-photo p a img {
    width:150px !important;
    height:150px !important;
    margin: 0 2em 20px 0 !important;
    float:left;
    display:inline-block;
}
.min-blog-photo h1{
font-size:16px;
font-weight:bold;
padding-top:20px;
}

.syn-box {
    float:right;
    padding-left:20px;
    padding-bottom:30px;
    padding-top:0px;
    
}
div.min-blogdetail {
    padding-bottom:15px; 
}
.min-sortlinks a {
   font-family:Georgia,Arial,sans-serif;
   font-decoration:none;
}
div.min-share-icon div.syn-box div {
    padding-bottom:4px !important;
    }
/* CSS Document */ /*version 1.07.13 5/7/08*/