#cawrapper .clear{clear: both;}
#cawrapper .page_title{font: bold large Arial, helvetica, sans-serif; margin-bottom: 5px;}
#cawrapper .subtitle{font: bold medium Arial, helvetica, sans-serif; border-bottom: 1px solid #ccc; margin: 5px 0 5px 0;}
#cawrapper .social-share {padding: 10px 0 0 0; border-top: 1px solid #ccc; background-color: transparent; vertical-align: top;}
#cawrapper .sharethis_help{padding: 0 0 5px 5px;}
#cawrapper .avatar{float: left; margin-right: 5px;}
#cawrapper .answerbox {width: 42px; height: 38px; padding: 2px; border: 1px solid #ccc; color: #555;}
#cawrapper .answerbox .answercount {font: bold 24px/24px arial, sans-serif, helvetica;}
#cawrapper .answerbox .answerdesc {font: normal 10px/10px arial, sans-serif, helvetica;}
#cawrapper .newposts {background-color: #FFE6DB;}
#cawrapper ul.data_table{list-style-type: none; list-style: none; padding: 0; margin: 10px 0 0 0; border-width: 1px 1px 0px 1px; border-style: solid; border-color: #dfdfdf;}
#cawrapper ul.data_table li.noalt,#cawrapper ul.data_table li.alt {background: none; background-color: #f5f5f5; padding: 5px; list-style: none; border-bottom: 1px solid #dfdfdf;}
#cawrapper ul.data_table li.alt{background-color: #fff;}
#cawrapper ul.data_table li a, #cawrapper .navigation_table a{text-decoration: none;}
#cawrapper ul.data_table li a:hover, #cawrapper .navigation_table a:hover{text-decoration: underline;}
#cawrapper ul.data_table li div.question_title {margin-bottom: 2px;}
#cawrapper ul.data_table li div.question_title a{font: bold 110%/130% Arial, helvetica, sans-serif;}
#cawrapper .navigation_table{border: 1px solid #ecebe7; padding: 10px; background: #FFF url(../images/bg.png) repeat-x; margin: 0;}
#cawrapper .navigation_table .title{font: bold large Arial, helvetica, sans-serif; margin-bottom: 10px;}
#cawrapper .navigation_table .description{font: normal 100%/120% Arial, helvetica, sans-serif; margin-bottom: 10px;}
#cawrapper .navigation_table .meta-info {margin-bottom: 5px;}
#cawrapper .navigation_table .attachment {margin-bottom: 5px;}
#cawrapper .navigation_table .tags {margin-bottom: 5px;}
#cawrapper .navigation_table .tags .tags-title {font: bold 12px/14px arial, sans-serif, helvetica;}
#cawrapper .ca_ask{margin-top: 20px;text-align: center; white-space: nowrap;}
#cawrapper .ca_ask input{width: 300px; font: bold 18px/20px Arial, helvetica, sans-serif; color: #777; line-height: 26px; height: 26px; vertical-align: bottom;}
#cawrapper .ca_search{padding: 0px; margin: 0px; border: 0px; width: 100%;}
#cawrapper .ca_search input{font: bold 18px/20px Arial, helvetica, sans-serif; color: #777; height: 26px; line-height: 40px;}
#cawrapper .ca_search tbody tr, #cawrapper .ca_search tbody tr td {border: 0;}
#cawrapper table.categorybox{width: 100%; padding: 5px;}
#cawrapper table.categorybox a{text-decoration: none;}
#cawrapper table.categorybox a:hover{text-decoration: underline;}
#cawrapper table.pagination, #cawrapper table.pagination tbody tr, #cawrapper table.pagination tbody tr td{border: 0;} 
#cawrapper table.categorybox tbody tr, #cawrapper table.categorybox tbody tr td {border: 0;}
#cawrapper .field_set{background-color: #efefef; border: 1px solid #ccc; padding: 10px;}
#cawrapper .field_set .title{font-variant: small-caps; font-size: medium; font-family: Arial, helvetica, sans-serif; font-weight: bold; color: #ff0000;}
#cawrapper .field_set dl dt{width:120px; text-align: left; font-weight: bold;}
#cawrapper .field_set dl dd {margin:0 0 0.5em 0.25em; padding-left: 0px;}
#cawrapper .field_set dl dd input[type='text']{font: bold large Arial, helvetica, sans-serif; width: 90%;}
#cawrapper .field_set dl dd textarea{font: normal medium Arial, helvetica, sans-serif; width: 90%;}
#cawrapper .rounded-corners {-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;}
#cawrapper .similar_info{margin: 10px 0 10px 0; font: bold 120%/140% Arial, helvetica, sans-serif; color: #9e1111;}
#cawrapper ul.answers{margin: 0px; padding: 0px;}
#cawrapper ul.answers li.noalt, #cawrapper ul.answers li.alt, #cawrapper ul.answers li.accepted_answer{background:none repeat scroll 0 0 #F8F8F8; list-style: none; list-style-type: none; border: 1px solid #eee; margin: 0 0 5px 0; padding: 5px;}
#cawrapper ul.answers li.alt{background:none repeat scroll 0 0 #F9FCFC;}
#cawrapper ul.answers li.accepted_answer{background:none repeat scroll 0 0 #ffffcc; }
#cawrapper ul.answers li .meta_info{margin: 10px 0; font: bold 90%/110% Arial, helvetica, sans-serif;}
#cawrapper .answer_table{width: 100%; margin: 0; padding: 0;}
#cawrapper .answer_table > tbody > tr > td, #cawrapper .answer_table tbody tr, table.answer_table p{margin: 0px; padding: 0 0 10px 0; vertical-align: top;}
#cawrapper .answer_table tbody tr td, #cawrapper .answer_table tbody tr {border: 0;}
#cawrapper .answer_table tbody tr td.attachment {margin: 0 0 5px 0;}
#cawrapper .references_title{font: bold 110%/130% Arial, helvetica, sans-serif; border-bottom: 1px solid #ccc; margin: 10px 0 0 0;}
#cawrapper .moderate_tools{text-align: right; border: 1px solid #ccc; text-decoration: none; background-color: white;
	font: bold 100%/100% Arial, helvetica, sans-serif; margin: 10px 5px 0 0;}
#cawrapper .thumb_up, #cawrapper .thumb_down, #cawrapper .btn_edit, #cawrapper .btn_unpublish, #cawrapper .btn_delete, #cawrapper .btn_accept, #cawrapper .btn_unaccept, #cawrapper .btn_report{padding: 5px 5px 5px 23px;}
#cawrapper .thumb_up{background: #FFF url(../images/thumb_up.png) no-repeat left center;}
#cawrapper .thumb_down{background: #FFF url(../images/thumb_down.png) no-repeat left center;}
#cawrapper .btn_edit{background: #FFF url(../images/page_edit.png) no-repeat center center;}
#cawrapper .btn_unpublish{background: #FFF url(../images/page_unpublish.png) no-repeat center center;}
#cawrapper .btn_delete{background: #FFF url(../images/page_delete.png) no-repeat center center;}
#cawrapper .btn_accept, #cawrapper .btn_unaccept{background: #FFF url(../images/accept.png) no-repeat left center;}
#cawrapper .btn_report {background: #FFF url(../images/report.png) no-repeat left center;}
#cawrapper .answer_form_wrapper{padding: 5px 10px; background-color: #D4EFFF; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
#cawrapper ul.submenu {height: 15px; list-style-image: none; list-style-position: outside; list-style-type: none; font-weight: bold; margin: 0; padding: 0;}
#cawrapper ul.submenu li {-moz-background-clip: border; -moz-background-inline-policy: continuous; -moz-background-origin: padding;
	background: transparent none repeat scroll 0 0; float: left; font-weight: 800; line-height: 15px; list-style-type: none; margin: 0; padding: 0;}
#cawrapper ul.submenu li a.active,ul.submenu li a.active:visited,ul.submenu li a.active:hover{
	border-right: 1px solid #CCCCCC; color: #0B55C4; font-size: 11px; padding: 0 15px; height: 12px; text-decoration: none;}
#cawrapper .toolbar {-moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #F6F6F6; border: 1px solid #CCCCCC; margin: 10px 0 10px 0; padding: 5px;}
#cawrapper ul.useranswers {margin: 0px; padding: 0px; border: 0px;}
#cawrapper ul.useranswers li.answer{background:none repeat scroll 0 0 #fff; list-style: none; list-style-type: none; border: 1px solid #ccc; margin: 0 0 10px 0; padding: 5px;}
#cawrapper ul.useranswers li.alt{background:none repeat scroll 0 0 #f5f5f5;}
#cawrapper ul.useranswers li.accepted_answer{background:none repeat scroll 0 0 #ffffcc;}
#cawrapper ul.useranswers .question{font: bold 120%/140% Arial, helvetica, sans-serif;	border-bottom: 1px solid #ddd;}
#cawrapper ul.useranswers .meta{margin: 10px 0 0 0;}
#cawrapper #answer_form textarea{width: 450px; margin-bottom: 10px;}
#cawrapper #answer_form > label {display: block; font: bold 12px/14px arial, sans-serif, helvetica;}
#cawrapper #answer_form > input {display: block; font: bold 12px/14px arial, sans-serif, helvetica; margin-bottom: 10px; height: 23px; width: 450px;}
#cawrapper #question_title{background-image: url("../images/ask.png"); padding-left: 21px; background-repeat: no-repeat; background-position: left center; }
#cawrapper .question-meta {margin: 0; border-top: 1px solid #ccc;}