


/* Global styles */
#container{
margin-left: auto;
margin-right: auto;
padding-top: 0px;
margin-bottom: 0px;
padding-left: 0px;
padding-right: 0px;     
background-color: transparent;   
background-image: url(/images/site/PageBackgroundWhiteHoriz.png);
}

body {
font-size:96%;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
padding-top: 0px;
font-family: Arial, Verdana, Tahoma, Sans-serif; 
max-width: 1259px;
min-width: 1003px;
background-image: url(/images/site/PageBackground.gif);
background-color: #6B6B6B;
background-repeat: repeat-x;
color: #222222;
height:100%;
}

#popup-body {
margin: 25px;
max-width: 550px;
min-width: 400px;
background: none;
}
#topheadercontainer{
padding-top: 10px;
}
  
    h1, h2, h3 {
    margin:.8em 0 .2em 0;
   padding:0;
    }
        
h1 {
    font-size: 150%;
}
h2 {
   font-size: 115%;
}
h3 {
  font-size: 100%;
  font-weight: bold;
}
.note{
font-size: 80%;
color: #808080;
}
.cputext h2, 
.mainbodycontent h2,
h2.chevron{
BACKGROUND: url(/images/site/chevron.gif) no-repeat left;
padding-left: 15px;
}
p {
line-height:22px;
margin:.4em 0 .8em 0;
padding:0;
}
img {
        margin: 0px;
        border: 0px;
    }
        
    /* Standard Anchors */
a:active,
a:link,
a:visited,
a:hover  {
  COLOR: #0f758e;
  text-decoration: none;
border-bottom: dotted 1px #0f758e;
}
#recaptcha_area a:active,
#recaptcha_area a:link,
#recaptcha_area a:visited,
#recaptcha_area a:hover {
border: 0px;
}
.sidetext a:active,
.sidetext a:link,
.sidetext a:visited,
.sidetext a:hover  {
  COLOR: #0f758e;
  text-decoration: none;
border-bottom: dotted 1px #0f758e;
}
a:hover {
 COLOR: #FAA61A;
  border-bottom: dotted 1px #FAA61A;
}
.sidetext a, 
.sidetext a:visited, 
.sidetext a:hover, 
.sidetext a:active {
}
.sidetext a:hover {
color: #FAA61A;
border-bottom: dotted 1px #FAA61A;
}

a.noline
{
line-height:15px;
}

a.noline,
.sideboxhead a,
.sideboxheadmid a,
.sideinfo a{
border: 0px;
}
/* Left Side of Mid Nav */
.leftmenu {
  WIDTH: 620px;
}
/* ARM Blue */
.blue{
color: #128cab;
}
/* ARM Orange */
.orange{
color: #FAA61A;
}
/* Error Styles */
.error {
color: #cc0000;
font-weight: bold;
}
li.error {
color: #cc0000;
font-weight: bold;
}
.red {
color: #cc0000;
}
label.error {
color: #cc0000;
font-weight: bold;
}
.boilerplate{
color:#000000; 
text-align:left; 
font-size:90%;
}
/* List Styles */
ul.disc {list-style-type:disc}
ul.circle {list-style-type:circle}
ul.square {list-style-type:square}
ul.none {list-style-type:none}

ul.leading {
line-height: 22px;
}
li.padded {
   padding-left: 15px;
   padding-bottom: 15px
}
.smlgrey {
line-height:17px;
dsiplay: inline; 
font-size: 80%; 
color: #7f7f7f;
}
.alignarrow {
    PADDING: 0px; MARGIN:0px; HEIGHT: 5px; VERTICAL-ALIGN: text-bottom; PADDING-BOTTOM: 3px;
}
/* Grey anchors for language links and footer */
a.grey,
a.smlgrey  {
  COLOR: #7F7F7F;
  text-decoration: none;
  border: 0px;
}
a.grey:hover,
a.smlgrey:hover  {
  COLOR: #000000;
  text-decoration: none;
  border: 0px;
}
.white {
COLOR: #FFFFFF;
}
/* White links for Register, Why? etc. */
a.white  {
  COLOR: #FFFFFF;
  text-decoration: none;
}
a.white:hover {
  COLOR: #FAA61A;
}
/* Large Text */
.large {
font-size: 14px;
}
/* Medium Text */
.mid {
font-size: 12px;
}
/* Small Text */
.small {
font-size: 10px;
}
form {display:inline;}
img { border: 0; }
table{
border: 0px;
border-color: #DAEDEF;
border-collapse: collapse;
border-bottom: solid 2px #6FBDD2;
}
td,th{
line-height:22px;
border: 0px;
border-right: solid 2px #D6E3EA;
border-left: solid 2px #D6E3EA;
padding-left: 5px;
}
th{
border-top: solid 2px #6FBDD2;
border-bottom: solid 2px #6FBDD2;
font-weight: bold;
}
tr:first-child td{
border-top: solid 2px #6FBDD2;
}
td{
background-color: #FFFFFF
}
td.alt {
line-height:22px;
background-color: #DBEEF4;
}
tr.alt td {
line-height:22px;
background-color: #DBEEF4;
}
table.noborder {
border: 0px;
border-color: transparent;
}
table.noborder td, table.noborder th{
border: 0px;
border-color: transparent;
padding-left: 5px;
}
table.sponsored tr td{ background-color: #DBEEF4;} 
.roundleft{
display: inline;
}
.roundleft img{
vertical-align: top;
position: relative;
top: -4px;
left: 5px;
}
*:first-child+html .roundleft img{
vertical-align: top;
position: relative;
top: -3px;
left: 0px;
}
.roundright{
display: inline;
}
.roundright img{
vertical-align: top;
position: relative;
top: -4px;
left: -5px;
}
*:first-child+html .roundright img{
vertical-align: top;
position: relative;
top: -3px;
left: -5px;
}
/* Form button styling */ 
.nicebtn {
        WIDTH: 27px; MARGIN-RIGHT: 0px; COLOR: #0f758e; HEIGHT: 25px;
}
    .loggedinlinks{
     margin-left: 20px;
     margin-top: 4px;
padding-left: 70px;
overflow: hidden;
white-space: nowrap;
     }
/* Clear Text Transforms */
.notransform{
text-transform: none;
}
/* Float Left */
.fleft
 {
    float:left;
}
/* Float Right */
.fright
 {
    float:right;
}
.clear {
clear: both;
}                
/* Small Grey Font */
.smlgrey{
line-height:17px;
font-size: 80%;
color: #7F7F7F;
display: inline;
}
.registerlinks {
    MARGIN-TOP: 0px; FLOAT: right;
}
.blueback{
background-color: #128CAB;
}
/* Select Dropdowns     */
select{
/* font-family: Arial, Verdana, Tahoma, Sans-serif; */ 
}
/* Apply to an img to mid align correctly with text */
.midalign {
vertical-align: middle;
padding-bottom: 4px;
}
.curvedtop {
    border:#d9d9d9 1px solid; 
    border-bottom: none; 
    background-color: #ffffff; 
    -moz-border-radius-topright: 10px; 
    -webkit-border-top-right-radius: 10px; 
    -moz-border-radius-topleft: 10px; 
    -webkit-border-top-left-radius: 10px; 
}
.curvedbottom {
    border:#d9d9d9 1px solid; 
    border-top: none; 
    background-color: #ffffff; 
    -moz-border-radius-bottomright: 10px; 
    -webkit-border-bottom-right-radius: 10px; 
    -moz-border-radius-bottomleft: 10px; 
    -webkit-border-bottom-left-radius: 10px; 
}
.curvedinput {
    HEIGHT: 16px; MARGIN-TOP: 2px; MARGIN-LEFT: 5px; MARGIN-BOTTOM: 0px; FLOAT: right; MARGIN-RIGHT: 5px; WIDTH: 120px; BORDER: 0px;
}
         
/* Header styles */
#header {
    BACKGROUND: #fff; 
    FLOAT: left; 
}
/* Left side of header with ARM logo */
#leftcol {
    PADDING-RIGHT: 0px; 
    PADDING-LEFT: 20px; 
    FONT-WEIGHT: 500; 
    FLOAT: left; 
    PADDING-TOP: 0px; 
    HEIGHT: 37px; 
    TEXT-DECORATION: none; 
    FONT-SIZE: 120%;
       padding-BOTTOM: 8px;
}
#leftcol sup {
        FONT-SIZE:75%;
}
#leftcol IMG {
    PADDING-LEFT: 2px; 
    MARGIN-BOTTOM: 2px; 
    MARGIN-TOP: 0px; 
    VERTICAL-ALIGN: text-bottom
}
#search form {
position:absolute;
display: inline;
top: 21px;
left: 280px;
bottom: 6px;
height: 25px;
padding:0;
}
.search {
        MARGIN-TOP: 4px;
}
.submitbtn {
    MARGIN-TOP: 4px; FONT-SIZE: 100%; BACKGROUND-IMAGE: url(/images/site/TopMenuButton.png); MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; WIDTH: 24px; COLOR: #0f758e; HEIGHT: 25px; TEXT-ALIGN: center; PADDING-RIGHT:2px; PADDING-BOTTOM:4px; MARGIN-RIGHT: -2px; PADDING-LEFT: 0px; line-height: 22px; BORDER: 0px;
}
.search .submitbtn{
margin: 0px;
}
    
.nicebtn {
        WIDTH: 27px; MARGIN-RIGHT: 0px; COLOR: #0f758e; HEIGHT: 25px;
}
#advsearchbtn {
        WIDTH: 12px;
         background-color: #0f758e;
        color: #0f758e;
}
.hidesearch {
        WIDTH: 146px; float: left; HEIGHT: 25px; DISPLAY:none; MARGIN-LEFT: 0px; 
}
.advsearch {
        WIDTH: 146px; float: left; HEIGHT: 25px; MARGIN-LEFT: 0px; 
}
#advsearchddown {
        WIDTH: 146px;
}
.usernamebackground {
  BACKGROUND-IMAGE: url(/images/site/TopMenuUsername.png); WIDTH: 133px; HEIGHT: 25px; FLOAT: right; MARGIN-TOP: 4px;
}
.passwordbackground {
  BACKGROUND-IMAGE: url(/images/site/TopMenuPassword.png); WIDTH: 134px; HEIGHT: 25px; FLOAT: right; MARGIN-TOP: 4px;
}
#searchbackground {
  WIDTH: 381px; HEIGHT: 25px; FLOAT: left; MARGIN-TOP: 4px; MARGIN-LEFT: 2px;
}
/* Global search box */
#searchbox {
       MARGIN-TOP: 1px; 
    PADDING-LEFT: 35px;
        padding-top: 2px;
        margin-right: 5px;
   BACKGROUND: url(/images/site/mainsprite.png) 0 0 no-repeat; 
    WIDTH: 345px; 
    HEIGHT: 19px; 
    FLOAT: left; 
    MARGIN-LEFT: 5px; 
        border: 0px;
background-color: #FFFFFF;
}    
/* Right part of header with Contact Us and Language links */
#rightcol {
    FLOAT: right; 
        padding-right: 20px;
 margin-top: -8px;
width: 300px;
}  
/* Midnav Dropdown menus */
UL.cssMenu UL {
    DISPLAY: none;
}
UL.cssMenu LI:hover > UL {
    DISPLAY: block; BACKGROUND-COLOR: #ffffff
}
UL.cssMenu UL {
    LEFT: 0px; POSITION: absolute; TOP: 98%
}
UL.cssMenu UL UL {
    LEFT: 98%; POSITION: absolute; TOP: -2px
}
UL.cssMenu {
    BORDER-RIGHT: transparent 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: transparent 1px solid; PADDING-LEFT: 0px; Z-INDEX: 1000; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: transparent 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: transparent 1px solid; BACKGROUND-REPEAT: repeat; LIST-STYLE-TYPE: none;
}
UL.cssMenu UL {
    BORDER-RIGHT: #0f7f9a 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #0f7f9a 1px solid; PADDING-LEFT: 0px; Z-INDEX: 1000; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #0f7f9a 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #0f7f9a 1px solid; BACKGROUND-REPEAT: repeat; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #0f7f9a; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; -moz-box-shadow: 0px 3px 7px #adadad; -webkit-box-shadow: 0px 3px 7px #adadad;  min-width: 140px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 3px 7px #adadad;
}
UL.cssMenu TABLE {
    BORDER-COLLAPSE: collapse
}
UL.cssMenu {
    DISPLAY: block; FLOAT: left; ZOOM: 1;
}
UL.cssMenu UL {
    Z-INDEX: 1000
}
UL.cssMenu {
    MARGIN-TOP: -4px; MARGIN-LEFT: 0px
}
UL.cssMenu LI {
    DISPLAY: block; MARGIN: 0px;   cursor: pointer;
}
UL.cssMenu LI UL {
    BORDER-LEFT-COLOR: #d9d9d9; BORDER-BOTTOM-COLOR: #d9d9d9; TEXT-TRANSFORM: none; BORDER-TOP-COLOR: #d9d9d9; BORDER-RIGHT-COLOR: #d9d9d9
}
UL.cssMenu LI UL.standalone {
    BORDER-LEFT-COLOR: #d9d9d9; LEFT: -175px; BORDER-BOTTOM-COLOR: #d9d9d9; TEXT-TRANSFORM: none; BORDER-TOP-COLOR: #d9d9d9; BORDER-RIGHT-COLOR: #d9d9d9; WIDTH: 230px; PADDING-BOTTOM: 10px;
}
UL.cssMenu LI UL.standalone LI {
    PADDING-TOP: 6px;
}
UL.cssMenu LI UL.options {
  left: -80px; width: 150px;
    }
UL.cssMenu LI UL.options LI {
    PADDING-TOP: 3px;
}
.arrow {
     DISPLAY: inline; BACKGROUND: url(/images/site/mainsprite.png) no-repeat  -2px -121px; PADDING-BOTTOM: 0px; padding-left: 2px;
}
.contactarrow {
  DISPLAY: inline; BACKGROUND: url(/images/site/mainsprite.png) no-repeat -3px -65px; PADDING-BOTTOM: 0px
}
.loginspacer {
    height: 29px;
}
UL.cssMenu LI UL LI {
    DISPLAY: block; MARGIN: 5px
}
UL.cssMenu A:active {
    outline-style: none
}
UL.cssMenu A:focus {
    outline-style: none
}
UL.cssMenu A {
    CURSOR: pointer; COLOR: #ffffff; VERTICAL-ALIGN: middle; DISPLAY: block; PADDING: 4px; BORDER-WIDTH:1px; BORDER-STYLE:solid; BORDER-COLOR: transparent; TEXT-ALIGN: left; TEXT-DECORATION: none; _padding-left: 0; margin-right: 20px; 
}
UL.cssMenu.standalone A {
     margin-right: 0px;
}
UL.cssMenu LI.dis A:hover {
    BORDER-RIGHT: #0f7f9a 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #0f7f9a 1px solid; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; BORDER-LEFT: #0f7f9a 1px solid; CURSOR: default; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #0f7f9a 1px solid; BACKGROUND-COLOR: #0f7f9a; TEXT-ALIGN: left; TEXT-DECORATION: none; _padding-left: 0;
}
UL.cssMenu LI.sep A:hover {
    BORDER-RIGHT: #0f7f9a 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #0f7f9a 1px solid; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; BORDER-LEFT: #0f7f9a 1px solid; CURSOR: default; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #0f7f9a 1px solid; BACKGROUND-COLOR: #0f7f9a; TEXT-ALIGN: left; TEXT-DECORATION: none; _padding-left: 0;
}
UL.cssMenu LI UL A {
    BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: #000000; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; MARGIN-RIGHT: 0px;CURSOR: pointer;
}
UL.cssMenu LI UL A:hover {
    COLOR: #000000; BACKGROUND-COLOR: #d9d9d9;
}
UL.cssMenu SPAN {
    OVERFLOW: hidden
}
UL.cssMenu LI {
    Z-INDEX: 1000; FLOAT: left; 
}
UL.cssMenu UL LI {
    FLOAT: none; BACKGROUND-COLOR: #ffffff; background: none;
}
UL.cssMenu UL A {
    WHITE-SPACE: nowrap; TEXT-ALIGN: left;
}
UL.cssMenu LI.sep {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; PADDING-TOP: 0px; HEIGHT: 100%; TEXT-ALIGN: center
}
UL.cssMenu LI.sep SPAN {
    PADDING-RIGHT: 0px; DISPLAY: inline-block; FLOAT: none; BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #0f7993
}
UL.cssMenu UL LI.sep SPAN {
    WIDTH: 80%
}
UL.cssMenu LI:hover {
    POSITION: relative
}
UL.cssMenu LI:hover > A {
    BORDER-WIDTH:1px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #3f92a6; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #ffffff; BORDER-BOTTOM-STYLE: solid; 
}
.cssMenu UL LI:hover > A {
    BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #d9d9d9; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #ffffff; BORDER-BOTTOM-STYLE: solid;
}
UL.cssMenu LI A:hover {
    COLOR: #fff; POSITION: relative; BACKGROUND-COLOR: #3f92a6; TEXT-DECORATION: none;
}
UL.cssMenu LI.dis A {
    COLOR: #aaaaaa! important
}
UL.cssMenu IMG {
    FLOAT: left; WIDTH: 16px; BORDER-TOP-STYLE: none; MARGIN-RIGHT: 4px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none; _float: none
}
UL.cssMenu UL IMG {
    WIDTH: 16px; HEIGHT: 16px
}
UL.cssMenu LI UL LI UL LI UL.cssMenum{
    DISPLAY: none; MARGIN: 5px
}
UL.contact {
    float: right; color: #0f758e; text-transform: none; position: relative; right: -20px; height: 25px; margin: 0;
}
UL.contact LI:hover {
height: 22px;
top:1px;
right:1px;
}
UL.contact LI {
height: 22px;
}
ul.contact li ul {
    height:300px;
}
ul.contact li ul li:hover {
    height:22px;
        top:1px;
right:-1px;
}
.languagelinks{
position: relative;
top: -3px;
white-space: nowrap;
}
ul.contact li a{
color: #0f758e;
}
ul.contact li a img{
width: 14px;
height: 6px;
align: right;
}
UL.cssMenu LI UL.contact {
BORDER-LEFT-COLOR: #d9d9d9; float: right; font-size: 70%; BORDER-BOTTOM-COLOR: #d9d9d9; TEXT-TRANSFORM: none; BORDER-TOP-COLOR: #d9d9d9; BORDER-RIGHT-COLOR: #d9d9d9; WIDTH: 150px; height: 300px; left: -30px;
}
UL.cssMenu LI UL.contact LI {
padding: 0px;
}
UL.contact LI:hover > A {
    border: none; BACKGROUND-COLOR: #FFFFFF; TEXT-DECORATION: none; color: #0f758e; 
}
ul.cssMenu LI UL.whymenu{
list-style-type:none;
cursor: default;
}
ul.cssMenu LI UL.whymenu li,
ul.cssMenu LI UL.whymenu li a{
cursor: default;
}
ul.cssMenu LI UL.whymenu li.chevron{
list-style-type:none;
BACKGROUND: url(/images/site/chevron.gif) #ffffff no-repeat left 8px;
padding-left: 12px;
}
*:first-child+html ul.cssMenu LI UL.whymenu li.chevron{
BACKGROUND: url(/images/site/chevron.gif) #ffffff no-repeat left 12px;
}
ul.cssMenu LI UL.helpmenu{
width: 100px;
left: -91px;
}
ul.cssMenu LI UL.helpmenu li,
ul.cssMenu LI UL.options li{
height: 15px;
}
/* Left Nav Styles */
dl, dt, dd, ul.nav, li.nav {
line-height:17px;
margin: 0; 
padding: 0px; 
list-style-type: none; 
clear: left; 
}
li.navselected {margin: 0; padding: 0; list-style-type: none; margin-left:35px; padding-bottom: 3px;}
li.nav {margin-left:35px; padding-bottom: 15px; #padding-bottom: 0px;}
.lnav {min-height: 85px; margin-left: 0px; width: 173px; padding-top: 10px; text-align:left; background-color: #F9F9F9; BACKGROUND: url(/images/site/lefthandcurve.gif) #f2f2f2 no-repeat center top;  border-left:#d9d9d9 1px solid; border-right:#d9d9d9 1px solid;}
dl.lnav dd {border: 0px solid gray;}
div#LnavHeader a, dl.lnav li a, dl.lnav dt a {text-decoration: none; display: block; border: 0 none; height: 100%; font-size: 95%;}
img.nav, img.navon{float:left; margin-top:3px; margin-left:10px; margin-right:5px; vertical-align:baseline;}
img.l_nav, img.l_navon{float:left; margin-top:3px; margin-left:-15px; vertical-align:baseline;}
body dl.lnav {width: 173px; padding-bottom: 1em; font-size: 85%;} 
body .titlearrow { float:left; color:#FAA61A; font-size:120%; margin-top:-5px; display: none; }
body dl.lnav dt {cursor: pointer; line-height: 20px;}
body dl.lnav dt.selected {
line-height: 20px; 
font-weight: bold; 
color: #FAA61A;
}
body dt.selected,body dt.notselected{position: relative;}
html>body dt.selected,body dt.notselected { position: static; }
body dt.selected a {color: #FAA61A;position: relative;}
body dl.lnav li a {color: #0f758e;}
body dt.notselected a {color: #000;position: relative;}
body dl.lnav dt.quicklink {
position: relative;
top: -10px;
line-height: 15px;
padding-left: 11px;
margin-top: -3px;
}
body dt.quicklink a {
color: #000;
padding: 0px;
}
body dl.lnav dt.quicklink a:hover {
color: #FAA61A;
}
body dl.lnav dt.notselected a:hover {color: #FAA61A;}
body dl.lnav li a:hover{color: #FAA61A;}
body dl.lnav div.selected a {color: #FAA61A;}
body dl.lnav li.navselected a {color: #FAA61A; /*display:inline;*/ position:relative; clear:both;}
body dl.lnav li.nav a {color: #000; float:left; position:relative; font-size: 90%;}
body dl.lnav li.nav a:hover {color: #FAA61A; float:left; position:relative;}
body div#LnavHeader {color: #0f758e;}
body div#LnavHeader a {color: #0f758e;}
body div#LnavHeader a:hover {color: #FAA61A;}
body dl.lnav dd {
background-color: transparent;
}
body dl.lnav dd ul li.nav a{
color: #7F7F7F;
}
html>/**/body dt a {
padding-left: 30px;
}
*:first-child+html dt a {
padding-left: 0px;
}
/* Breadcrumb */
body #proc-title {clear:both; padding:0 0 0 15px; background: #0083a5; text-align:left; font-weight: 500; font-size: 250%; text-decoration:none; color: #fff; width: 100%; height: 60px;}
body #proc-bread {clear:both; text-align:left; padding:10px 0 5px 20px; font-weight: normal; font-size: 90%; text-decoration:none; color: grey; width: 98%; height: 20px; }
.breadcrumb{
overflow-x: hidden;
float: left;
width: 75%;
}
/* RSS/Share This links */    
.sharelinks{
float: right;
position: relative;
margin-right: 20px;
}
/* IE6 Fix */    
* html .sharelinks{
float: right;
position: relative;
top: -20px;
}
/* IE7 Fix */    
*:first-child+html .sharelinks{
float: right;
position: relative;
top: -16px;
margin-top: 15px;
}
/* Hide/Show Div */
.hide{display: none; background: white;}
.show{display: block; background: white;}
.showinline{display: inline; background: white;}
/* Footer */
#footer {
 font-size:85%;
 clear: both;
margin-left: 20px;
margin-right: 20px;
height: 20px;  
}
/* Show Tooltip */
.showtip {cursor:help}
/* Login Area */
#login {
    MARGIN-RIGHT: 20px; WIDTH: 310px;
}
#loginpassspan_text {
    display:none;
}
/* Mid Nav Container */
#dhtml_menu {
    FLOAT: left; WIDTH: 99.5%; BACKGROUND-COLOR: #fff; BACKGROUND: url(/images/site/TopMenuBackgroundRepeatX.png) 0 0 repeat-x; MARGIN-LEFT: 5px; MARGIN-RIGHT: 0px;height: 60px;
}
/* Left Margin To Page */
.leftmargin{
margin-left: 20px;
}
/* Left Nav Box */
.leftnav{
width: 175px;
padding-bottom: 9px;
margin-bottom: -15px;
border-color: #D9D9D9;
background-image: url(/images/site/bottomcorners.gif);
background-repeat: no-repeat;
background-position: bottom;
}
     
/* Left/Right Nav Section */       
body .sidebox{
line-height:15px;
width: 100%;
font-size: 85%;
background-color: #F2F2F2;
align: left;
}
.sidebox a{
color: #FAA642;
}
/* Left Nav Section Header (Orange arrows, title)*/ 
.leftnav .sideboxhead,
.leftnav .sideboxheadmid{   
color: #0f758e;
font-size: 120%;
padding-top: 10px;
clear: both;
background-color: #FFFFFF; 
background-image: url(/images/site/topcorners.gif);
background-repeat: no-repeat;
background-position: 0 0; 
width: 175px;
}
.leftnav .sideboxheadmid{
background-image: url(/images/site/topcorners_con.gif);  /* MT */
}
body .sideboxhead h2,
body .sideboxheadmid h2{
margin-left: 10px;
display: inline;
font-size: 14px;
color: #000;
font-weight: bold;
position: relative;
top: -2px;
}
body .sideboxhead h2 a,
body .sideboxheadmid h2 a{
display: inline;
color: #000;
position: relative;
border: none;
}
/* Orange title arrows */    
body .sideboxhead span.titlearrow,
body .sideboxhead div.titlearrow{
font-size: 110%;
}
/* Breadcrumb */        
#proc-bread { color: #808080; }        
#proc-bread a:active,
#proc-bread a:link,
#proc-bread a:visited,
#proc-bread a:hover {
    text-decoration: underline;color: #808080;
}
    
   /* column container */
    .colmask {
        position:relative;        /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
        clear:both;
        float:left;
        width:100%;                /* width of whole page */
        overflow:hidden;        /* This chops off any overhanging divs */
    }
    /* 3 column settings */
    .threecol .colmid {
        float:left;
        width:200%;
        margin-left:-198px;     /* Width of right column */
        position:relative;
        right:100%;
    }
.threecol .colleft {
    float:left;
    width:100%;
    margin-left:-50%;
    position:relative;
    left:371px;                    /* Left column width + right column width */
    /* background:#4C7094; */        /* Left column background colour */
    /* border-bottom: 2px dotted #fff; */ 
    /* border:solid thin #0d8bad; */
}    
    .threecol .col1wrap {
        float:left;
        width:50%;
        position:relative;
        right:170px;            /* Width of left column */
        padding-bottom:1em;     /* Centre column bottom padding. Leave it out if it's zero */
    }
        
        /* Main Content */    
    .threecol .col1 {
        font-size: 90%;
        margin:0 245px;      
        margin-left: 209px;     /* Centre column side padding: */
        position:relative;
        left:200%;
        overflow:hidden;
        color:#000;
    }
        
        /* Left Nav */    
    .threecol .col2 {
        float:left;
        float:right;            /* This overrides the float:left above */
        width:173px;            /* Width of left column content (left column width minus left and right padding) */
        position:relative;
        right:-20px;      /* Width of the left-had side padding on the left column */
    }
        
        /* Right Nav */    
    .threecol .col3 {
        float:left;
        float: right;
        width:198px;            /* Width of right column content (right column width minus left and right padding) */
        /* margin-right:60px; */      /* Width of right column right-hand padding + left column left and right padding */
        position:relative;
        margin-right: 20px;
        left:50%;
        color:#000;
    }
             
    .threecol .whitesubnavon {    
    background-color:#ffffff; 
    color:#003366; 
    text-align:left; 
    font-weight:bold; 
    font-size:75%;
    }
    .threecol .white {
    background-color:#ffffff; 
    color:#003366; 
    text-align:left; 
    font-size:75%;
    }
 
.bluebox {
    border: #0f758e;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 10px;
}
.formleft{
display: inline;
float: left;
}
.formright{
display: inline;
width: 80%;
float: right;
}
/* Form Styles */
input{
BORDER: 1px solid #bbe0e3;
width: auto;
}
input[readonly] {
background-color: #CDCDCD;
}
.hiddenbtn {
display: none;
}
fieldset {background:#f2f2f2; padding:10px; border:1px solid #fff; border-color:#fff #666661 #666661 #fff; margin-bottom:10px;}
input, textarea, select {font-family: Arial, Verdana, Tahoma, Sans-serif; padding:0; border: #bbe0e3 1px solid;  color: #333333;}
select{
 font-size: 80%;
 width: auto;
}
textarea{
font-size: 100%;
}
label {
line-height:22px;
font-size:11px; 
color:#666;
}
label.opt {font-weight:normal;}
 
/* REQUIRED BUTTON STYLES: */        
button { 
    position: relative;
    border: 0;
        background-color: transparent;
        color: #0f758e; 
    padding: 0;
    cursor: pointer;
    overflow: visible; /* removes extra side padding in IE */
}
button:hover {
 COLOR: #FAA61A;
}
button::-moz-focus-inner {
    border: none;  /* overrides extra padding in Firefox */
}
button span { 
    position: relative;
    display: block; 
    white-space: nowrap;    
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    button span {
        margin-top: -1px;
    }
}
/* OPTIONAL BUTTON STYLES for applying custom look and feel: */        
button.btn { 
    padding: 0 15px 0 0; 
    margin-right:5px; 
    font-size:1.1em; 
    text-align: center; 
    background: transparent url(/images/site/btn_blue_sprite.gif) no-repeat right -140px;
    line-height:normal; 
}
    
button.btn span {
    padding: 6px 0 0 15px; 
margin-left: -2px; 
    height:37px; 
    background: transparent url(/images/site/btn_blue_sprite.gif) no-repeat left top; 
    color:#ffffff;
    line-height:normal; 
}
html>/**/body button.btn span {
    margin-left: -2px;
    line-height:normal; 
}
    
button.btn:hover, button.btnHover { /* the redundant class is used to apply the hover state with a script */
    background-position: right -210px; 
}
    
button.btn:hover span, button.btnHover span {
    background-position: 0 -70px;
}
/* Buttons for header bar */
.clearbtn{
background: none;
color: white;
border: 0px;
padding-top: 4px;
margin: 0px;
font-size: 90%;
}
.clearbtn:hover{
border: solid 1px #FFFFFF;
BACKGROUND-COLOR: #3f92a6;
}
/*Selects*/
.NFSelect {height:25px; position:absolute; vertical-align:middle;}
.NFSelectLeft {float:left; width:6px; height:25px; background:url(/images/site/mainsprite.png) no-repeat 0 -265px; vertical-align:middle;}
.NFSelectRight {height:25px; width:auto; background:url(/images/site/mainsprite.png) no-repeat 100% -340px; cursor:pointer; font: .9em Arial, Verdana, Tahoma, Sans-serif; color:#7f7f7f; padding-left:3px; margin-left:3px; vertical-align:middle; padding-top: 4px;}
.NFSelectTarget {position:absolute; background:none; margin-left:-13px; margin-top:21px; z-index:3; left:0; top:0; padding-bottom:13px;}
.NFSelectOptions {position:relative; background:#f8f8f8; margin-left:16px; margin-top:0; list-style:none; padding:4px 0; color:#f8f8f8; font: .9em Arial, Verdana, Tahoma, Sans-serif; z-index:4; max-height:200px; overflow-y:auto; overflow-x:hidden; left:0; top:0; border: solid; -moz-box-shadow: 0px 3px 7px #adadad; -webkit-box-shadow: 0px 3px 7px #adadad;}
.NFSelectOptions li {padding-bottom:1px;}
.NFSelectOptions a {display:block; text-decoration:none; color:#7f7f7f; padding:2px 3px; background:#f8f8f8;}
.NFSelectOptions a.NFOptionActive {background:#fcfcfc;}
.NFSelectOptions a:hover {background:#ffffff;}
/*Focused*/
.NFfocused {border:1px dotted #666;}
/*Hovered*/
.NFh {background-position:0 100%;}
.NFhr {background-position:100% 100%;}
/*Hidden*/
.NFhidden {opacity:0; z-index:-1; position:relative;}
/*Safari*/
select, input, textarea, button {outline:none; resize:none;}
/*footer sitemap styles*/
div.footer_sitemap{
/* background-color: #f8f8f8; */
padding: 0px 0px 10px 0px;
margin-bottom: 10px;
width: 100%;
overflow: auto;
text-align:center;
}
div.footer_sitemapsection_pad {
display:inline; float:left; width:8%;
}
div.footer_sitemapsection {
/* background-color: #f8f8f8; */
width: 18%;
display: inline;
float: left;
color: #909090;
font-size: 70%;
line-height: 150%;
text-align:left;
}
div.footer_sitemapsection_title{
color: #909090;
font-size: 100%;
font-weight: bold;
padding-bottom: 5px;
}
div.footer_sitemap_hr{
clear:both;
text-align:center;
overflow: hidden;
}
hr.footer_sitemap{
color:#e0e0e0;
background-color:#e0e0e0;
height:1px;
width:88%;
}
a.footer_sitemap:active,
a.footer_sitemap:link,
a.footer_sitemap:visited  {
  COLOR: #909090;
  text-decoration: none;
    border:0;
}
a.footer_sitemap:hover {
  COLOR: #000000;
    text-decoration: none;
}
#copyr {
display: inline;
float:left;
color:#7F7F7F;
font-size:80%;
}
legend{
background-color: #fff;
color:#333;
font-weight:bold;
padding:8px;
border: 1px #d5d5d5 solid;
}
fieldset.armpp{
background-color: #ffffff;
border: 1px #d5d5d5 solid;
}
.s_container_n {
width:400px;
}
/* MODAL WINDOW STYLES FOR THE MODAL SKELETON, NOT FOR MODAL WINDOW CONTENTS */
#fade {
    display: none;
    background: #000; 
    position: absolute;
    left: 0;
    top: 0; 
    z-index: 1010;
    width: 100%;
    height: 100%;
    opacity: .80;
}
* html #fade {
    position:absolute;  /* help IE6 understand fixed position */
    height:400%;
    width:400%;
}
/* MCA */
#modalFrame { /* BE AWARE that #ndaContent has a separate width in design_start.css */
    width:610px; /* control width of modal window here ... login:610px, add to queue:610px, nda:610px */
    margin:10% 20%;  
    position:absolute;
    z-index:1015;
    display:none;
}
/* MCA */
* html #modalFrame {
    position:absolute;
}
#modalContentFrame { 
    height:220px; /* control height of modal window here ... login:220px, add to queue:420px, nda:420px, cta:400px */
    width:100%;
    margin-bottom:-100px;
}
* html #modalContentFrame { /* for IE6 only */
    /*width:82%;*/
    background-color:#fff;
    position:relative; /* MUST have this for IE6 */
    margin-bottom:-110px;
    padding-bottom:10px;
}
*:first-child+html #modalContentFrame {
    margin-bottom:-110px;
}
#modalGraphic {
    position:absolute;
    top:27px;
    left:53px;
    background:url(/images/ds_modal_arrow.png) no-repeat top left transparent;
    height:31px;
}
#modalGraphic h2 {
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    color: #128cab;
    text-align:center;
    background-color: #fff;
    margin:0 0 0 18px;
    padding:0 10px;
    line-height:2em;
}
.modalCloseWindow {
    position:absolute;
    top:0;
    right:0;
    background:url(/images/button_sprite.png) no-repeat top right transparent;
    width:36px;
    height:35px;
    z-index:1099;
    cursor:pointer;
}
.modalCloseWindow:hover {
    background: url(/images/button_sprite.png) no-repeat scroll right -35px transparent;
}
.modalTop {
    height:58px;
    background:url(/images/modal_sprite.png) no-repeat left top transparent;
    position:relative; /* needed only to position close button and h2 */
    margin-right:58px;
}
.modalTop span.modalTopCorner {
    background: url(/images/modal_sprite.png) no-repeat scroll right top transparent;
    display: block;
    height: 58px;
    width:58px;
    position:absolute;
    right:-58px;
    /*height:100%;*/ /* for IE6 only - use this is transparency js is not used */
}
.modalCenter {
    background: url(/images/right2.png) repeat-y scroll right top transparent;
    position:relative;
    zoom:1;
}
.modalLeft {
    background:url(/images/left2.png) repeat-y left top transparent;
}
.modalContainer {
    margin:0 58px;
    background-color:#fff;
    zoom:1;
}
.modalBtm {
    height:153px;
    background:url(/images/modal_sprite.png) no-repeat left bottom transparent;
    margin-right:58px;
    position:relative;
    z-index:-1;
}
.modalBtm span.modalBtmCorner {
    background: url(/images/modal_sprite.png) no-repeat scroll right bottom transparent;
    display: block;
    height:153px;
    width:58px;
    position:absolute;
    right:-58px;
    /*height:100%;*/ /* for IE6 only - use this is transparency js is not used */
}
.mainbodycontent {  
/* new rule for JP fonts */
line-height:22px;
}
/* new share this styles */
.st_sharethis_custom{
   background: url(/images/site/sharethis.gif) no-repeat scroll left top transparent;
   padding: 0px 5px 0 0;
   cursor: pointer;
}
.st_sharethis_custom_2{
   cursor: pointer;
   background: url(/images/site/share_icon.png) no-repeat scroll right bottom transparent;
   border-bottom: medium none;
   display: inline;
   padding: 5px 30px 3px 0;
   vertical-align: -15%;
   height: 22px;
   width: 33px;
}
.st_sharethis_custom_3{
   cursor: pointer;
   background: url(/images/site/share_icon.png) no-repeat scroll right bottom transparent;
   border-bottom: medium none;
   display: inline;
   padding: 2px 30px 0 0;
   vertical-align: -15%;
   height: 22px;
   width: 33px;
   float: left;
   padding: 8px 30px 0 0;
}
