

.mainbodycontent  {
    line-height: 22px;
}
/* sitemap layout */
.sitemapsection {
width: 33%;
display: inline;
float: left;
}
/* Anchors for Related Boxes */
.sidetitle a:active,
.sidetitle a:link,
.sidetitle a:visited,
.sidetitle a:hover  {
  COLOR: #128cab;
  text-decoration: none;
}
.sidetitle a:hover {
 COLOR: #FAA61A;
}
#followus{
position: absolute;
left: 390px;
padding-top: 47px;
display: none;
}

/* Right Nav Box */
.rightnav{
width: 198px;
padding-bottom: 9px;
margin-bottom: -15px;
border: none;
background-image: url(/images/site/bottomcorners_rhs.gif);  /* MT */
background-repeat: no-repeat;  /* MT */
background-position: bottom;  /* MT */
}
/* Right Nav Box when collapsed */
#rightcolbox {
    DISPLAY: none; 
WIDTH: 16px; 
HEIGHT: 200px; 
MARGIN-LEFT: 0px; 
BACKGROUND: url(/images/site/relatedcontent.gif) #f2f2f2 no-repeat center top;
border: 1px solid #D9D9D9;
}
/* Collapse Right Nav Button */
.expcolbtn{
position: relative;
top: -20px;
left: 180px;
height: 5px;
margin-bottom: -5px;
}
/* Expand Right Nav Button */
.colexpbtn{
position: relative;
left: 4px;
top: 6px;
}
/*Related Events icon & date*/
div.eventicon {width: 29px; height: 32px; background-image: url(/images/icons/event_date_sm.gif); background-repeat: no-repeat; background-position: bottom left; margin-right: 5px;} 
div.sideicon div.eventicon {width: 32px; background-image: url(/images/icons/event_date_sm.gif);margin-right: 0px; }
div.eventmonth 
{
font-size: 75%;
line-height: 12px;
color:#fff; 
width: 29px; 
height: 10px; 
text-align: center;
}
*html div.eventmonth {  
/* new rule for JP fonts*/
    margin-bottom:-4px;
    font-size:85%;
}
div.eventday {color:#128cab; font-size:85%; font-weight: 900; width: 32px; height: 22px; text-align: center; vertical-align: middle; padding-top: 3px;}
.newsfullbox .eventicon,
.newsfullbox .eventmonth,
.newsfullbox .eventday{
font-size:85%;
margin-right: 0px;
width: 32px;
}
.rnav {margin-left: 0px; padding-top: 10px; padding-bottom: 10px; text-align:left; background-color: #F2F2F2; BACKGROUND: url(/images/site/righthandcurve.gif) #f2f2f2 no-repeat center top;border-left:#d9d9d9 1px solid;
    border-right:#d9d9d9 1px solid;}
/* Right Nav Section Header (Orange arrows, title)*/     
.rightnav .sideboxhead,
.rightnav .sideboxheadmid{
padding-top: 10px;
color:#128cab;
font-size: 140%;
clear: both;
background-color: #FFFFFF; 
background-image: url(/images/site/topcorners_rhs.gif);  /* MT */
background-repeat: no-repeat;  /* MT */
background-position: 0 0;  /* MT */
width: 198px;
}

.rightnav .sideboxheadmid{
background-image: url(/images/site/topcorners_rhs_con.gif);  /* MT */
}

/* Icon to side of Related items */    
.sideicon{
float: left;
padding-left: 10px;
}
.sideicon img{
width: 32px;
}
/* Larger Icon to side of Related items (Youtube) */    
.sideiconlarge{
float: left;
clear: both;
padding-left:10px;
padding-right: 5px;
}
.sideiconlarge img{
width: 70px;
}
/* Date in Related items */    
.sidedate{
color: #808080;
font-weight: bold;
padding-left: 0px;
}
/* Standard text for Related items */    
.sidetext{
color: #000;
padding-left: 10px;
font-size: 80%;
padding-bottom: 10px;
position: relative;
word-wrap: break-word;
}
/* Standard title for Related items */    
.sidetitle{
font-size: 80%;
}
/* Standard info for Related items (small, grey text)*/    
.sideinfo{
font-size: 80%;
padding-bottom: 5px;
color: #808080;
}
.sideinfo a{
  COLOR: #7F7F7F;
}
/* Section Parts */    
.sectionsub{
color:#128cab; 
font-weight: bold;
padding-bottom: 5px;
}
.sectionicon{
float: left;
clear: both;
}
.sectionicon img{
width: 86px;
}
.sectioniconsmall{
float: left;
}
.sectionsmall {
width: 48%;
float: left;
display: inline;
}
.sectioniconsmall img{
width: 50px;
}
.sectioniconsmalltext{
width: 400px;
display: inline;
padding-bottom: 15px;
padding-left: 5px;
}
.sectionicontext{
line-height:22px;
float: left;
width: 80%;
padding-bottom: 15px;
padding-left: 5px;
}
.sectiontitle{
color:#000000;
font-weight: bold;
padding-bottom: 5px;
text-transform: capitalize;
position: relative;
top: -3px;
}
.tabsection {
width: 50%;
display: inline;
float: left;
}

.armppslide {
display: none;
}

.sectionlinks{
margin-left: 20px;
}
.sectioninfo{
color: #808080;
font-size: 80%;
padding-bottom: 5px;
}/* Search Results page styles */    
.searchicon{
float: left;
clear: both;
padding-left: 50px;
padding-right: 10px;
}
.searchicon img{
width: 86px;
}
.searchicontext{
float: right;
width: 400px;
padding-bottom: 15px;
padding-left: 5px;
padding-top: 15px;
}
.searchicontext a{
color: black;
}
.searchtitle{
color:#128cab; 
font-weight: bold;
padding-bottom: 5px;
clear: both;
font-size: 120%;
text-transform: uppercase;
float: left;
}
.searchtitleright{
float: right;
color: #808080;
}
.searchsubtitle{
color:#128cab; 
font-weight: bold;
padding-bottom: 5px;
padding-left: 50px;
clear: both;
font-size: 120%;
text-transform: uppercase;
}


/* Tooltips */
#tooltipdiv {
    border: 1px solid #000000;
    display: none;
    position: absolute;
    margin: 0;
    padding: 0.3em;
    list-style-type: none;
    background-color: #ffffff;
}
/* CPU Pages */
.introslide{
float: right;
display: none;
width: 34%;
padding-right: 35px;
}
.introtext {
line-height:22px;
display:inline;
float:left;
width:57%;
}
.cpuimage{
float: right;
display: inline;
width: 203px;
padding-left: 5px;
text-align:center;
}

.cputext {
line-height:22px;
text-align: left;
display: inline;
width: 62%;
}
.cpubuy {
        float: right;
        margin-top: 10px;
        margin-bottom: 10px;
}

.sponsoredbox{
background-color: #EFFBFB;
border: solid 1px #128cab;
padding: 10px;
padding-bottom: 20px;
width: 90%;
overflow: auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.sponsoredbox a{
position: relative;
}

.protext {
width: 203px;
text-align: center;
display: block;
line-height:15px;
}

.cpurf_tl {
    float: left;
    width: 250px;
    padding-bottom: 10px;
}
.cpurf_bl {
    float: left;
}
.cpurf_tr {
    float: right;
    width: 250px;
    padding-bottom: 10px;
} 
.cpurf_br {
    float: right;
}
.cpurf_bl{
    clear: both;
    width: 250px;
}
.cpurf_br{
    clear: both;
    width: 250px;
}
.cpurf_title {color: #128cab; font-size:120%; text-transform: uppercase;}
.cpurf_text {
    font-size:100%;
    padding-left: 12px;
    padding-bottom: 4px;
}
.cpurf_post {
    padding-left: 12px;
    padding-bottom: 8px;
}
.cpurf_post_link {
    font-weight: bold;
}
.cpurf_post_link a {
    font-size:90%;
    color: #128cab;
}
.cpurf_post_summary {
    font-size:90%;
}
.cpurf_post_dynamic {
    font-size:85%;
    color: #808080;
}
.cpurf_slideshow {
width: 240px;
}
.cpurf_slideshow_left {
  width: 23px; 
  cursor: hand; 
  height: 18px; 
    padding-top: 50px;
    float: left;
}
.cpurf_slideshow_right {
  width: 23px; 
  cursor: hand; 
  height: 18px; 
    padding-top: 50px;
    margin-left: 200px;
}
.cpurf_slideshow_center {
    float: left;
    width: 150px;
    padding-left: 10px;
}
.cpurf_slideshow_label {
    font-size:85%;
    color: #808080;
    text-align: center;
}
/* Unknown */
.rvcontainer {
    padding-left: 5px;
}
.rv_title {
    color: #128cab;
    font-size:90%;
    text-transform: uppercase;
}
.rv_entry {
    padding-top: 10px;
    padding-bottom: 20px;
}
.rv_entry_image {
    float: left;
    width: 40px;
    padding-right: 5px;
        margin-top: -5px;
}
.rv_entry_link {
    font-weight: bold;
}
.rv_entry_link a {
    font-size:80%;
    color: #128cab;
}
.rv_entry_summary {
    font-size:80%;
}
.portalcontainer {
    padding-left: 5px;
}
.portal_title {
    color: #128cab;
    font-size:90%;
    text-transform: uppercase;
}
.portal_entry {
    padding-top: 10px;
    padding-left: 14px;
}
.portal_entry_link {
    font-weight: bold;
}
.portal_entry_link a {
    font-size:80%;
    color: #128cab;
}
.portal_entry_orange {
    color:#FAA61A;
}
.portal_entry_more {
    padding-left: 155px;
}
.portal_entry_summary {
    font-size:80%;
    color: #808080;
        padding-left: 7px;
}
.regform .inputFieldRow {
    line-height: 30px;
}
.regform input.text,.regform select {
    position: absolute; left: 200px; width: 150px;
}
#twitter_div{
display: inline;
font-size: 90%;
}
#twitter_update_list{
line-height:18px;
text-indent: 0px;
margin-left: 0;
padding: 0px;
display: inline;
color:#000;
}
#twitter_update_list li{
line-height:17px;
list-style-type: none;
padding-left: 15px;
text-indent: -1.3em;
}
#twitter_update_list li a{
color: #128cab;
}
#twitter_update_list li a:hover{
color: #Faa61a;
}

.twitter_div{
display: inline;
font-size: 90%;
}
.twitter_update_list{
text-indent: 0px;
margin-left: 0;
padding: 0px;
display: inline;
color:#000;
}
.twitter_update_list li{
list-style-type: none;
padding-left: 15px;
text-indent: -1.3em;
}
.twitter_update_list li a{
color: #128cab;
}
.twitter_update_list li a:hover{
color: #Faa61a;
}

.armpp-box {
width: 130px;
height: 170px;
}

/* DesignStart BUTTON STYLES for applying custom look and feel: */        
button.btn_designstart { 
    margin-right:5px; 
    background: transparent url(/images/site/designstart-sprite.png) no-repeat left -140px; 
        width: 127px;
}
    
button.btn_designstart span {
    height:32px; 
    background: transparent url(/images/site/designstart-sprite.png) no-repeat left top; 
        width: 127px;
}
html>/**/body button.btn_designstart span {
    margin-left: -2px; 
}
    
button.btn_designstart:hover, button.btnHover { /* the redundant class is used to apply the hover state with a script */
    background-position: left -36px; 
}
    
button.btn_designstart:hover span, button.btnHover span {
    background-position: 0 -70px;
}
.hotjobshead {
    border:1px dashed #d9d9d9;
    width:auto;
    padding:10px;
    margin: 5px 0 15px 0;
    position:relative;
    overflow:auto;
}
.hotjobshead .left, .hotjobshead .right {
    float:left;
}
.hotjobshead .right {
    margin-left:7%; 
    margin-right:10px;
}
.hotjobshead .rightlogo {
    float:right;
}
.hotjobs h2 {
    color:#911b1d;
    padding-left:0;
    margin: 0 0 .1em 0;
    background-image:none;
}
.hotjobs ul {
    list-style-image:url(/images/icons/tan_square.png);
}
#progressbar{
display: none;
background-color: white;
width: 100%;
height: 100%;
filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    position: absolute; 
    top: 0px; 
    left: 0px;
        }

