/*
	All of the necessary style rules should be contained in the style attribute of
	the element. The last thing we want is for themes to conflict with our styles.
	Thus, we do some default settings:
*/
.tpp_wrapper div, .tpp_wrapper img, .tpp_wrapper a, .tpp_wrapper a:hover  {
	margin: 0;
	padding: 0;
	text-indent: 0;
	font-style: normal;
	font-weight: 400;
	background-image: none;
	border: none;
	line-height: normal;
	text-overflow: ellipsis-word;
	opacity: 1;
	outline: none;
	position: relative;
	font-color: #000;
	background-color: transparent;
}
.tpp_label {
	vertical-align:middle!important;
	padding:10px!important;
	padding-bottom:20px;
	font-weight:700;
	font-size: 14px !important
}
.tpp_num_com {
	position:absolute;
	top: 0;
	right: 0;
	float: right;
	border-radius:0px;
	padding: 1px 7px 3px 7px;
	line-height:normal;
	position:relative;
	text-align:center;
	font-size:12px;
}
.tpp_link_thumb {
	width:64px;
	margin-right:5px!important;
	float:left!important;
	display:none;
}
.tpp_link {
	text-decoration:none;
}
.tpp_bar {
	padding:3px!important;
}
.tpp_link_desc {
	display:block;
}