

.RadInput_Office2007
{
	padding:5px;
}

.RadInput_Office2007 .riTextBox, .RadInputMgr_Office2007
{
    width: 249px !important;
    /*height: 14px !important;*/
	font: normal 11px Verdana !important;  
    border: 1px solid #BBB !important;
    color: #000000 !important;	 
}

/*
.RadHoverCss_Office2007,
.RadEnabledCss_Office2007,
.RadDisabledCss_Office2007,
.RadEmptyMessageCss_Office2007,
.RadFocusedCss_Office2007,
.RadNegativeCss_Office2007,
.RadInvalidCss_Office2007
{
    width: 250px !important;
    height: 14px !important;
	font: normal 11px Verdana !important; 
}

.RadEnabledCss_Office2007, 
.RadNegativeCss_Office2007,
.RadEmptyMessageCss_Office2007,
.RadFocusedCss_Office2007
{
    border: 1px solid #BBB !important;
    color: #000000 !important;
}


div.RadMenu_Telerik .rmGroup .rmText 
 {  
    padding-left:24px; 
 } 
*/ 


 .RadTabStripTop_Outlook .rtsLevel
{
	clear:none !important;
}

.RadTabStrip_Outlook .rtsIn {
    font-size:13px !important;
}




/* RadMenu Default skin */

.RadMenu_Telerik 
{
}

.RadMenu_Telerik .rmLink
{
	text-decoration:none;
	color: #666;
	line-height: 21px;
	background: #fefefe url(Menu/MainItemBackground.gif) repeat-x;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
}

.RadMenu_Telerik .rmLink:hover,
.RadMenu_Telerik .rmFocused,
.RadMenu_Telerik .rmExpanded
{
	color: black;
}

.RadMenu_Telerik .rmText
{
	font-size: 12px;
	padding: 0px 24px;
	font-family:  Arial, Verdana;
}

.RadMenu_Telerik .rmGroup
{
	background: white;
	border: solid 1px #DBDBDB;
}


.RadMenu_Telerik .rmGroup .rmLink /* 3/21/2009 */
{
	padding: 1px !important;
}

.RadMenu_Telerik .rmGroup .rmText /* 3/21/2009 */
{
	border: 1px solid White; 
}

.RadMenu_Telerik .rmGroup .rmLink:hover .rmText, /* 3/21/2009 */
.RadMenu_Telerik .rmGroup .rmFocused .rmText,
.RadMenu_Telerik .rmGroup .rmExpanded .rmText
{
	border: 1px solid #4096EE;
	background-color: #C3D9FF;
}

.RadMenu_Telerik .rmGroup .rmLink
{
	background: #FFF; /*#f3f3f3 url(Menu/MenuItemBackground.gif) repeat-y right;*/
	border-top: solid 1px #f0f0f0;
	border-left: 0px;
	border-right: 0px;
	min-width: 120px;
	text-align: left;
	border-width:0px;
}

* html .RadMenu_Telerik .rmGroup .rmLink
{
    width: 120px;
}

.RadMenu_Telerik_rtl .rmGroup .rmLink
{
	text-align: right;
}

.RadMenu_Telerik .rmGroup .rmText
{
	border-top: solid 1px white;
	border-bottom: solid 1px white;
	padding-left: 12px;
}


.RadMenu_Telerik_rtl .rmGroup .rmText
{
	padding-left: 0px;
	padding-right: 12px;
}

.RadMenu_Telerik .rmGroup .rmLink:hover,
.RadMenu_Telerik .rmGroup .rmFocused,
.RadMenu_Telerik .rmGroup .rmExpanded
{
	/*background: #f9c973 url(Menu/menuItemHover.gif) repeat-x;*/ /* 3/21/2009 */
	font-weight: normal;
}

.RadMenu_Telerik .rmLeftArrow,
.RadMenu_Telerik .rmRightArrow,
.RadMenu_Telerik .rmTopArrow,
.RadMenu_Telerik .rmBottomArrow,
.RadMenu_Telerik .rmLeftArrowDisabled,
.RadMenu_Telerik .rmRightArrowDisabled,
.RadMenu_Telerik .rmTopArrowDisabled,
.RadMenu_Telerik .rmBottomArrowDisabled
{
	border-left:1px solid #e4e4e4;
	border-left:1px solid #e4e4e4;
	background: #efefef url(Menu/left.gif) center center no-repeat;
	width:15px;
	text-decoration:none;
	color:#efefef;
	text-indent:-3000px;
}

.RadMenu_Telerik .rmTopArrow,
.RadMenu_Telerik .rmTopArrowDisabled
{
	background-image:url(Menu/top.gif);
	width:100%;
}

.RadMenu_Telerik .rmBottomArrow,
.RadMenu_Telerik .rmBottomArrowDisabled
{
	background-image:url(Menu/bottom.gif);
	width:100%;
}

.RadMenu_Telerik .rmRightArrow,
.RadMenu_Telerik .rmLeftArrow
{
	height:100%;
}

.RadMenu_Telerik .rmRightArrow,
.RadMenu_Telerik .rmRightArrowDisabled
{
	background-image: url(Menu/right.gif);
}

.RadMenu_Telerik .rmVertical .rmSeparator .rmText
{
	padding-top: 3px;
	background: #e3e3e3 url(Menu/Separator.gif) no-repeat right;
	font-size: 0px;
	border-top:0px;
	border-bottom:0px;
}

.RadMenu_Telerik .rmExpandLeft,
.RadMenu_Telerik .rmExpandRight
{
	background:transparent url(Menu/groupImage.gif) right center no-repeat;
}

.RadMenu_Telerik_rtl .rmExpandLeft,
.RadMenu_Telerik_rtl .rmExpandRight
{
	background:transparent url(Menu/groupImageRTL.gif) left center no-repeat;
}

.RadMenu_Telerik .rmLink:hover .rmExpandLeft,
.RadMenu_Telerik .rmLink:hover .rmExpandRight,
.RadMenu_Telerik .rmFocused .rmExpandLeft,
.RadMenu_Telerik .rmFocused .rmExpandRight,
.RadMenu_Telerik .rmExpanded .rmExpandLeft,
.RadMenu_Telerik .rmExpanded .rmExpandRight
{
	background:transparent url(Menu/invertedGroupImage.gif) right center no-repeat;
}

.RadMenu_Telerik_rtl .rmLink:hover .rmExpandLeft,
.RadMenu_Telerik_rtl .rmLink:hover .rmExpandRight,
.RadMenu_Telerik_rtl .rmFocused .rmExpandLeft,
.RadMenu_Telerik_rtl .rmFocused .rmExpandRight,
.RadMenu_Telerik_rtl .rmExpanded .rmExpandLeft,
.RadMenu_Telerik_rtl .rmExpanded .rmExpandRight
{
	background:transparent url(Menu/groupImageRTL.gif) left center no-repeat;
}

.RadMenu_Telerik .rmDisabled,
.RadMenu_Telerik .rmDisabled:hover
{
	color: #ccc;
}

/*below are Q1 2009 */

/**/
.RadMenu .rmLeftImage {
    margin:0 !important;
    padding-bottom:0 !important;
}

.RadMenu .rmLink {
    padding-left: 1px !important;
    padding-right: 8px !important;
}

.RadMenu .rmHorizontal .rmText {
    padding-left: 2px !important;
}

.RadMenu .rmGroup .rmText {
    padding-left: 23px !important;
    margin:0 !important;
}

/*above are Q1 2009 */


