/* Style Sheet for make */

body {
	font-family: Arial, "Bitstream Vera Sans", Helvetica, sans-serif;
	margin: 1% 15% 1% 15%;
	background-color: #dcfdff;
}

.subtitle {
	font: larger bold ;
}

h1 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

li.section {
	margin-top: 2.00em;
}

.bqbox {
	background: #cbe7f0;
}
.bqboxtop { 
  background: url(img/ne.gif) no-repeat top right; 
}
.bqboxtop div { 
  height: 15px; 
  background: url(img/nw.gif) no-repeat top left; 
}
.bqboxbottom { 
  background: url(img/se.gif) no-repeat bottom right; 
}
.bqboxbottom div { 
  height: 15px; 
  background: url(img/sw.gif) no-repeat bottom left; 
}
.bqboxcontent {
  padding: 0px 15px 0px 15px;
}

.exbox {
	background: #FFFB5F;
	margin: 1% 5% 1% 5%;
}
.exboxtop { 
  background: url(img/exne.gif) no-repeat top right; 
}
.exboxtop div { 
  height: 15px; 
  background: url(img/exnw.gif) no-repeat top left; 
}
.exboxbottom { 
  background: url(img/exse.gif) no-repeat bottom right; 
}
.exboxbottom div { 
  height: 15px; 
  background: url(img/exsw.gif) no-repeat bottom left; 
}
.exboxcontent {
  font-family: monospace;
  white-space: pre;
  padding: 0px 15px 0px 15px;
}

.copyright {
	font: x-small italic ;
	text-align: center ;
}
